/*
Project Name: Final Project (GiGi's Beauty Corner)
Client: General Assembly
Author: Biaggi Barber
Developer @GA in NYC
*/

/*==========================================================================
   Setup
==========================================================================*/
*, *:before, *:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box; 

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
}

/*==========================================================================
   Base Styles
==========================================================================*/
/* Google Web Font (cursive) */

  @font-face {
    font-family: 'Josefin Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Josefin Slab Regular'), local('JosefinSlab-Regular'), url(https://fonts.gstatic.com/s/josefinslab/v9/lW-5wjwOK3Ps5GSJlNNkMalnqg6vBMjoPg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Pompiere';
    font-style: normal;
    font-weight: 400;
    src: local('Pompiere '), local('Pompiere-Regular'), url(https://fonts.gstatic.com/s/pompiere/v8/VEMyRoxis5Dwuyeov5Wq7DHPrvOK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Satisfy';
    font-style: normal;
    font-weight: 400;
    src: local('Satisfy Regular'), local('Satisfy-Regular'), url(https://fonts.gstatic.com/s/satisfy/v9/rP2Hp2yn6lkG50LoCZOIHTWEBlw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

html,
body {
  margin: 0;
}

html {
  font-size: 15px;
  height: 250vh;

}

body {
  height: 100%;  
  font-size: 1.5rem;
    font-family: "Josefin Slab", "Goudy Old Style", "Georgia", serif;
    background-color: #333238;
    
    /* #3f3c4e; */
}

p {
  line-height: 31.4286px;
}

/* Headings */

h1 {
    font-family: "Satisfy", "Brush Script MT", cursive;
  font-size: 12vh;
}

h1.home-title {
  margin: 10vw 0 0 2vw;
  text-shadow: 4px 4px 2px black;
  color: #7300F0;
  font-weight: 800;
}

h2 {
  font-family: "Satisfy", "Brush Script MT", cursive;
  font-size: 2.8rem;
}

h2#home-subtitle{
  margin: 5.4rem auto 2.6rem auto;
  font-weight: 100;
  text-align: center;
    color:  #fc1bd6;
    text-shadow: 4px 4px 4px black;  
    }

h2.attr{
  font-weight: 100;
  line-height: 18px;
  font-size: 1.2rem;
  text-align: center;
  margin-left: 16vw;
}

h3,
h4,
h5,
h6 {
  font-family: "Pompiere", "Papyrus", "Trebuchet MS", sans-serif;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 0.5rem;
}

/*==========================================================================
   Phrasing
==========================================================================*/

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: #e3e1e3;
}

a.fa,
a.fab,
i.fa {
  font-size: 2.1rem;
}

/*==========================================================================
   Layout
==========================================================================*/

/* Main Grid Container */
  .desktop-home {
    display: grid;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    grid-template-areas: "top-navigation top-navigation"
    "home-head home-head"
    "intro-img intro-text"
    "footer footer";
    grid-template-columns: 40% auto;
    grid-template-rows:7vh 1.25fr 1fr 20vh;
  
  }

  /* mobile Screens */



  
.desktop-home,
.mobile-home > div {
    border: none;
  }
  
 nav {
    grid-area: top-navigation;
    position: fixed;
    display: block;
    overflow: visible;
    top: 0;
    width: 100%;
    background-color: black;
    padding-right: 60px;
  }

  header.home {
    grid-area: home-head;
    display: block;
    overflow: hidden;
    width: 100%;
    background-position: center;
    background-image: url("https://i.ibb.co/PmL9xJP/makeup-2-a-min.jpg");
    background-size: cover;
    background-repeat: no-repeat;
padding: 1.8rem 0rem 0rem 1.6rem;
  }

  aside.home,
  main.home {
    display: block;
    overflow: hidden;
  }
  
  aside.home {
    grid-area: intro-img;
    float: left;
    vertical-align: middle;
    text-align: center;
  }

  .centered {
    justify-self: center;
    align-self: center;  
  }


  #profile-pic{
  border: 6px solid white;
    border-radius: 50%;
    height: 32rem;
    width: 24rem;
    position: relative;
    left: 50%;
    top: 50%; 
    margin-left: -35rem;
    margin-top: -12rem;  
  }

  
  main.home {
    grid-area: intro-text;
    float: right;
    overflow: auto;
    margin-right: 2.5rem;
    margin-left:  1rem;
    margin-top: auto;
    margin-bottom: auto;
  }

  footer {
    grid-area: footer;
    overflow: hidden;
    position: relative;
    background-color: #000000;
    display: block;
    text-align: center;
    left: 0;
    width: 100%;
    height: 14vh;
   bottom: 0;
    margin-top: -14vh;

    color: white;
box-sizing: border-box;
  }

  .header-wrapper {
    /* vertical-align: middle; */
    margin-top: auto;
    margin-bottom: auto;
  }

  .foot-wrapper {
    vertical-align: center;
    margin-bottom: 0;
    /* margin: 0rem 2rem 7rem 0rem; */

  }
  
  div#read-more {
    margin-top: 18%;
    text-align: center;
  }

/*==========================================================================
   Navigation
==========================================================================*/

nav li {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  width: auto;
  padding:20px;
  margin:10px;

}

ul {
  display: block;
  list-style-type: none;
  height: inherit; 

}

#beauty-menu {
  top: 0;
  margin: 0;
  padding: 0;
}

li.submenu {
float: right;

}


li.submenu:hover{
  left: 0;
}

li.home {
  float: left;
}

nav li a {
  display: block;
  position: relative;
	color:white;
	text-decoration:none;
	font-family: "Pompiere", "Arial Rounded MT Bold", "Helvetica Rounded", sans-serif;
  font-variant: small-caps; 
  font-weight:700;
	font-size:20px;
	line-height:32px;
	padding:0 15px;

}

  li.submenu:hover {
    position: relative;
    display: inline-block;
  }

ul.submenu-child {
    display: none;
    width: 13.28vw;
    position:absolute; 
  }

  li.submenu:hover > ul {
    right: 20px;
    display: block;
  }

  li.submenu > a {
    padding-right: 20px;
    
    } 
    
  li.submenu:hover > ul > li {
    position: relative;
    display: block;
    margin: 0;
  }


ul.submenu-child > li {
  display: block;
  width: 13.28vw;
  max-height: 999px;
  position: absolute;
  float:none; 
  }

  ul.submenu-child li a {
    padding-right: 40px;
    border-left:none; 
    border-right:none; 
    line-height:25px;
    font-size:14px; 
    text-decoration: none;
    display: block;
    width: 13.28vw;
  }

  ul.submenu-child li > a:after{
    display: block;
content: "";
height: 12px;
width: 12px;
position: absolute;
border-radius: 13px;
right: 14px;
top: 19px;
}

 
a.nav-home:hover,
#home-menu.active {
background-color: #ff809e;
  color: #000;
  text-shadow: 4px 4px 4px black; 
}

a.nav-eyes:hover,
#eyes-menu.active,
ul.nav-eyes > li a
{
  background-color: #912DFF;
  color: #000;
text-shadow: 4px 4px 4px black; 
}


a.nav-face:hover,
#face-menu.active,
ul.nav-face > li a {
background-color: #00D2FA;
  color: #000;
text-shadow: 4px 4px 4px black; 
}

a.nav-lips:hover,
#lips-menu.active,
ul.nav-lips > li a {
background-color: #FF4BE1;
  color: #000;
text-shadow: 4px 4px 4px black; 
}


a.nav-hair:hover,
#hair-menu.active,
ul.nav-hair > li a {
background-color: #f8d41b;
  color: #000;
text-shadow: 4px 4px 4px black; 
}

ul.submenu-child > li:hover {
background-color: black;
}

ul.nav-hair > li:hover{
  color: #f8d41b;
}

ul.nav-eyes > li:hover{
  color: #912DFF;
}

ul.nav-lips > li:hover{
  color: #FF4BE1;
}

ul.nav-face > li:hover{
  color: #00D2FA;
}


.submenu:hover .submenu-child {
  display: block;
}


ul.foot-li {
  list-style: none;
  top: 0;
  margin: 0;
  padding: 0;
  height: inherit; 
  }

li.foot-li {
  display: block;
  float: left;
  bottom: 0;
  padding: 8px;
  margin: 0.75rem 0 -5rem 0;
  position: relative;
  color: white;
  text-shadow: 4px 4px 4px black; 
  text-decoration: none;
  }

/*==========================================================================
   Forms
==========================================================================*/

/* .nav-home:hover,
a.active.nav-home {
    background-color: #ff809e;
    color: #000000;

}
.nav-eyes:hover,
li.e,
a.active.nav-eyes {
    background-color: #912DFF; 
    color: #000000 !important;

}

.nav-face:hover,
li.f,
a.active.nav-face {
    background-color: #00D2FA;
    color: #000000 !important;

}

.nav-lips:hover,
li.l,
a.active.nav-lips {
    background-color: #FF4BE1; 
    color: #000000 !important;

}

.nav-hair:hover,
li.h,
a.active.nav-hair {
    background-color:  #f8d41b;
    color: #000000 !important;

}

li.e:hover,
li.f:hover,
li.l:hover,
li.h:hover{
  opacity: 0.65;
    filter: alpha(opacity=75);
} */

button{
  border:none;
	background:none;
	padding:0;
	margin:0;
	width:auto;
	overflow:hidden;					
	text-align:center;	
	white-space:nowrap;	
  }
  
a.f-button, 
a.t-button,
a.i-button,
a.s-button,
a.e-button,
a.r-button,
a.y-button
{
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 8px;
}


button span a {
  vertical-align: middle;
  text-align: center;
  position: fixed;
}

.f-button,
.t-button,
.i-button,
.e-button,
.s-button,
.r-button,
.y-button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

  .f-button,
  .t-button,
  .i-button,
  .e-button,
  .s-button,
  .y-button {  
  border: 0.2rem solid white;
  color: white;
  text-shadow:   4px 4px #000000;
}

.r-button {
  border: 0.2rem solid #9c9a9a;
  background:    #000000;
  background: linear-gradient(#777574, #000000);
color: #9c9a9a;
  opacity: 0.65;
    filter: alpha(opacity=75);
}

.f-button{
  background:    #4c70ba;
background:    linear-gradient(#4c70ba, #2d4373);
}
  
.t-button{
  background:    #55abed;
background:    linear-gradient(#55abed, #147bc9);
}
  
.i-button{
  background:    #E1306C;
  background:    linear-gradient(#405de6, #e1306c, #FCAF45);
  
}

.s-button{
  background:    #fedd61;
  background:    linear-gradient(#fedd61, #dfb001);}

.e-button{
background-color: #51dbdc;
background: linear-gradient(#7be4e5, #2acfd0);
}

.y-button{
  background:    #c5302b;
background:    linear-gradient(#c5302b, #660000);
}

.fa-arrow-down {
  color: gray;
 margin-top: 0.2rem;
} 



/*==========================================================================
   Attributes
==========================================================================*/


/* .about-me {
  
  margin: 0px 0px 5px 0px;
} */

#intro-head{
  font-size: 5vw;
  text-align: center;
}

.article-text {
  text-align: justify;
}


.article-text,
#intro-head{
color: white;
margin-top:2rem;
margin-bottom:auto;
}





/* Responsive Design */

@media (min-width: 869px) and (max-width: 1160px) {
  p {
    line-height: 3vw;
  }
   .desktop-home {
    grid-template-columns: 50% auto;
  }

  #profile-pic {  
      height: 50vw;
      width: 37.5vw;
  }

  #home-intro-text {
    grid-area: intro-text;
    float: right;
    overflow: auto;
    margin-bottom: 4vh;
  }
}

@media (min-width: 629px) and (max-width: 868px) {
  html {
    font-size: 5vw;
  }
  
  body {
      font-size: 3vw;
  }
  
  p {
    line-height: 1.5rem;
  }
 
  .desktop-home {
    display: none;
  }

  .mobile-home {
    display: grid;
      width: 100%;
      min-height: 250vh;
      grid-template-areas: "top-navigation"
      "home-head"
      "intro-img"
      "intro-text"
      "footer";
      grid-template-columns: 100%;
      grid-template-rows: 8vh 90vh 60vh auto 12vh;
  }



  .nav-li {
    font-size: 0.5rem;
    padding: 1vw;

  }
.navigation {
  padding: 0 0 0 0;
}

  h1.home-title {
    margin: 3vw 1.1rem 0vh 0.8rem;
    font-size: 2.4rem;
    font-weight: 700;
  }

  h2#home-subtitle{
    margin: 1.2rem 1.2rem 0.9rem auto;
    font-size: 1.2rem;
  }

  div#read-more {
    margin-bottom: 1px;
    margin-top: 4rem;
    margin-right: 6vw;
  }

.f-button,
.t-button,
.i-button,
.e-button,
.s-button,
.r-button {
  width: 8vw;
  height: 8vw; 
}

.f-button,
.t-button,
.i-button,
.e-button,
.s-button{
  border: 0.1rem solid white;
}

.r-button {
  border: 0.1rem solid gray;
}

a.f-button, 
a.t-button,
a.i-button,
a.s-button,
a.e-button,
a.r-button
{
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 0.3rem;
}

i.fa{
  font-size: 0.8rem;
  vertical-align: middle;
}

.fa-arrow-down {
 margin-top: -0.25vw;
} 

#profile-pic {  
  height: 52vh;
  width: 39vh;
  margin-top: 6vh;
  float: none;
}

  #home-intro-text {
    margin-right: 0.5rem;
  }

  .article-text,
#intro-head{
  bottom:0;
}

#intro-head {
  font-size: 8vh;
}

.article-text {
  font-size: 4vw;
}
    .footer { 
    position: relative;
    bottom: 0;
  }

  }




  
  @media (max-width: 628px){
    html {
    font-size: 5vw;
  }
  
  body {
      font-size: 6vw;
  }
  
  p {
    line-height: 1.5rem;
  }
 
  .desktop-home {
      display: none;
    }
  
    .mobile-home {
      display: grid;
        width: 100%;
        min-height: 250vh;
        grid-template-areas: "top-navigation"
        "home-head"
        "intro-img"
        "intro-text"
        "footer";
        grid-template-columns: 100%;
        grid-template-rows: 8vh 95vh 60vh auto 12vh;
    }
  
    .nav-li {
      font-size: 3vw;

    }
    h1.home-title {
      margin: 2rem 1rem 0vh 0.7rem;
      font-size: 3.4rem;
      font-weight: 700;
    }
  
    h2#home-subtitle{
      margin: 1.8rem 1rem 0rem auto;
      font-size: 1.5rem;
    }

    div#read-more {
      margin-bottom: auto;
      margin-top: 30vw;
      margin-right: 6vw;
    }

    .f-button,
.t-button,
.i-button,
.e-button,
.s-button,
.r-button {
  width: 12vw;
  height: 12vw; 
}

.f-button,
.t-button,
.i-button,
.e-button,
.s-button{
  border: 0.1rem solid white;
}

.r-button {
  border: 0.1rem solid gray;
}

a.f-button, 
a.t-button,
a.i-button,
a.s-button,
a.e-button,
a.r-button
{
  padding: 0.2rem;
}

i.fa{
  font-size: 1.5rem;
  vertical-align: middle;
  margin-top: 0.5vh;
}

.fa-arrow-down {
 margin-top: -0.25vw;
} 

    #profile-pic {  
      height: 50vh;
      width: 36vh;
      margin-top: 8vh;
      float: none;
    }

    #intro-head {
      font-size: 6vh;
    }
    

  }

  @media (min-width:500px) and (max-width: 628px){
    
    h1.home-title {
      margin: 10vw 5vw 0vh 3.5vw;
      font-size: 15vw;
      font-weight: 700;
    }
  
    h2#home-subtitle{
      margin: 8vw 5vw 0rem auto;
      font-size: 7vw;
    }

    div#read-more {
      margin-bottom: auto;
      margin-top: 12vw;
      margin-right: 6vw;
    }
  }

  @media (max-width: 499px){
    
    h1.home-title {
      margin: 8vw 3vw 0vh 1vw;
      font-size: 18vw;
      font-weight: 700;
    }
  
    h2#home-subtitle{
      margin: 20vw 4vw 0rem -1vw;
      font-size: 8vw;
    }

    div#read-more {
      margin-bottom: auto;
      margin-top: 28vw;
      margin-right: 6vw;
    }

    #home-intro-text {
      margin-right: 4vw;
    }
  }