html,
body {
  height: 250vh;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
    font-size: 2.2rem;
    font-family: "Josefin Slab", "Goudy Old Style", "Georgia", serif;
    background-color: #3f3c4e;
}

p {
  line-height: 31.4286px;
}

.desktop-hair-main-container {
    display: grid;
    width: 100%;
    min-height: 100%;
    grid-template-areas: "top-navigation top-navigation"
    "h-tuto-text h-tuto-gal"
    "h-tuto-vid h-tuto-vid"
    "footer footer";
    grid-template-columns: 45% 55%;
    grid-template-rows: 0.75fr 5fr 5fr 0.75fr;
  }


  .desktop-hair-main-container,
  .mobile-hair-main-container > div {
      border: none;
    }

    #hair-article {
        grid-area: h-tuto-text;
    }
    
    #hair-gallery {
        grid-area: h-tuto-gal;
    }
    
    #hair-video {
        grid-area: h-tuto-vid;
    }

    .embed-container { 
      position: relative; 
      padding-bottom: 56.25%; 
      height: 0; 
      overflow: hidden; 
      max-width: 100%; 
    } 
    
    .embed-container iframe, 
    .embed-container object, 
    .embed-container embed 
    { position: absolute; 
      top: 0; 
      left: 0; 
      width: 100%; 
      height: 100%; 
    }
    
    

    @media (max-width: 868px) {
        .desktop-hair-main-container {
          display: none;
        }
      
        .mobile-hair-main-container {
          display: grid;
            width: 100%;
            min-height: 100%;
            grid-template-areas: "top-navigation"
            "h-tuto-text"
            "h-tuto-gal"
            "h-tuto-vid"
            "footer";
            grid-template-columns: 100%;
            grid-template-rows: 7.5rem 75rem auto 75rem 7rem;
        }
    }