/*  1. Document Styles
    2. Navbar
    3. Profile Card
    4. Intro Article
    5. Projects Gallery
    6. Contact Section
    7. Footer
    8. Responsive Media Queries
   */

   @import "@material/chips/mdc-chips";


/* Document Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body, 
.main-page-wrapper {
  min-height: 100vh !important;
}


html, 
body, 
header,
.main-container,
.container-fluid,
nav { 
  width: 100% !important;

}
html, 
body, 
header,
.main-container,
.container-fluid {
  overflow-x: hidden;

}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
background-color: #121212;
/* background-image: url("../images/dark_color_brick_04.jpg");
background-size: contain; */
  text-align:left;
  margin:auto;
  padding:0;
  font-size: 17px;
  font-family: nobel, sans-serif;
  font-weight: 300;
  color: white;
}


h1{
  font-size: 4.1rem !important;
}

@media screen and (max-width: 768px){
  h1{ font-size: 3rem !important;}

 }

 @media screen and (max-width: 500px){
  h1{ font-size: 2.75rem !important;}

 }

h2{
  font-size: 1.7rem !important;
}
h3{
  font-size: 1.4rem !important;
}
h4{
  font-size: 0.9rem !important;

}
h5{
  font-size: 0.7rem !important;

}
h6{
  font-size: 0.6rem !important;

}

a {color: #ff00cc;}
a:hover{color: #741EE8}

.container-fluid {
  padding: 0 !important;
}

.page-content-wrapper {
  min-width: 100vw;
 margin-left: auto;
 margin-right: auto;
}

.site-section {
  padding: 5em 0;
}

.site-footer {
  min-height: 150px;
  padding: 3em 0 0 !important;
}

/* Buttons */
button{
  font-family: nobel, sans-serif;
  text-transform: uppercase;
  display: inline-block;
}

button:focus {
outline: none !important;

}

button > a:focus,
button > a:hover,
button > a,
a,
a:hover {
  text-decoration: none;
}

.btn {
border-radius: 2px;
border: 0;
transition: .2s ease-out;
color: #fff;
margin: 0px !important;;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn:hover {
color: #000;
box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn:active, .btn:focus, .btn.active {
outline: 0;
color: #000;
}

.btn-primary {
  background-color: #ff00cc !important;
}

.btn, .btn-lg {
  font-size: 0.7rem !important;
  padding: .25rem 0.6rem !important;
}
/* Positioning and Images */

.center-frame {
text-align: center;
}

.img-frame  {
  display: flex;
overflow: hidden;
position: relative;
  /* max-width: 50vw; */
}






.img-frame-border {
  border: 3px solid white;

}

.img-frame a img {
  width: 100%;
}

/* Titles and Subtitles */

.section-title {
  font-family: 'grafolita-script', cursive;
font-weight:800;
text-shadow:
-0.85px -0.85px 0 #000,  
 0.85px -0.85px 0 #000,
 -0.85px 0.85px 0 #000,
  0.85px 0.85px 0 #000;
  color: #FF29E4;
}

span.first-name{
    color: #741EE8;
    }
    
    span.last-name{
      color: #0344FF;
    }
    span.business-name{
      font-family: 'grafolita-script', cursive;
      font-size: 1.25em;
      font-weight: 800;

    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    }

    span.business-name.text{
      font-family: 'grafolita-script', cursive;
      font-size: 1.25em;
      font-weight: 800;
    text-shadow:
    -0.65px -0.65px 0 #000,  
    0.65px -0.65px 0 #000,
    -0.65px 0.65px 0 #000,
     0.65px 0.65px 0 #000;
    }

/* Header */

header#gigi-presents-bellevisite {
    background-image: url('../images/neon-frame.jpeg'); 
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover; 
      -moz-background-size: cover;
      -o-background-size: cover; 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    height: 100vh;
    min-width: 100vw;
    font-size: 1.4em;
    font-weight: 300;
    text-align: center;
}



#gigi-presents-bellevisite p {
  color: #ff33cc;
  font-weight: 500;
  letter-spacing: 0.1;
  text-transform: uppercase;
}

.text-wrapper {
margin-top: 11vh !important;
}

@media screen and (max-width: 768px){
  .text-wrapper{
    margin-top: 12vh !important;

  }
}

@media screen and (max-width: 390px){
  .text-wrapper{
    margin-top: 17vh !important;

  }

  h1 {
font-size: 2.3em !important;
  }

  #gigi-presents-bellevisite p {
    font-size: 0.85em !important;
  }
}

@media screen and (min-width: 1400px){
  .text-wrapper{
    margin-top: 17vh !important;

  }

  h1 {
font-size: 5em !important;
  }

  #gigi-presents-bellevisite p {
    font-size: 1.1em !important;
  }
}

@media screen and (min-width: 2000px){
  .text-wrapper{
    margin-top: 20vh !important;

  }

  h1 {
font-size: 7em !important;
  }

  #gigi-presents-bellevisite p {
    font-size: 2em !important;
  }
}

.header-emp {
    font-weight: 700;
    font-style: italic;
    font-size: 1.3em;
}

.text-wrapper h4 {
    font-size: 0.8em;
    letter-spacing: 0.1em;
font-weight: 200;
font-style: italic;
}


header i {
    color: #cfc5dc;
    opacity: 30%;
    font-size: 1.5em;
    margin-top: 10vh;

}

a.enter {
  display: inline-block;
overflow: hidden;
position: relative; 
margin-right: auto;
margin-left: auto;
padding: 0 !important;    

/* margin-top: 6vh; */
/* margin-left: -18% !important; */
}

a.enter img {
    padding: 0 !important;    
    margin-right: auto;
    margin-left: auto;
}




a.enter img{
  width: 100%;
 
}

/* Middle Navbar */

nav {
  background-color: #3a3848;

  height: 11.25vh  !important;
    /* padding: 0.5em; */
    /* padding: .5rem 0.7rem !important; */
}

ul.nav {
  display: flex;
  background-color: #3a3848ae;
  flex-direction: row;
  min-width: 35vw;
margin-top: 0 !important;
  right: 0 !important;

}

.collapse.show ul.nav {
  flex-direction: column !important;
  margin-top: 1em !important;
}

ul.nav li {
  display: inline-block;
  height: 9vh  !important;

}


#bellevisite-main-nav .container{
  padding-right: 0 !important;
}
 
.nav-wrapper {
  display: flex;
align-items: center;

}

 

.navbar-expand-lg .navbar-nav {
  position: -webkit-sticky;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

  }

 #bellevisite-main-nav .container {
  position: sticky;
  top: 0;
 }
  a.nav-link {
    display: inline-block;
    width: 5em;
    height: 9vh;
    margin-left: 0.5em !important; 
    margin-top: -0.2em !important; 
    text-align: center;
    color: white;
    font-weight: 700;
    /* background-color: #6d647a; */
    text-shadow: 3px 2px 1px #302d34cd;

  }
  
  .icon {
    
    display: inline-block;
    vertical-align: middle;
    font-size: 1.25em;
    margin-top: 0vh !important;
    margin-bottom: 0.1em !important;

z-index: 1;

  }
  
 .nav-brand{
   /* display: inline-block; */
 }

.menu-text {
  font-size: 0.55rem !important;
  text-transform: uppercase;
 }

 .navbar-toggler{
  padding: .15rem .25rem !important;
  border: 1px solid #ffffff80;
  font-size: 0.6rem !important;
  color: #ffffff80;
  font-weight: 300 !important;


 }

 .navbar-toggler i {
  margin-right: 0.05em !important;

 }
  
 nav > .container {
  margin: 0 0 0 1em !important;
}





 
  
  .brand-left {
    max-width: 9.5em;
    margin-top: -1vh !important;
    margin-left: -5vw !important;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
  
  a.nav-brand img {
    /* width: 100%;
    height: auto; */
    /* margin-top: 10px; */
  }

  .navbar-toggler {
    float: right;

  }

 nav p {
  margin-top: 0vh !important;
  margin-bottom: 0 !important;
}

  .hidden-text {
visibility: hidden;
  }

  .collapse.show ul.nav a.nav-link {
    width: 6.5em !important;
  }

  .collapse.show ul.nav a > i {
    margin-right: 0.5em !important;
  }

  .collapse.show ul.nav a > p.hidden-text {
  visibility: visible;
  display: inline-block;

  margin-bottom: 0 !important;
  font-size: 0.7em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  }
  
 a.nav-link:hover, .collapse.show ul.nav a.nav-link:hover > p.hidden-text, a.active, a.navbar-toggler:hover {
      color: #ff00cc;

  }
  
  
a.nav-link:hover > p.hidden-text {
   visibility: visible;
 
        /* margin-bottom: 0 !important; */
        font-size: 0.7em;
        font-weight: 600;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #ff00cc;
  }




/* Profile Card */

.card{
  display: flex !important;
  
margin-left: auto !important;
margin-right: auto !important;
/* margin-bottom: 0 !important;
margin-top: 0 !important; */
padding: 0;
line-height: 1.1;
color: white;
}


#gigi-profile-card .wrapper {
  /* height: 100% !important; */
  /* max-height: 72vh !important;   */

  display: flex;
  border: 2px solid #fff;
  background-color: #6b5b83;
  background-image: url("../images/brick-bg-2.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}
/* 
#gigi-profile-card img{
  height: 100% !important;
  width: auto;
} */

#gigi-profile-card .container {
  overflow: hidden;
}

div.dev-skills > div.container {
  margin-top: -0.5rem !important;
    }

@media screen and (min-width: 951px){
 .card{
    max-width: 80vw !important;
  }

  div.dev-skills > div.container {
margin-top: 1.5rem !important;
  }
}

@media screen and (max-width: 950px){
  .card{
     max-width: 105vw !important;
   }
  
   div.dev-skills > div.container {
    margin-top: 0.5rem !important;
      }
 }

@media screen and (max-width: 767px){
  #gigi-profile-card{
    max-width: 45vw !important;
  }
}


@media screen and (max-width: 636px){
  #gigi-profile-card{
    max-width: 60vw !important;
  }
}

@media screen and (max-width: 477px){
  #gigi-profile-card{
    max-width: 80vw !important;
  }
}

@media screen and (max-width: 355px){
  #gigi-profile-card{
    max-width: 95vw !important;
  }
}


#gigi-profile-card h6 {
  font-size: 0.8em;
}

#gigi-profile-card .card-body {
padding: 0.9rem !important;
}

/* #bellevisite-barber-profile .img-frame {
  display: flex !important;
  max-width: 35vw !important;
  max-height: 70vh !important;
} */

.profile-picture {
  /* display: flex; */
  height: 100%;
overflow: hidden;
  background-color: #0344FF;
  background-image: url("../images/IMG_3476.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;


/* border-right: 3px solid #ffffff80;  */
}



.card-title {
  font-family: 'grafolita-script', cursive;
font-size: 2.3em !important;
font-weight: 400;
margin-bottom: 0 !important;

}


.card-title img {
  display: inline-block;
  max-width: 7.5vw;
  margin-bottom: 2vh;
}
.profile-icon{
  font-size: 1em;
  /* margin-right: 0.5vw; */
  /* margin-bottom: 1vh; */
}

p.card-text {
  font-size: 0.95em;
  font-weight: 300;
margin-bottom: 0 !important;
}

.card-body h6 {
    color: #cfc5dc !important;
    opacity: 55% !important;
    font-weight: 300;
    font-style: italic;

}

.card-footer {
padding: 0 !important;
}

.dev-skills{
    margin-top: 0.85vh;
}

ul.dev-icons {
    display: flex;
    flex-direction: column;
    list-style: none;
    /* margin-right: 3vw !important; */
}

ul.dev-icons li {
margin-bottom: 1vh !important;
/* margin-left: 3vw; */
}

#gigi-profile-card .col-sm-2 {
  padding: 0 !important;
}

i.dev-tools-icon {
  font-size: 1.6em;
  color: #741EE8;

}

.dev-tools {
  display: inline-block;
}

.progress {
    /* height: 0.8em; */
    font-size: 0.6em;
    /* margin-bottom: 4vh; */
}

.center-frame .btn{
  margin-bottom: 0.6em !important;
}
.btn-profile-card {
background-color: #ff00cc;
color: white !important;
}

.btn-profile-card a {
  color: #fff !important;
  font-size: 0.8em;

}
.btn-profile-card:hover, .btn-profile-card a:hover, .btn-profile-card:focus, .btn-profile-card a:focus {
background-color: #741EE8 !important;
color: #000 !important;

}


.btn-profile-card.active {
background-color: #741EE8 !important;
}
.btn-profile-card.active:hover {
  background-color: #741EE8;
}
.btn-profile-card.active:focus {
color: #741EE8;
}



/* Intro Article */

#about-bellevisite .container-bg {
  background-color: #001b69;
  background-image: url("../images/brick-bg-1.jpeg");
background-size: cover;
background-position: center center;
/* background-repeat: no-repeat; */
}
#about-bellevisite > h2.section-title {
  font-size: 2em !important;
  color: #ff00cc;

}

.article-container, .chip-container {
  width: 100%;
    padding-top: 8%; 
    padding-left: 5%;
padding-right: 5%;
padding-bottom: 2%;
    margin-right: auto;
    margin-left: auto;
}




/* .about-img-frame {
  display: flex;
overflow: hidden;
position: relative;
width: 40vw;
height: 60vh;
background-color: #741EE8;

}

.about-img {
  display: block;
  position: relative;
  background-image: url("../images/blue-purple-responsive-web-devices.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
width: 40vw;
height: auto;

} */

#about-bellevisite p {
  color: white;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.2 !important;
}

#about-bellevisite p a {
  font-weight: 600 !important;}

.mdc-chip {
  background-color: #0344FF;
margin: 3px 1px;
}

.mdc-chip__text{
padding: 5px;
color: #fff;
font-size: 0.8em;
}
  

/* Projects */




h4.project-title{
  color: #0344FF;
}
.img-portfolio {
  margin-bottom: 30px;
}

.img-hover:hover {
  opacity: 0.8;
}

#barber-portfolio-projects p {
  color: white;
}

#barber-portfolio-projects .img-frame {
  max-width: 100vw !important;
}

.project-text {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 80vw !important;
  padding: 0 !important;

}

  #gigi-profile-card
.btn-primary {
  background: #2C69FF;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #741EE8 !important;
}

.btn-primary.active {
  background-color: #741EE8 !important;
}



/* Contact Section */

.business-card {
  /* position: relative; */
  width: 32em !important;
  height: 16.5em !important;
  display: flex;

        background-image: url('../images/brick-bg-3.jpeg');
        background-size: 100% 100%;
        border-radius: 5%;

        
  /* 
  background-color: #000;
  /* width: 100%;
  height: auto; */
  /* margin: -8%; */
  /* margin-left: auto !important;
margin-right: auto !important; */
/* overflow: hidden; */
}

@media screen and (max-width: 576px){
  .business-card {
    width: 95vw !important;
    max-height: 40vh !important;
  }
}

@media screen and (max-width: 500px){
  .business-card {
    width: 100vw !important;
    max-height: 37vh !important;
  }

}





.bc-content {
  display: block;
  /* z-index: 999; */
        margin: 0 auto;
        left: 0;
        right: 0;
        text-align: center;
        width: 100%;
  /* position: absolute;
  z-index: 100; */
}




.logo {
  top: 5%;
  width: 32vw !important;
  height: auto;
  overflow: hidden;
}

.logo img {
  width: 100%;
}
h3.name {
  font-size: 34px !important;
  font-weight: 800;
  text-transform: uppercase;
  color: #ff00cc;
  letter-spacing: 0.05em;
  top: 40%;
  margin-top: 2%;
}

h5.job-title {
top: 60%;
letter-spacing: 0.15em;
font-style: italic;
line-height: 1 !important;

}
.card-image {
  background-color: #000;

}

.contact-container{
  display: flex;
  width: 100%;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: auto;
  margin-left: auto;
}

.bc-contact {
  /* margin-top: 0.25rem !important; */
margin-top: 2% !important;
/* bottom: 0 !important; */
margin-left: 6% !important;
margin-right: auto;

}

@media screen and (max-width: 500px){
  .business-card {
    width: 100vw !important;
    height: auto !important;
  }
  .bc-contact {
    width: 100vw !important;
    /* margin-left: 0.25rem !important; */
    /* margin-top: 1rem !important; */
  }
}

.contact-info{
  font-size: 0.6rem !important;

}
.contact-info a{
  color: #fff;

}

@media screen and (min-width: 320px) {
  .contact-info {
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));

  }
}


@media screen and (min-width: 1000px) {
  body {
    font-size: 17px;
  }
}

#bellevisite-contact-gigi i {
display: inline-block;
  color: #ff33cc;
  font-size: 0.4em;
  margin-left: 10%;


}

.no-padding {
  padding: 0 !important;
}

.no-margin
{
  margin: 0 !important;
}

.logo img {
max-width: 180px; 
max-height: 160px;
}




  .company-logo img {
max-width: 100%
  }

  #bellevisite-contact-gigi .name {
grid-area: c;
  }

  #bellevisite-contact-gigi .email {
    grid-area: d;

  }

  #bellevisite-contact-gigi .mobile {
    grid-area: e;

  }

  #bellevisite-contact-gigi .location {
    grid-area: f;

  }

  #bellevisite-contact-gigi .social {
    grid-area: g;

  }


  /* Form */
  div.form-container {
    overflow: hidden;
    width: 95vw; 
    height: 3915px; 

  
  }

  
  .form-img-container {
    max-width: 90vw !important;
  }
  @media screen and (min-width: 991px){
    .form-img-container {
      max-width: 65vw !important;
    }
  }





iframe {
  width: 100% !important;
}
  
  /* iframe {
    margin-left: auto;
    margin-right: auto;
  } */
  
  .form-img-frame {  
    display: flex;
    width: 100%;
    height: 315px;
  
  background-image: url("../images/296643810.jpeg");/* position: relative; */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

    margin-bottom: -3rem;
    margin-left: auto !important;
    margin-right: auto !important;
   
  }
  
  .form-img-frame img{
    /* display: block; */
   
    max-width: 100%;
  
  }

  @media screen and (max-width: 576px){

  }
  

/* Footer */


footer {
  height: 50px !important;
  background-color: #3a3848;
}







/* Responsive Media Queries */

@media screen and (min-width: 320px) {
  html {
    font-size: calc(24px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 30px;
  }
}


@media screen and (min-width: 1040px) {
  .profile-card {
    max-width: 80vw;
}

}



@media screen and (max-width: 992px) {
  /* nav {
    min-width: 5rem !important;
  } */


  .bg-light {
    left: 0 !important;
    position: absolute;
  }

 


.navbar-brand {
  margin-top: -0.5vh !important;
padding: 0 !important;
font-size: 1rem !important;
}
  .dev-tools-icon {
    font-size: 1.8em;
    margin-right: 3vw;
  }

  .progress{
    /* margin-bottom: 3.1vh; */

  }


}

@media screen and (min-width: 768px) and (max-width: 992px){

  .profile-card {
    min-width: 90vw !important;
    margin-left: -5% !important;
    /* margin-left: 20% !important; */
    line-height: 1.2;
    font-size: 0.9em;
  }

  
  .card-title {
    font-size: 2.6em;
      }

      .card-title img {
        max-width: 12vw;
      }

      ul.dev-icons li {
        margin-bottom: 1.1vh;
      }

      i.dev-tools-icon {
        font-size: 1.3em;
        color: #741EE8;
      
      }




@media screen and (min-width: 768px) {
  
  #sidebar-wrapper {
    margin-left: 0;
  }

  .page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

 
  
}

@media screen and (max-width: 893px){

 

nav > .container {
  margin: 0 !important;
}

}

@media screen and (max-width: 767px) {


#bellevisite-barber-profile.container {
  width: 95vw !important;
}


  .profile-card {
    max-width: 80vw;
    line-height: 1.2;
    font-size: 1em;
    margin-top: -5vh !important;
    margin-left: auto;
    margin-right: auto;
  }

  .progress {
    /* margin-bottom: 4.2vh; */
  }

  #gigi-profile-card .img-frame {
    max-width: 80vw !important;
  }

  

  #bellevisite-barber-profile li {
    margin-left: 2vw;
}

  .about-img-frame {
    width:80vw;
    height: 60vh;
    margin-top: 0;
  }

  .about-img {
    width:100%;
    height:100%;
  }

  .card-title {
    font-size: 2.2em !important;
    letter-spacing: 0;
  }

  .card-title img {
    margin-bottom: 2vh;
    max-width: 14vw;
  }


  .img-portfolio {
    margin-bottom: 15px;

}

}

@media screen and (max-width: 700px){
  #gigi-profile-card .img-frame {
    max-width: 80vw;
  }

  .profile-card {
    max-width: 60vw;
    line-height: 1.25;

  }



 
}

@media screen and (min-width: 576px) and (max-width: 768px){
  .collapse.show ul.nav {
    margin-right: -4% !important;
  }
}

@media screen and (max-width: 576px){

   header .text-wrapper{
    margin-top: 28vh;
       margin-left: auto;
       margin-right: auto;
   }

   .collapse.show ul.nav {
    margin-right: -3% !important;
   }

   a.nav-link:hover > .hidden-text {
     font-size: 0.6em !important;
   }
   h1{
       font-size: 3.1em !important;
   }
  a.nav-link:hover > p.hidden-text {
    font-size: 0.6rem;
  }

 
      
  .card-title {
font-size: 1.7em !important;
  }

  .card-body {
    padding: 1em !important;
  }

  .dev-tools-icon {
    font-size: 1.3em !important;
    margin-right: 2vw;
    /* margin-bottom: 0.7vh; */
  }

  .progress{
    /* margin-bottom: 4.8vh; */
width: 50% !important;
  }

  .business-card{
    width: 100% !important;
    height: 120% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 420px){
  .business-card{
    height: 100% !important;

  }

  .logo img {
    max-width: 140px; 
    max-height: 120px;
    }

   
}



@media screen and (min-width: 375px) and (max-width: 767px){

  .profile-card {
      max-width: 60vw !important;
    /* margin-left: 10% !important; */
    /* margin-right: auto; */
  }
}
@media screen and (max-width: 427px){
  .progress{
    /* margin-bottom: 4.9vh; */

  }
  .bc-contact {
    margin-left: 2% !important;  
  }

  .contact-info.mr-2 {
    margin-right: .25rem !important;
  }

  .contact-info.last {
    margin-left: -0.25rem!important;
  }


  i.ml-1 {
    margin-left: 0.05rem !important;
  }
}
 


@media screen and (max-width: 375px){

  #gigi-presents-bellevisite h1 {
    font-size: 2.5em !important;
}

header#gigi-presents-bellevisite {
  font-size: 1em !important;
}

#gigi-presents-bellevisite .text-wrapper {
  margin-top: 22vh !important;
}

a.enter {
  margin-top: 2rem

}



header i {
  margin-top: 25vh !important;
}
  .page-content-wrapper{
padding: 5%;
  }

 
 .img-frame {
    max-width: 85vw;
  }

  .collapse.show ul.nav {
    margin-right: -5% !important;
  }
  .profile-card {
    max-width: 80vw !important;
margin-left: -5% !important;
  }

  .progress{
    /* margin-bottom: 5vh; */
    margin-left: 3vw;
    width: 100% !important;

  }



  .card-title img {
    max-width: 20vw !important;
    margin-bottom: 1.5vh;
  }

  h3.name{
  letter-spacing: 0em !important;
  }




}


textarea {
  width: 300px !important;
}

.wsite-form-label {
  font-weight: 600;
}


@media screen and (max-width: 430px){
  .contact-info{
    font-size: 0.55rem !important;
  
  }
}

/*Form */
