    /*
    Flaticon icon font: Flaticon
    Creation date: 06/06/2019 18:58
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-sun:before { content: "\f100"; }
.flaticon-warm:before { content: "\f101"; }
.flaticon-heart:before { content: "\f102"; }
.flaticon-lock:before { content: "\f103"; }
.flaticon-search:before { content: "\f104"; }
.flaticon-love:before { content: "\f105"; }
.flaticon-letter:before { content: "\f106"; }
.flaticon-smartphone:before { content: "\f107"; }
.flaticon-book:before { content: "\f108"; }
.flaticon-romantic-music:before { content: "\f109"; }
.flaticon-gift:before { content: "\f10a"; }
.flaticon-love-1:before { content: "\f10b"; }
.flaticon-chat-bubble:before { content: "\f10c"; }
.flaticon-signal:before { content: "\f10d"; }
.flaticon-love-message:before { content: "\f10e"; }
.flaticon-rainy:before { content: "\f10f"; }
.flaticon-night:before { content: "\f110"; }
.flaticon-warm-1:before { content: "\f111"; }
.flaticon-cloudy:before { content: "\f112"; }
.flaticon-drop:before { content: "\f113"; }
.flaticon-snowflake:before { content: "\f114"; }
.flaticon-cold:before { content: "\f115"; }
.flaticon-cloud:before { content: "\f116"; }
.flaticon-cloudy-1:before { content: "\f117"; }
.flaticon-snowy:before { content: "\f118"; }
.flaticon-rainbow:before { content: "\f119"; }
.flaticon-night-1:before { content: "\f11a"; }
.flaticon-day:before { content: "\f11b"; }
.flaticon-shooting-star:before { content: "\f11c"; }
.flaticon-facebook:before { content: "\f11d"; }
.flaticon-youtube:before { content: "\f11e"; }
.flaticon-linkedin:before { content: "\f11f"; }
.flaticon-instagram:before { content: "\f120"; }
.flaticon-messenger:before { content: "\f121"; }
.flaticon-twitter:before { content: "\f122"; }
.flaticon-snapchat:before { content: "\f123"; }
.flaticon-computer:before { content: "\f124"; }
.flaticon-iphone:before { content: "\f125"; }
.flaticon-ipad:before { content: "\f126"; }
.flaticon-devices:before { content: "\f127"; }
.flaticon-first-aid-kit:before { content: "\f128"; }
.flaticon-email:before { content: "\f129"; }
.flaticon-paper-plane:before { content: "\f12a"; }
.flaticon-email-1:before { content: "\f12b"; }
.flaticon-mailbox:before { content: "\f12c"; }
.flaticon-chat:before { content: "\f12d"; }
.flaticon-email-2:before { content: "\f12e"; }
.flaticon-chat-1:before { content: "\f12f"; }
.flaticon-chat-2:before { content: "\f130"; }
.flaticon-chat-3:before { content: "\f131"; }
.flaticon-switch:before { content: "\f132"; }
.flaticon-star:before { content: "\f133"; }
.flaticon-heart-1:before { content: "\f134"; }
.flaticon-loupe:before { content: "\f135"; }
.flaticon-placeholder:before { content: "\f136"; }
.flaticon-cogwheel:before { content: "\f137"; }
.flaticon-color-palette:before { content: "\f138"; }
.flaticon-slider:before { content: "\f139"; }
.flaticon-albums:before { content: "\f13a"; }
.flaticon-creative:before { content: "\f13b"; }
.flaticon-toolbox:before { content: "\f13c"; }
.flaticon-sun-1:before { content: "\f13d"; }
.flaticon-toolbox-1:before { content: "\f13e"; }
.flaticon-internet:before { content: "\f13f"; }
.flaticon-internet-1:before { content: "\f140"; }
.flaticon-at:before { content: "\f141"; }
.flaticon-wifi:before { content: "\f142"; }
.flaticon-star-1:before { content: "\f143"; }
.flaticon-phone-call:before { content: "\f144"; }
.flaticon-link:before { content: "\f145"; }
.flaticon-settings:before { content: "\f146"; }
.flaticon-photo-camera:before { content: "\f147"; }
.flaticon-qr-code:before { content: "\f148"; }
.flaticon-skype:before { content: "\f149"; }
.flaticon-instagram-1:before { content: "\f14a"; }
.flaticon-twitter-1:before { content: "\f14b"; }
.flaticon-facebook-1:before { content: "\f14c"; }
.flaticon-youtube-1:before { content: "\f14d"; }
.flaticon-whatsapp:before { content: "\f14e"; }
.flaticon-telegram:before { content: "\f14f"; }
.flaticon-google-plus:before { content: "\f150"; }
.flaticon-dropbox:before { content: "\f151"; }
.flaticon-add:before { content: "\f152"; }
.flaticon-folder:before { content: "\f153"; }
.flaticon-calendar:before { content: "\f154"; }
.flaticon-server:before { content: "\f155"; }
.flaticon-question:before { content: "\f156"; }
.flaticon-save:before { content: "\f157"; }
.flaticon-news:before { content: "\f158"; }
.flaticon-bell:before { content: "\f159"; }
.flaticon-contract:before { content: "\f15a"; }
.flaticon-multimedia:before { content: "\f15b"; }
.flaticon-notebook:before { content: "\f15c"; }
.flaticon-photo:before { content: "\f15d"; }
.flaticon-sound:before { content: "\f15e"; }
.flaticon-attach:before { content: "\f15f"; }
.flaticon-calculator:before { content: "\f160"; }
.flaticon-global:before { content: "\f161"; }
.flaticon-download:before { content: "\f162"; }
.flaticon-edit:before { content: "\f163"; }
.flaticon-smartphone-1:before { content: "\f164"; }
.flaticon-server-1:before { content: "\f165"; }
.flaticon-internet-2:before { content: "\f166"; }
.flaticon-note:before { content: "\f167"; }
.flaticon-note-1:before { content: "\f168"; }
.flaticon-vision:before { content: "\f169"; }
.flaticon-calculator-1:before { content: "\f16a"; }
.flaticon-sign:before { content: "\f16b"; }
.flaticon-folder-1:before { content: "\f16c"; }
.flaticon-notebook-1:before { content: "\f16d"; }
.flaticon-music:before { content: "\f16e"; }
.flaticon-pass:before { content: "\f16f"; }
.flaticon-smartphone-2:before { content: "\f170"; }
.flaticon-switch-1:before { content: "\f171"; }
.flaticon-email-3:before { content: "\f172"; }
.flaticon-globe:before { content: "\f173"; }
.flaticon-chat-4:before { content: "\f174"; }
.flaticon-template:before { content: "\f175"; }
.flaticon-chat-5:before { content: "\f176"; }
.flaticon-message:before { content: "\f177"; }
.flaticon-mail:before { content: "\f178"; }
.flaticon-globe-1:before { content: "\f179"; }
.flaticon-error-404:before { content: "\f17a"; }
.flaticon-servers:before { content: "\f17b"; }
.flaticon-bug:before { content: "\f17c"; }
.flaticon-browser:before { content: "\f17d"; }
.flaticon-shield:before { content: "\f17e"; }
.flaticon-lifesaver:before { content: "\f17f"; }
.flaticon-servers-1:before { content: "\f180"; }
.flaticon-hosting:before { content: "\f181"; }
.flaticon-servers-2:before { content: "\f182"; }
.flaticon-coins:before { content: "\f183"; }
.flaticon-notes:before { content: "\f184"; }
.flaticon-piggy-bank:before { content: "\f185"; }
.flaticon-flying-money:before { content: "\f186"; }
.flaticon-dollar:before { content: "\f187"; }
.flaticon-insurance:before { content: "\f188"; }
.flaticon-piggy-bank-1:before { content: "\f189"; }
.flaticon-candles:before { content: "\f18a"; }
.flaticon-fitness:before { content: "\f18b"; }
.flaticon-yin-yang:before { content: "\f18c"; }
.flaticon-crescent-moon:before { content: "\f18d"; }
.flaticon-star-of-david:before { content: "\f18e"; }
.flaticon-ichthys:before { content: "\f18f"; }
.flaticon-holi:before { content: "\f190"; }
.flaticon-cross:before { content: "\f191"; }
.flaticon-hotel:before { content: "\f192"; }
.flaticon-swimming-pool:before { content: "\f193"; }
.flaticon-sunset:before { content: "\f194"; }
.flaticon-beach:before { content: "\f195"; }
.flaticon-ice-cream:before { content: "\f196"; }
.flaticon-beach-ball:before { content: "\f197"; }
.flaticon-calendar-1:before { content: "\f198"; }
.flaticon-airplane:before { content: "\f199"; }
.flaticon-googles:before { content: "\f19a"; }
.flaticon-summer:before { content: "\f19b"; }
.flaticon-pumpkin:before { content: "\f19c"; }
.flaticon-mortarboard:before { content: "\f19d"; }
.flaticon-leaf:before { content: "\f19e"; }
.flaticon-grapes:before { content: "\f19f"; }
.flaticon-log:before { content: "\f1a0"; }
.flaticon-pumpkin-1:before { content: "\f1a1"; }
.flaticon-squirrel:before { content: "\f1a2"; }
.flaticon-leaf-1:before { content: "\f1a3"; }
.flaticon-leaf-2:before { content: "\f1a4"; }
.flaticon-wind:before { content: "\f1a5"; }
.flaticon-bee:before { content: "\f1a6"; }
.flaticon-coat:before { content: "\f1a7"; }
.flaticon-umbrella:before { content: "\f1a8"; }
.flaticon-hazelnut:before { content: "\f1a9"; }
.flaticon-rain:before { content: "\f1aa"; }
.flaticon-apple:before { content: "\f1ab"; }
.flaticon-pear:before { content: "\f1ac"; }
.flaticon-boot:before { content: "\f1ad"; }
.flaticon-wellington-boots:before { content: "\f1ae"; }
.flaticon-sunflower:before { content: "\f1af"; }
.flaticon-acorn:before { content: "\f1b0"; }
.flaticon-storm:before { content: "\f1b1"; }
.flaticon-mushroom:before { content: "\f1b2"; }
.flaticon-wool:before { content: "\f1b3"; }
.flaticon-wind-1:before { content: "\f1b4"; }
.flaticon-broom:before { content: "\f1b5"; }
.flaticon-apple-1:before { content: "\f1b6"; }
.flaticon-tree:before { content: "\f1b7"; }
.flaticon-hive:before { content: "\f1b8"; }
.flaticon-umbrella-1:before { content: "\f1b9"; }
.flaticon-umbrella-2:before { content: "\f1ba"; }
.flaticon-pumpkin-2:before { content: "\f1bb"; }
.flaticon-mushroom-1:before { content: "\f1bc"; }
.flaticon-mushroom-2:before { content: "\f1bd"; }
.flaticon-corn:before { content: "\f1be"; }
.flaticon-bird-migration:before { content: "\f1bf"; }
.flaticon-ice-skating:before { content: "\f1c0"; }
.flaticon-pie:before { content: "\f1c1"; }
.flaticon-sunflower-1:before { content: "\f1c2"; }
.flaticon-goggles:before { content: "\f1c3"; }
.flaticon-mountain:before { content: "\f1c4"; }
.flaticon-watering-can:before { content: "\f1c5"; }
.flaticon-mill:before { content: "\f1c6"; }
.flaticon-ladybug:before { content: "\f1c7"; }
.flaticon-luggage:before { content: "\f1c8"; }
.flaticon-photo-camera-1:before { content: "\f1c9"; }
.flaticon-pineapple:before { content: "\f1ca"; }
.flaticon-beach-ball-1:before { content: "\f1cb"; }
.flaticon-clover:before { content: "\f1cc"; }
.flaticon-grapes-1:before { content: "\f1cd"; }
.flaticon-tulip:before { content: "\f1ce"; }
.flaticon-beach-chair:before { content: "\f1cf"; }
.flaticon-sun-2:before { content: "\f1d0"; }
.flaticon-christmas-tree:before { content: "\f1d1"; }
.flaticon-snowflake-1:before { content: "\f1d2"; }
.flaticon-gift-1:before { content: "\f1d3"; }
.flaticon-mistletoe:before { content: "\f1d4"; }
.flaticon-lights:before { content: "\f1d5"; }
.flaticon-candy-cane:before { content: "\f1d6"; }
.flaticon-cabin:before { content: "\f1d7"; }
.flaticon-bauble:before { content: "\f1d8"; }
.flaticon-candle:before { content: "\f1d9"; }
.flaticon-gingerbread-man:before { content: "\f1da"; }
.flaticon-plant:before { content: "\f1db"; }
.flaticon-animal-kingdom:before { content: "\f1dc"; }
.flaticon-bee-1:before { content: "\f1dd"; }
.flaticon-blossom:before { content: "\f1de"; }
.flaticon-watering-can-1:before { content: "\f1df"; }
.flaticon-bloom:before { content: "\f1e0"; }
.flaticon-sweater:before { content: "\f1e1"; }
.flaticon-botanical:before { content: "\f1e2"; }
.flaticon-bird:before { content: "\f1e3"; }
.flaticon-animals:before { content: "\f1e4"; }
.flaticon-bbq:before { content: "\f1e5"; }
.flaticon-ecology-and-environment:before { content: "\f1e6"; }
.flaticon-drink:before { content: "\f1e7"; }
.flaticon-cloud-1:before { content: "\f1e8"; }
.flaticon-animals-1:before { content: "\f1e9"; }
.flaticon-bicycle:before { content: "\f1ea"; }
.flaticon-basket:before { content: "\f1eb"; }
.flaticon-beverage:before { content: "\f1ec"; }
.flaticon-animal:before { content: "\f1ed"; }
    
    $font-Flaticon-sun: "\f100";
    $font-Flaticon-warm: "\f101";
    $font-Flaticon-heart: "\f102";
    $font-Flaticon-lock: "\f103";
    $font-Flaticon-search: "\f104";
    $font-Flaticon-love: "\f105";
    $font-Flaticon-letter: "\f106";
    $font-Flaticon-smartphone: "\f107";
    $font-Flaticon-book: "\f108";
    $font-Flaticon-romantic-music: "\f109";
    $font-Flaticon-gift: "\f10a";
    $font-Flaticon-love-1: "\f10b";
    $font-Flaticon-chat-bubble: "\f10c";
    $font-Flaticon-signal: "\f10d";
    $font-Flaticon-love-message: "\f10e";
    $font-Flaticon-rainy: "\f10f";
    $font-Flaticon-night: "\f110";
    $font-Flaticon-warm-1: "\f111";
    $font-Flaticon-cloudy: "\f112";
    $font-Flaticon-drop: "\f113";
    $font-Flaticon-snowflake: "\f114";
    $font-Flaticon-cold: "\f115";
    $font-Flaticon-cloud: "\f116";
    $font-Flaticon-cloudy-1: "\f117";
    $font-Flaticon-snowy: "\f118";
    $font-Flaticon-rainbow: "\f119";
    $font-Flaticon-night-1: "\f11a";
    $font-Flaticon-day: "\f11b";
    $font-Flaticon-shooting-star: "\f11c";
    $font-Flaticon-facebook: "\f11d";
    $font-Flaticon-youtube: "\f11e";
    $font-Flaticon-linkedin: "\f11f";
    $font-Flaticon-instagram: "\f120";
    $font-Flaticon-messenger: "\f121";
    $font-Flaticon-twitter: "\f122";
    $font-Flaticon-snapchat: "\f123";
    $font-Flaticon-computer: "\f124";
    $font-Flaticon-iphone: "\f125";
    $font-Flaticon-ipad: "\f126";
    $font-Flaticon-devices: "\f127";
    $font-Flaticon-first-aid-kit: "\f128";
    $font-Flaticon-email: "\f129";
    $font-Flaticon-paper-plane: "\f12a";
    $font-Flaticon-email-1: "\f12b";
    $font-Flaticon-mailbox: "\f12c";
    $font-Flaticon-chat: "\f12d";
    $font-Flaticon-email-2: "\f12e";
    $font-Flaticon-chat-1: "\f12f";
    $font-Flaticon-chat-2: "\f130";
    $font-Flaticon-chat-3: "\f131";
    $font-Flaticon-switch: "\f132";
    $font-Flaticon-star: "\f133";
    $font-Flaticon-heart-1: "\f134";
    $font-Flaticon-loupe: "\f135";
    $font-Flaticon-placeholder: "\f136";
    $font-Flaticon-cogwheel: "\f137";
    $font-Flaticon-color-palette: "\f138";
    $font-Flaticon-slider: "\f139";
    $font-Flaticon-albums: "\f13a";
    $font-Flaticon-creative: "\f13b";
    $font-Flaticon-toolbox: "\f13c";
    $font-Flaticon-sun-1: "\f13d";
    $font-Flaticon-toolbox-1: "\f13e";
    $font-Flaticon-internet: "\f13f";
    $font-Flaticon-internet-1: "\f140";
    $font-Flaticon-at: "\f141";
    $font-Flaticon-wifi: "\f142";
    $font-Flaticon-star-1: "\f143";
    $font-Flaticon-phone-call: "\f144";
    $font-Flaticon-link: "\f145";
    $font-Flaticon-settings: "\f146";
    $font-Flaticon-photo-camera: "\f147";
    $font-Flaticon-qr-code: "\f148";
    $font-Flaticon-skype: "\f149";
    $font-Flaticon-instagram-1: "\f14a";
    $font-Flaticon-twitter-1: "\f14b";
    $font-Flaticon-facebook-1: "\f14c";
    $font-Flaticon-youtube-1: "\f14d";
    $font-Flaticon-whatsapp: "\f14e";
    $font-Flaticon-telegram: "\f14f";
    $font-Flaticon-google-plus: "\f150";
    $font-Flaticon-dropbox: "\f151";
    $font-Flaticon-add: "\f152";
    $font-Flaticon-folder: "\f153";
    $font-Flaticon-calendar: "\f154";
    $font-Flaticon-server: "\f155";
    $font-Flaticon-question: "\f156";
    $font-Flaticon-save: "\f157";
    $font-Flaticon-news: "\f158";
    $font-Flaticon-bell: "\f159";
    $font-Flaticon-contract: "\f15a";
    $font-Flaticon-multimedia: "\f15b";
    $font-Flaticon-notebook: "\f15c";
    $font-Flaticon-photo: "\f15d";
    $font-Flaticon-sound: "\f15e";
    $font-Flaticon-attach: "\f15f";
    $font-Flaticon-calculator: "\f160";
    $font-Flaticon-global: "\f161";
    $font-Flaticon-download: "\f162";
    $font-Flaticon-edit: "\f163";
    $font-Flaticon-smartphone-1: "\f164";
    $font-Flaticon-server-1: "\f165";
    $font-Flaticon-internet-2: "\f166";
    $font-Flaticon-note: "\f167";
    $font-Flaticon-note-1: "\f168";
    $font-Flaticon-vision: "\f169";
    $font-Flaticon-calculator-1: "\f16a";
    $font-Flaticon-sign: "\f16b";
    $font-Flaticon-folder-1: "\f16c";
    $font-Flaticon-notebook-1: "\f16d";
    $font-Flaticon-music: "\f16e";
    $font-Flaticon-pass: "\f16f";
    $font-Flaticon-smartphone-2: "\f170";
    $font-Flaticon-switch-1: "\f171";
    $font-Flaticon-email-3: "\f172";
    $font-Flaticon-globe: "\f173";
    $font-Flaticon-chat-4: "\f174";
    $font-Flaticon-template: "\f175";
    $font-Flaticon-chat-5: "\f176";
    $font-Flaticon-message: "\f177";
    $font-Flaticon-mail: "\f178";
    $font-Flaticon-globe-1: "\f179";
    $font-Flaticon-error-404: "\f17a";
    $font-Flaticon-servers: "\f17b";
    $font-Flaticon-bug: "\f17c";
    $font-Flaticon-browser: "\f17d";
    $font-Flaticon-shield: "\f17e";
    $font-Flaticon-lifesaver: "\f17f";
    $font-Flaticon-servers-1: "\f180";
    $font-Flaticon-hosting: "\f181";
    $font-Flaticon-servers-2: "\f182";
    $font-Flaticon-coins: "\f183";
    $font-Flaticon-notes: "\f184";
    $font-Flaticon-piggy-bank: "\f185";
    $font-Flaticon-flying-money: "\f186";
    $font-Flaticon-dollar: "\f187";
    $font-Flaticon-insurance: "\f188";
    $font-Flaticon-piggy-bank-1: "\f189";
    $font-Flaticon-candles: "\f18a";
    $font-Flaticon-fitness: "\f18b";
    $font-Flaticon-yin-yang: "\f18c";
    $font-Flaticon-crescent-moon: "\f18d";
    $font-Flaticon-star-of-david: "\f18e";
    $font-Flaticon-ichthys: "\f18f";
    $font-Flaticon-holi: "\f190";
    $font-Flaticon-cross: "\f191";
    $font-Flaticon-hotel: "\f192";
    $font-Flaticon-swimming-pool: "\f193";
    $font-Flaticon-sunset: "\f194";
    $font-Flaticon-beach: "\f195";
    $font-Flaticon-ice-cream: "\f196";
    $font-Flaticon-beach-ball: "\f197";
    $font-Flaticon-calendar-1: "\f198";
    $font-Flaticon-airplane: "\f199";
    $font-Flaticon-googles: "\f19a";
    $font-Flaticon-summer: "\f19b";
    $font-Flaticon-pumpkin: "\f19c";
    $font-Flaticon-mortarboard: "\f19d";
    $font-Flaticon-leaf: "\f19e";
    $font-Flaticon-grapes: "\f19f";
    $font-Flaticon-log: "\f1a0";
    $font-Flaticon-pumpkin-1: "\f1a1";
    $font-Flaticon-squirrel: "\f1a2";
    $font-Flaticon-leaf-1: "\f1a3";
    $font-Flaticon-leaf-2: "\f1a4";
    $font-Flaticon-wind: "\f1a5";
    $font-Flaticon-bee: "\f1a6";
    $font-Flaticon-coat: "\f1a7";
    $font-Flaticon-umbrella: "\f1a8";
    $font-Flaticon-hazelnut: "\f1a9";
    $font-Flaticon-rain: "\f1aa";
    $font-Flaticon-apple: "\f1ab";
    $font-Flaticon-pear: "\f1ac";
    $font-Flaticon-boot: "\f1ad";
    $font-Flaticon-wellington-boots: "\f1ae";
    $font-Flaticon-sunflower: "\f1af";
    $font-Flaticon-acorn: "\f1b0";
    $font-Flaticon-storm: "\f1b1";
    $font-Flaticon-mushroom: "\f1b2";
    $font-Flaticon-wool: "\f1b3";
    $font-Flaticon-wind-1: "\f1b4";
    $font-Flaticon-broom: "\f1b5";
    $font-Flaticon-apple-1: "\f1b6";
    $font-Flaticon-tree: "\f1b7";
    $font-Flaticon-hive: "\f1b8";
    $font-Flaticon-umbrella-1: "\f1b9";
    $font-Flaticon-umbrella-2: "\f1ba";
    $font-Flaticon-pumpkin-2: "\f1bb";
    $font-Flaticon-mushroom-1: "\f1bc";
    $font-Flaticon-mushroom-2: "\f1bd";
    $font-Flaticon-corn: "\f1be";
    $font-Flaticon-bird-migration: "\f1bf";
    $font-Flaticon-ice-skating: "\f1c0";
    $font-Flaticon-pie: "\f1c1";
    $font-Flaticon-sunflower-1: "\f1c2";
    $font-Flaticon-goggles: "\f1c3";
    $font-Flaticon-mountain: "\f1c4";
    $font-Flaticon-watering-can: "\f1c5";
    $font-Flaticon-mill: "\f1c6";
    $font-Flaticon-ladybug: "\f1c7";
    $font-Flaticon-luggage: "\f1c8";
    $font-Flaticon-photo-camera-1: "\f1c9";
    $font-Flaticon-pineapple: "\f1ca";
    $font-Flaticon-beach-ball-1: "\f1cb";
    $font-Flaticon-clover: "\f1cc";
    $font-Flaticon-grapes-1: "\f1cd";
    $font-Flaticon-tulip: "\f1ce";
    $font-Flaticon-beach-chair: "\f1cf";
    $font-Flaticon-sun-2: "\f1d0";
    $font-Flaticon-christmas-tree: "\f1d1";
    $font-Flaticon-snowflake-1: "\f1d2";
    $font-Flaticon-gift-1: "\f1d3";
    $font-Flaticon-mistletoe: "\f1d4";
    $font-Flaticon-lights: "\f1d5";
    $font-Flaticon-candy-cane: "\f1d6";
    $font-Flaticon-cabin: "\f1d7";
    $font-Flaticon-bauble: "\f1d8";
    $font-Flaticon-candle: "\f1d9";
    $font-Flaticon-gingerbread-man: "\f1da";
    $font-Flaticon-plant: "\f1db";
    $font-Flaticon-animal-kingdom: "\f1dc";
    $font-Flaticon-bee-1: "\f1dd";
    $font-Flaticon-blossom: "\f1de";
    $font-Flaticon-watering-can-1: "\f1df";
    $font-Flaticon-bloom: "\f1e0";
    $font-Flaticon-sweater: "\f1e1";
    $font-Flaticon-botanical: "\f1e2";
    $font-Flaticon-bird: "\f1e3";
    $font-Flaticon-animals: "\f1e4";
    $font-Flaticon-bbq: "\f1e5";
    $font-Flaticon-ecology-and-environment: "\f1e6";
    $font-Flaticon-drink: "\f1e7";
    $font-Flaticon-cloud-1: "\f1e8";
    $font-Flaticon-animals-1: "\f1e9";
    $font-Flaticon-bicycle: "\f1ea";
    $font-Flaticon-basket: "\f1eb";
    $font-Flaticon-beverage: "\f1ec";
    $font-Flaticon-animal: "\f1ed";