    /*
    Flaticon icon font: Flaticon
    Creation date: 28/05/2019 16:31
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-sun:before { content: "\f100"; }
.flaticon-lipstick:before { content: "\f101"; }
.flaticon-warm:before { content: "\f102"; }
.flaticon-mask:before { content: "\f103"; }
.flaticon-umbrella:before { content: "\f104"; }
.flaticon-eyelashes:before { content: "\f105"; }
.flaticon-sunscreen:before { content: "\f106"; }
.flaticon-mascara:before { content: "\f107"; }
.flaticon-make-up:before { content: "\f108"; }
.flaticon-make-up-kit:before { content: "\f109"; }
.flaticon-cream:before { content: "\f10a"; }
.flaticon-brush:before { content: "\f10b"; }
.flaticon-eyeshadow:before { content: "\f10c"; }
.flaticon-gloss:before { content: "\f10d"; }
.flaticon-liner:before { content: "\f10e"; }
.flaticon-cotton-buds:before { content: "\f10f"; }
.flaticon-eyeliner:before { content: "\f110"; }
.flaticon-concealer:before { content: "\f111"; }
.flaticon-palettes:before { content: "\f112"; }
.flaticon-make-up-1:before { content: "\f113"; }
.flaticon-make-up-2:before { content: "\f114"; }
.flaticon-bronzer:before { content: "\f115"; }
.flaticon-curler:before { content: "\f116"; }
.flaticon-make-up-3:before { content: "\f117"; }
.flaticon-roll-on:before { content: "\f118"; }
.flaticon-bag:before { content: "\f119"; }
.flaticon-eyelash:before { content: "\f11a"; }
.flaticon-mirror:before { content: "\f11b"; }
.flaticon-razor:before { content: "\f11c"; }
.flaticon-bag-1:before { content: "\f11d"; }
.flaticon-mirror-1:before { content: "\f11e"; }
.flaticon-skincare:before { content: "\f11f"; }
.flaticon-hair-dryer:before { content: "\f120"; }
.flaticon-moisturizer:before { content: "\f121"; }
.flaticon-heart:before { content: "\f122"; }
.flaticon-lock:before { content: "\f123"; }
.flaticon-necklace:before { content: "\f124"; }
.flaticon-cupid:before { content: "\f125"; }
.flaticon-eye:before { content: "\f126"; }
.flaticon-kiss:before { content: "\f127"; }
.flaticon-recharge:before { content: "\f128"; }
.flaticon-heart-glasses:before { content: "\f129"; }
.flaticon-search:before { content: "\f12a"; }
.flaticon-balloon:before { content: "\f12b"; }
.flaticon-love:before { content: "\f12c"; }
.flaticon-letter:before { content: "\f12d"; }
.flaticon-diary:before { content: "\f12e"; }
.flaticon-smartphone:before { content: "\f12f"; }
.flaticon-book:before { content: "\f130"; }
.flaticon-romantic-music:before { content: "\f131"; }
.flaticon-gift:before { content: "\f132"; }
.flaticon-love-1:before { content: "\f133"; }
.flaticon-head:before { content: "\f134"; }
.flaticon-chat-bubble:before { content: "\f135"; }
.flaticon-home:before { content: "\f136"; }
.flaticon-umbrella-1:before { content: "\f137"; }
.flaticon-woman:before { content: "\f138"; }
.flaticon-card:before { content: "\f139"; }
.flaticon-chocolate:before { content: "\f13a"; }
.flaticon-hot-air-balloon:before { content: "\f13b"; }
.flaticon-jar:before { content: "\f13c"; }
.flaticon-signal:before { content: "\f13d"; }
.flaticon-love-message:before { content: "\f13e"; }
.flaticon-key:before { content: "\f13f"; }
.flaticon-hourglass:before { content: "\f140"; }
.flaticon-compass:before { content: "\f141"; }
.flaticon-heart-1:before { content: "\f142"; }
.flaticon-rainy:before { content: "\f143"; }
.flaticon-night:before { content: "\f144"; }
.flaticon-warm-1:before { content: "\f145"; }
.flaticon-cloudy:before { content: "\f146"; }
.flaticon-drop:before { content: "\f147"; }
.flaticon-snowflake:before { content: "\f148"; }
.flaticon-cold:before { content: "\f149"; }
.flaticon-cloud:before { content: "\f14a"; }
.flaticon-cloudy-1:before { content: "\f14b"; }
.flaticon-snowy:before { content: "\f14c"; }
.flaticon-rainbow:before { content: "\f14d"; }
.flaticon-compass-1:before { content: "\f14e"; }
.flaticon-wind:before { content: "\f14f"; }
.flaticon-tornado:before { content: "\f150"; }
.flaticon-night-1:before { content: "\f151"; }
.flaticon-day:before { content: "\f152"; }
.flaticon-shooting-star:before { content: "\f153"; }
.flaticon-facebook:before { content: "\f154"; }
.flaticon-youtube:before { content: "\f155"; }
.flaticon-linkedin:before { content: "\f156"; }
.flaticon-instagram:before { content: "\f157"; }
.flaticon-messenger:before { content: "\f158"; }
.flaticon-twitter:before { content: "\f159"; }
.flaticon-snapchat:before { content: "\f15a"; }
.flaticon-skype:before { content: "\f15b"; }
.flaticon-woman-lips:before { content: "\f15c"; }
.flaticon-tongue:before { content: "\f15d"; }
.flaticon-nose:before { content: "\f15e"; }
.flaticon-human-eye:before { content: "\f15f"; }
.flaticon-eyebrow:before { content: "\f160"; }
.flaticon-head-and-neck:before { content: "\f161"; }
.flaticon-computer:before { content: "\f162"; }
.flaticon-iphone:before { content: "\f163"; }
.flaticon-ipad:before { content: "\f164"; }
.flaticon-devices:before { content: "\f165"; }
.flaticon-devices-1:before { content: "\f166"; }
.flaticon-devices-2:before { content: "\f167"; }
.flaticon-first-aid-kit:before { content: "\f168"; }
.flaticon-medicine:before { content: "\f169"; }
.flaticon-pill:before { content: "\f16a"; }
.flaticon-dna:before { content: "\f16b"; }
.flaticon-email:before { content: "\f16c"; }
.flaticon-paper-plane:before { content: "\f16d"; }
.flaticon-email-1:before { content: "\f16e"; }
.flaticon-mailbox:before { content: "\f16f"; }
.flaticon-chat:before { content: "\f170"; }
.flaticon-email-2:before { content: "\f171"; }
.flaticon-chat-1:before { content: "\f172"; }
.flaticon-chat-2:before { content: "\f173"; }
.flaticon-chat-3:before { content: "\f174"; }
.flaticon-switch:before { content: "\f175"; }
.flaticon-star:before { content: "\f176"; }
.flaticon-heart-2:before { content: "\f177"; }
.flaticon-loupe:before { content: "\f178"; }
.flaticon-placeholder:before { content: "\f179"; }
.flaticon-cogwheel:before { content: "\f17a"; }
.flaticon-color-palette:before { content: "\f17b"; }
.flaticon-paint-brush:before { content: "\f17c"; }
.flaticon-canvas:before { content: "\f17d"; }
.flaticon-bucket:before { content: "\f17e"; }
.flaticon-pantone:before { content: "\f17f"; }
.flaticon-paint:before { content: "\f180"; }
.flaticon-airbrush:before { content: "\f181"; }
.flaticon-vector:before { content: "\f182"; }
.flaticon-magic-wand:before { content: "\f183"; }
.flaticon-unicorn:before { content: "\f184"; }
.flaticon-rainbow-1:before { content: "\f185"; }
.flaticon-fairy:before { content: "\f186"; }
.flaticon-broomstick:before { content: "\f187"; }
.flaticon-cloud-1:before { content: "\f188"; }
.flaticon-story:before { content: "\f189"; }
.flaticon-witch:before { content: "\f18a"; }
.flaticon-lipstick-1:before { content: "\f18b"; }
.flaticon-cosmetics:before { content: "\f18c"; }
.flaticon-makeup:before { content: "\f18d"; }
.flaticon-face:before { content: "\f18e"; }
.flaticon-moisturizer-1:before { content: "\f18f"; }
.flaticon-make-up-4:before { content: "\f190"; }
.flaticon-legs:before { content: "\f191"; }
.flaticon-face-cleanser:before { content: "\f192"; }
.flaticon-wax:before { content: "\f193"; }
.flaticon-face-mask:before { content: "\f194"; }
.flaticon-curler-1:before { content: "\f195"; }
.flaticon-concealer-1:before { content: "\f196"; }
.flaticon-eye-1:before { content: "\f197"; }
.flaticon-cream-1:before { content: "\f198"; }
.flaticon-cream-2:before { content: "\f199"; }
.flaticon-oil:before { content: "\f19a"; }
.flaticon-moisturizer-2:before { content: "\f19b"; }
.flaticon-make-up-5:before { content: "\f19c"; }
.flaticon-nail-polish:before { content: "\f19d"; }
.flaticon-barber:before { content: "\f19e"; }
.flaticon-manicure:before { content: "\f19f"; }
.flaticon-eye-shadow:before { content: "\f1a0"; }
.flaticon-massage:before { content: "\f1a1"; }
.flaticon-lips:before { content: "\f1a2"; }
.flaticon-wax-1:before { content: "\f1a3"; }
.flaticon-oil-1:before { content: "\f1a4"; }
.flaticon-cream-3:before { content: "\f1a5"; }
.flaticon-razor-1:before { content: "\f1a6"; }
.flaticon-eye-patch:before { content: "\f1a7"; }
.flaticon-spa:before { content: "\f1a8"; }
.flaticon-fitness:before { content: "\f1a9"; }
.flaticon-mascara-1:before { content: "\f1aa"; }
.flaticon-hair-dryer-1:before { content: "\f1ab"; }
.flaticon-polish:before { content: "\f1ac"; }
.flaticon-bath:before { content: "\f1ad"; }
.flaticon-cream-4:before { content: "\f1ae"; }
.flaticon-hair-straightener:before { content: "\f1af"; }
.flaticon-hair:before { content: "\f1b0"; }
.flaticon-eyebrow-1:before { content: "\f1b1"; }
.flaticon-oil-2:before { content: "\f1b2"; }
.flaticon-cream-5:before { content: "\f1b3"; }
.flaticon-cream-6:before { content: "\f1b4"; }
.flaticon-candle:before { content: "\f1b5"; }
.flaticon-mascara-2:before { content: "\f1b6"; }
.flaticon-comb:before { content: "\f1b7"; }
.flaticon-spray:before { content: "\f1b8"; }
.flaticon-lipstick-2:before { content: "\f1b9"; }
.flaticon-cream-7:before { content: "\f1ba"; }
.flaticon-aroma:before { content: "\f1bb"; }
.flaticon-soap:before { content: "\f1bc"; }
.flaticon-mortar:before { content: "\f1bd"; }
.flaticon-eye-shadow-1:before { content: "\f1be"; }
.flaticon-powder:before { content: "\f1bf"; }
.flaticon-lotion:before { content: "\f1c0"; }
.flaticon-pedicure:before { content: "\f1c1"; }
.flaticon-skincare-1:before { content: "\f1c2"; }
.flaticon-makeup-1:before { content: "\f1c3"; }
.flaticon-makeup-2:before { content: "\f1c4"; }
.flaticon-hair-1:before { content: "\f1c5"; }
.flaticon-makeup-3:before { content: "\f1c6"; }
.flaticon-beauty-salon:before { content: "\f1c7"; }
.flaticon-make-up-6:before { content: "\f1c8"; }
.flaticon-make-up-7:before { content: "\f1c9"; }
.flaticon-skincare-2:before { content: "\f1ca"; }
.flaticon-makeup-4:before { content: "\f1cb"; }
.flaticon-dye:before { content: "\f1cc"; }
.flaticon-make-up-8:before { content: "\f1cd"; }
.flaticon-healthcare-and-medical:before { content: "\f1ce"; }
.flaticon-makeup-5:before { content: "\f1cf"; }
.flaticon-make-up-9:before { content: "\f1d0"; }
.flaticon-face-cleanser-1:before { content: "\f1d1"; }
.flaticon-makeup-6:before { content: "\f1d2"; }
.flaticon-organic:before { content: "\f1d3"; }
.flaticon-heel:before { content: "\f1d4"; }
.flaticon-makeup-7:before { content: "\f1d5"; }
.flaticon-healthcare-and-medical-1:before { content: "\f1d6"; }
.flaticon-makeup-8:before { content: "\f1d7"; }
.flaticon-toothbrush:before { content: "\f1d8"; }
.flaticon-pedicure-1:before { content: "\f1d9"; }
.flaticon-sprayer:before { content: "\f1da"; }
.flaticon-eyeliner-1:before { content: "\f1db"; }
.flaticon-sauna:before { content: "\f1dc"; }
.flaticon-brush-1:before { content: "\f1dd"; }
.flaticon-kid-and-baby:before { content: "\f1de"; }
.flaticon-lipstick-3:before { content: "\f1df"; }
.flaticon-pencil:before { content: "\f1e0"; }
.flaticon-food-and-restaurant:before { content: "\f1e1"; }
.flaticon-wipes:before { content: "\f1e2"; }
.flaticon-makeup-9:before { content: "\f1e3"; }
.flaticon-perfume:before { content: "\f1e4"; }
.flaticon-makeup-10:before { content: "\f1e5"; }
.flaticon-makeup-11:before { content: "\f1e6"; }
.flaticon-razor-2:before { content: "\f1e7"; }
.flaticon-lipstick-4:before { content: "\f1e8"; }
.flaticon-eyelashes-curler:before { content: "\f1e9"; }
.flaticon-healthcare-and-medical-2:before { content: "\f1ea"; }
.flaticon-face-1:before { content: "\f1eb"; }
.flaticon-sports-and-competition:before { content: "\f1ec"; }
.flaticon-moisturizer-3:before { content: "\f1ed"; }
.flaticon-nail-polish-1:before { content: "\f1ee"; }
.flaticon-cologne:before { content: "\f1ef"; }
.flaticon-organic-oil:before { content: "\f1f0"; }
.flaticon-soap-1:before { content: "\f1f1"; }
.flaticon-comb-1:before { content: "\f1f2"; }
.flaticon-spray-1:before { content: "\f1f3"; }
.flaticon-foundation:before { content: "\f1f4"; }
.flaticon-cream-8:before { content: "\f1f5"; }
.flaticon-toner:before { content: "\f1f6"; }
.flaticon-egg:before { content: "\f1f7"; }
.flaticon-scissors:before { content: "\f1f8"; }
.flaticon-primer:before { content: "\f1f9"; }
.flaticon-brush-2:before { content: "\f1fa"; }
.flaticon-cotton:before { content: "\f1fb"; }
.flaticon-foundation-1:before { content: "\f1fc"; }
.flaticon-razor-3:before { content: "\f1fd"; }
.flaticon-heels:before { content: "\f1fe"; }
.flaticon-house:before { content: "\f1ff"; }
    
    $font-Flaticon-sun: "\f100";
    $font-Flaticon-lipstick: "\f101";
    $font-Flaticon-warm: "\f102";
    $font-Flaticon-mask: "\f103";
    $font-Flaticon-umbrella: "\f104";
    $font-Flaticon-eyelashes: "\f105";
    $font-Flaticon-sunscreen: "\f106";
    $font-Flaticon-mascara: "\f107";
    $font-Flaticon-make-up: "\f108";
    $font-Flaticon-make-up-kit: "\f109";
    $font-Flaticon-cream: "\f10a";
    $font-Flaticon-brush: "\f10b";
    $font-Flaticon-eyeshadow: "\f10c";
    $font-Flaticon-gloss: "\f10d";
    $font-Flaticon-liner: "\f10e";
    $font-Flaticon-cotton-buds: "\f10f";
    $font-Flaticon-eyeliner: "\f110";
    $font-Flaticon-concealer: "\f111";
    $font-Flaticon-palettes: "\f112";
    $font-Flaticon-make-up-1: "\f113";
    $font-Flaticon-make-up-2: "\f114";
    $font-Flaticon-bronzer: "\f115";
    $font-Flaticon-curler: "\f116";
    $font-Flaticon-make-up-3: "\f117";
    $font-Flaticon-roll-on: "\f118";
    $font-Flaticon-bag: "\f119";
    $font-Flaticon-eyelash: "\f11a";
    $font-Flaticon-mirror: "\f11b";
    $font-Flaticon-razor: "\f11c";
    $font-Flaticon-bag-1: "\f11d";
    $font-Flaticon-mirror-1: "\f11e";
    $font-Flaticon-skincare: "\f11f";
    $font-Flaticon-hair-dryer: "\f120";
    $font-Flaticon-moisturizer: "\f121";
    $font-Flaticon-heart: "\f122";
    $font-Flaticon-lock: "\f123";
    $font-Flaticon-necklace: "\f124";
    $font-Flaticon-cupid: "\f125";
    $font-Flaticon-eye: "\f126";
    $font-Flaticon-kiss: "\f127";
    $font-Flaticon-recharge: "\f128";
    $font-Flaticon-heart-glasses: "\f129";
    $font-Flaticon-search: "\f12a";
    $font-Flaticon-balloon: "\f12b";
    $font-Flaticon-love: "\f12c";
    $font-Flaticon-letter: "\f12d";
    $font-Flaticon-diary: "\f12e";
    $font-Flaticon-smartphone: "\f12f";
    $font-Flaticon-book: "\f130";
    $font-Flaticon-romantic-music: "\f131";
    $font-Flaticon-gift: "\f132";
    $font-Flaticon-love-1: "\f133";
    $font-Flaticon-head: "\f134";
    $font-Flaticon-chat-bubble: "\f135";
    $font-Flaticon-home: "\f136";
    $font-Flaticon-umbrella-1: "\f137";
    $font-Flaticon-woman: "\f138";
    $font-Flaticon-card: "\f139";
    $font-Flaticon-chocolate: "\f13a";
    $font-Flaticon-hot-air-balloon: "\f13b";
    $font-Flaticon-jar: "\f13c";
    $font-Flaticon-signal: "\f13d";
    $font-Flaticon-love-message: "\f13e";
    $font-Flaticon-key: "\f13f";
    $font-Flaticon-hourglass: "\f140";
    $font-Flaticon-compass: "\f141";
    $font-Flaticon-heart-1: "\f142";
    $font-Flaticon-rainy: "\f143";
    $font-Flaticon-night: "\f144";
    $font-Flaticon-warm-1: "\f145";
    $font-Flaticon-cloudy: "\f146";
    $font-Flaticon-drop: "\f147";
    $font-Flaticon-snowflake: "\f148";
    $font-Flaticon-cold: "\f149";
    $font-Flaticon-cloud: "\f14a";
    $font-Flaticon-cloudy-1: "\f14b";
    $font-Flaticon-snowy: "\f14c";
    $font-Flaticon-rainbow: "\f14d";
    $font-Flaticon-compass-1: "\f14e";
    $font-Flaticon-wind: "\f14f";
    $font-Flaticon-tornado: "\f150";
    $font-Flaticon-night-1: "\f151";
    $font-Flaticon-day: "\f152";
    $font-Flaticon-shooting-star: "\f153";
    $font-Flaticon-facebook: "\f154";
    $font-Flaticon-youtube: "\f155";
    $font-Flaticon-linkedin: "\f156";
    $font-Flaticon-instagram: "\f157";
    $font-Flaticon-messenger: "\f158";
    $font-Flaticon-twitter: "\f159";
    $font-Flaticon-snapchat: "\f15a";
    $font-Flaticon-skype: "\f15b";
    $font-Flaticon-woman-lips: "\f15c";
    $font-Flaticon-tongue: "\f15d";
    $font-Flaticon-nose: "\f15e";
    $font-Flaticon-human-eye: "\f15f";
    $font-Flaticon-eyebrow: "\f160";
    $font-Flaticon-head-and-neck: "\f161";
    $font-Flaticon-computer: "\f162";
    $font-Flaticon-iphone: "\f163";
    $font-Flaticon-ipad: "\f164";
    $font-Flaticon-devices: "\f165";
    $font-Flaticon-devices-1: "\f166";
    $font-Flaticon-devices-2: "\f167";
    $font-Flaticon-first-aid-kit: "\f168";
    $font-Flaticon-medicine: "\f169";
    $font-Flaticon-pill: "\f16a";
    $font-Flaticon-dna: "\f16b";
    $font-Flaticon-email: "\f16c";
    $font-Flaticon-paper-plane: "\f16d";
    $font-Flaticon-email-1: "\f16e";
    $font-Flaticon-mailbox: "\f16f";
    $font-Flaticon-chat: "\f170";
    $font-Flaticon-email-2: "\f171";
    $font-Flaticon-chat-1: "\f172";
    $font-Flaticon-chat-2: "\f173";
    $font-Flaticon-chat-3: "\f174";
    $font-Flaticon-switch: "\f175";
    $font-Flaticon-star: "\f176";
    $font-Flaticon-heart-2: "\f177";
    $font-Flaticon-loupe: "\f178";
    $font-Flaticon-placeholder: "\f179";
    $font-Flaticon-cogwheel: "\f17a";
    $font-Flaticon-color-palette: "\f17b";
    $font-Flaticon-paint-brush: "\f17c";
    $font-Flaticon-canvas: "\f17d";
    $font-Flaticon-bucket: "\f17e";
    $font-Flaticon-pantone: "\f17f";
    $font-Flaticon-paint: "\f180";
    $font-Flaticon-airbrush: "\f181";
    $font-Flaticon-vector: "\f182";
    $font-Flaticon-magic-wand: "\f183";
    $font-Flaticon-unicorn: "\f184";
    $font-Flaticon-rainbow-1: "\f185";
    $font-Flaticon-fairy: "\f186";
    $font-Flaticon-broomstick: "\f187";
    $font-Flaticon-cloud-1: "\f188";
    $font-Flaticon-story: "\f189";
    $font-Flaticon-witch: "\f18a";
    $font-Flaticon-lipstick-1: "\f18b";
    $font-Flaticon-cosmetics: "\f18c";
    $font-Flaticon-makeup: "\f18d";
    $font-Flaticon-face: "\f18e";
    $font-Flaticon-moisturizer-1: "\f18f";
    $font-Flaticon-make-up-4: "\f190";
    $font-Flaticon-legs: "\f191";
    $font-Flaticon-face-cleanser: "\f192";
    $font-Flaticon-wax: "\f193";
    $font-Flaticon-face-mask: "\f194";
    $font-Flaticon-curler-1: "\f195";
    $font-Flaticon-concealer-1: "\f196";
    $font-Flaticon-eye-1: "\f197";
    $font-Flaticon-cream-1: "\f198";
    $font-Flaticon-cream-2: "\f199";
    $font-Flaticon-oil: "\f19a";
    $font-Flaticon-moisturizer-2: "\f19b";
    $font-Flaticon-make-up-5: "\f19c";
    $font-Flaticon-nail-polish: "\f19d";
    $font-Flaticon-barber: "\f19e";
    $font-Flaticon-manicure: "\f19f";
    $font-Flaticon-eye-shadow: "\f1a0";
    $font-Flaticon-massage: "\f1a1";
    $font-Flaticon-lips: "\f1a2";
    $font-Flaticon-wax-1: "\f1a3";
    $font-Flaticon-oil-1: "\f1a4";
    $font-Flaticon-cream-3: "\f1a5";
    $font-Flaticon-razor-1: "\f1a6";
    $font-Flaticon-eye-patch: "\f1a7";
    $font-Flaticon-spa: "\f1a8";
    $font-Flaticon-fitness: "\f1a9";
    $font-Flaticon-mascara-1: "\f1aa";
    $font-Flaticon-hair-dryer-1: "\f1ab";
    $font-Flaticon-polish: "\f1ac";
    $font-Flaticon-bath: "\f1ad";
    $font-Flaticon-cream-4: "\f1ae";
    $font-Flaticon-hair-straightener: "\f1af";
    $font-Flaticon-hair: "\f1b0";
    $font-Flaticon-eyebrow-1: "\f1b1";
    $font-Flaticon-oil-2: "\f1b2";
    $font-Flaticon-cream-5: "\f1b3";
    $font-Flaticon-cream-6: "\f1b4";
    $font-Flaticon-candle: "\f1b5";
    $font-Flaticon-mascara-2: "\f1b6";
    $font-Flaticon-comb: "\f1b7";
    $font-Flaticon-spray: "\f1b8";
    $font-Flaticon-lipstick-2: "\f1b9";
    $font-Flaticon-cream-7: "\f1ba";
    $font-Flaticon-aroma: "\f1bb";
    $font-Flaticon-soap: "\f1bc";
    $font-Flaticon-mortar: "\f1bd";
    $font-Flaticon-eye-shadow-1: "\f1be";
    $font-Flaticon-powder: "\f1bf";
    $font-Flaticon-lotion: "\f1c0";
    $font-Flaticon-pedicure: "\f1c1";
    $font-Flaticon-skincare-1: "\f1c2";
    $font-Flaticon-makeup-1: "\f1c3";
    $font-Flaticon-makeup-2: "\f1c4";
    $font-Flaticon-hair-1: "\f1c5";
    $font-Flaticon-makeup-3: "\f1c6";
    $font-Flaticon-beauty-salon: "\f1c7";
    $font-Flaticon-make-up-6: "\f1c8";
    $font-Flaticon-make-up-7: "\f1c9";
    $font-Flaticon-skincare-2: "\f1ca";
    $font-Flaticon-makeup-4: "\f1cb";
    $font-Flaticon-dye: "\f1cc";
    $font-Flaticon-make-up-8: "\f1cd";
    $font-Flaticon-healthcare-and-medical: "\f1ce";
    $font-Flaticon-makeup-5: "\f1cf";
    $font-Flaticon-make-up-9: "\f1d0";
    $font-Flaticon-face-cleanser-1: "\f1d1";
    $font-Flaticon-makeup-6: "\f1d2";
    $font-Flaticon-organic: "\f1d3";
    $font-Flaticon-heel: "\f1d4";
    $font-Flaticon-makeup-7: "\f1d5";
    $font-Flaticon-healthcare-and-medical-1: "\f1d6";
    $font-Flaticon-makeup-8: "\f1d7";
    $font-Flaticon-toothbrush: "\f1d8";
    $font-Flaticon-pedicure-1: "\f1d9";
    $font-Flaticon-sprayer: "\f1da";
    $font-Flaticon-eyeliner-1: "\f1db";
    $font-Flaticon-sauna: "\f1dc";
    $font-Flaticon-brush-1: "\f1dd";
    $font-Flaticon-kid-and-baby: "\f1de";
    $font-Flaticon-lipstick-3: "\f1df";
    $font-Flaticon-pencil: "\f1e0";
    $font-Flaticon-food-and-restaurant: "\f1e1";
    $font-Flaticon-wipes: "\f1e2";
    $font-Flaticon-makeup-9: "\f1e3";
    $font-Flaticon-perfume: "\f1e4";
    $font-Flaticon-makeup-10: "\f1e5";
    $font-Flaticon-makeup-11: "\f1e6";
    $font-Flaticon-razor-2: "\f1e7";
    $font-Flaticon-lipstick-4: "\f1e8";
    $font-Flaticon-eyelashes-curler: "\f1e9";
    $font-Flaticon-healthcare-and-medical-2: "\f1ea";
    $font-Flaticon-face-1: "\f1eb";
    $font-Flaticon-sports-and-competition: "\f1ec";
    $font-Flaticon-moisturizer-3: "\f1ed";
    $font-Flaticon-nail-polish-1: "\f1ee";
    $font-Flaticon-cologne: "\f1ef";
    $font-Flaticon-organic-oil: "\f1f0";
    $font-Flaticon-soap-1: "\f1f1";
    $font-Flaticon-comb-1: "\f1f2";
    $font-Flaticon-spray-1: "\f1f3";
    $font-Flaticon-foundation: "\f1f4";
    $font-Flaticon-cream-8: "\f1f5";
    $font-Flaticon-toner: "\f1f6";
    $font-Flaticon-egg: "\f1f7";
    $font-Flaticon-scissors: "\f1f8";
    $font-Flaticon-primer: "\f1f9";
    $font-Flaticon-brush-2: "\f1fa";
    $font-Flaticon-cotton: "\f1fb";
    $font-Flaticon-foundation-1: "\f1fc";
    $font-Flaticon-razor-3: "\f1fd";
    $font-Flaticon-heels: "\f1fe";
    $font-Flaticon-house: "\f1ff";