    /*
    flaticon1 icon font: flaticon1
    Creation date: 08/06/2019 08:52
    */

    @font-face {
  font-family: "flaticon1";
  src: url("./flaticon1.eot");
  src: url("./flaticon1.eot?#iefix") format("embedded-opentype"),
       url("./flaticon1.woff2") format("woff2"),
       url("./flaticon1.woff") format("woff"),
       url("./flaticon1.ttf") format("truetype"),
       url("./flaticon1.svg#flaticon1") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "flaticon1";
    src: url("./flaticon1.svg#flaticon1") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "flaticon1";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon1-sun:before { content: "\f100"; }
.flaticon1-warm:before { content: "\f101"; }
.flaticon1-heart:before { content: "\f102"; }
.flaticon1-search:before { content: "\f103"; }
.flaticon1-love:before { content: "\f104"; }
.flaticon1-letter:before { content: "\f105"; }
.flaticon1-smartphone:before { content: "\f106"; }
.flaticon1-book:before { content: "\f107"; }
.flaticon1-romantic-music:before { content: "\f108"; }
.flaticon1-gift:before { content: "\f109"; }
.flaticon1-love-1:before { content: "\f10a"; }
.flaticon1-chat-bubble:before { content: "\f10b"; }
.flaticon1-signal:before { content: "\f10c"; }
.flaticon1-love-message:before { content: "\f10d"; }
.flaticon1-rainy:before { content: "\f10e"; }
.flaticon1-night:before { content: "\f10f"; }
.flaticon1-warm-1:before { content: "\f110"; }
.flaticon1-cloudy:before { content: "\f111"; }
.flaticon1-drop:before { content: "\f112"; }
.flaticon1-snowflake:before { content: "\f113"; }
.flaticon1-cold:before { content: "\f114"; }
.flaticon1-cloud:before { content: "\f115"; }
.flaticon1-cloudy-1:before { content: "\f116"; }
.flaticon1-snowy:before { content: "\f117"; }
.flaticon1-rainbow:before { content: "\f118"; }
.flaticon1-night-1:before { content: "\f119"; }
.flaticon1-day:before { content: "\f11a"; }
.flaticon1-shooting-star:before { content: "\f11b"; }
.flaticon1-facebook:before { content: "\f11c"; }
.flaticon1-youtube:before { content: "\f11d"; }
.flaticon1-linkedin:before { content: "\f11e"; }
.flaticon1-instagram:before { content: "\f11f"; }
.flaticon1-messenger:before { content: "\f120"; }
.flaticon1-twitter:before { content: "\f121"; }
.flaticon1-snapchat:before { content: "\f122"; }
.flaticon1-computer:before { content: "\f123"; }
.flaticon1-iphone:before { content: "\f124"; }
.flaticon1-ipad:before { content: "\f125"; }
.flaticon1-devices:before { content: "\f126"; }
.flaticon1-email:before { content: "\f127"; }
.flaticon1-paper-plane:before { content: "\f128"; }
.flaticon1-email-1:before { content: "\f129"; }
.flaticon1-mailbox:before { content: "\f12a"; }
.flaticon1-chat:before { content: "\f12b"; }
.flaticon1-email-2:before { content: "\f12c"; }
.flaticon1-chat-1:before { content: "\f12d"; }
.flaticon1-chat-2:before { content: "\f12e"; }
.flaticon1-chat-3:before { content: "\f12f"; }
.flaticon1-switch:before { content: "\f130"; }
.flaticon1-star:before { content: "\f131"; }
.flaticon1-heart-1:before { content: "\f132"; }
.flaticon1-loupe:before { content: "\f133"; }
.flaticon1-placeholder:before { content: "\f134"; }
.flaticon1-cogwheel:before { content: "\f135"; }
.flaticon1-color-palette:before { content: "\f136"; }
.flaticon1-slider:before { content: "\f137"; }
.flaticon1-albums:before { content: "\f138"; }
.flaticon1-creative:before { content: "\f139"; }
.flaticon1-toolbox:before { content: "\f13a"; }
.flaticon1-sun-1:before { content: "\f13b"; }
.flaticon1-toolbox-1:before { content: "\f13c"; }
.flaticon1-internet:before { content: "\f13d"; }
.flaticon1-internet-1:before { content: "\f13e"; }
.flaticon1-at:before { content: "\f13f"; }
.flaticon1-wifi:before { content: "\f140"; }
.flaticon1-star-1:before { content: "\f141"; }
.flaticon1-phone-call:before { content: "\f142"; }
.flaticon1-link:before { content: "\f143"; }
.flaticon1-settings:before { content: "\f144"; }
.flaticon1-photo-camera:before { content: "\f145"; }
.flaticon1-qr-code:before { content: "\f146"; }
.flaticon1-skype:before { content: "\f147"; }
.flaticon1-instagram-1:before { content: "\f148"; }
.flaticon1-twitter-1:before { content: "\f149"; }
.flaticon1-facebook-1:before { content: "\f14a"; }
.flaticon1-youtube-1:before { content: "\f14b"; }
.flaticon1-whatsapp:before { content: "\f14c"; }
.flaticon1-telegram:before { content: "\f14d"; }
.flaticon1-google-plus:before { content: "\f14e"; }
.flaticon1-dropbox:before { content: "\f14f"; }
.flaticon1-folder:before { content: "\f150"; }
.flaticon1-calendar:before { content: "\f151"; }
.flaticon1-server:before { content: "\f152"; }
.flaticon1-save:before { content: "\f153"; }
.flaticon1-news:before { content: "\f154"; }
.flaticon1-bell:before { content: "\f155"; }
.flaticon1-contract:before { content: "\f156"; }
.flaticon1-multimedia:before { content: "\f157"; }
.flaticon1-notebook:before { content: "\f158"; }
.flaticon1-photo:before { content: "\f159"; }
.flaticon1-sound:before { content: "\f15a"; }
.flaticon1-attach:before { content: "\f15b"; }
.flaticon1-calculator:before { content: "\f15c"; }
.flaticon1-global:before { content: "\f15d"; }
.flaticon1-download:before { content: "\f15e"; }
.flaticon1-edit:before { content: "\f15f"; }
.flaticon1-smartphone-1:before { content: "\f160"; }
.flaticon1-note:before { content: "\f161"; }
.flaticon1-note-1:before { content: "\f162"; }
.flaticon1-vision:before { content: "\f163"; }
.flaticon1-calculator-1:before { content: "\f164"; }
.flaticon1-sign:before { content: "\f165"; }
.flaticon1-folder-1:before { content: "\f166"; }
.flaticon1-notebook-1:before { content: "\f167"; }
.flaticon1-music:before { content: "\f168"; }
.flaticon1-pass:before { content: "\f169"; }
.flaticon1-smartphone-2:before { content: "\f16a"; }
.flaticon1-switch-1:before { content: "\f16b"; }
.flaticon1-email-3:before { content: "\f16c"; }
.flaticon1-globe:before { content: "\f16d"; }
.flaticon1-chat-4:before { content: "\f16e"; }
.flaticon1-template:before { content: "\f16f"; }
.flaticon1-chat-5:before { content: "\f170"; }
.flaticon1-message:before { content: "\f171"; }
.flaticon1-mail:before { content: "\f172"; }
.flaticon1-globe-1:before { content: "\f173"; }
.flaticon1-error-404:before { content: "\f174"; }
.flaticon1-servers:before { content: "\f175"; }
.flaticon1-bug:before { content: "\f176"; }
.flaticon1-browser:before { content: "\f177"; }
.flaticon1-shield:before { content: "\f178"; }
.flaticon1-hosting:before { content: "\f179"; }
.flaticon1-notes:before { content: "\f17a"; }
.flaticon1-piggy-bank:before { content: "\f17b"; }
.flaticon1-flying-money:before { content: "\f17c"; }
.flaticon1-dollar:before { content: "\f17d"; }
.flaticon1-insurance:before { content: "\f17e"; }
.flaticon1-piggy-bank-1:before { content: "\f17f"; }
.flaticon1-candles:before { content: "\f180"; }
.flaticon1-fitness:before { content: "\f181"; }
.flaticon1-yin-yang:before { content: "\f182"; }
.flaticon1-crescent-moon:before { content: "\f183"; }
.flaticon1-star-of-david:before { content: "\f184"; }
.flaticon1-ichthys:before { content: "\f185"; }
.flaticon1-holi:before { content: "\f186"; }
.flaticon1-cross:before { content: "\f187"; }
.flaticon1-hotel:before { content: "\f188"; }
.flaticon1-swimming-pool:before { content: "\f189"; }
.flaticon1-sunset:before { content: "\f18a"; }
.flaticon1-beach:before { content: "\f18b"; }
.flaticon1-ice-cream:before { content: "\f18c"; }
.flaticon1-beach-ball:before { content: "\f18d"; }
.flaticon1-calendar-1:before { content: "\f18e"; }
.flaticon1-airplane:before { content: "\f18f"; }
.flaticon1-googles:before { content: "\f190"; }
.flaticon1-summer:before { content: "\f191"; }
.flaticon1-mortarboard:before { content: "\f192"; }
.flaticon1-leaf:before { content: "\f193"; }
.flaticon1-grapes:before { content: "\f194"; }
.flaticon1-log:before { content: "\f195"; }
.flaticon1-pumpkin:before { content: "\f196"; }
.flaticon1-squirrel:before { content: "\f197"; }
.flaticon1-leaf-1:before { content: "\f198"; }
.flaticon1-leaf-2:before { content: "\f199"; }
.flaticon1-wind:before { content: "\f19a"; }
.flaticon1-bee:before { content: "\f19b"; }
.flaticon1-coat:before { content: "\f19c"; }
.flaticon1-umbrella:before { content: "\f19d"; }
.flaticon1-hazelnut:before { content: "\f19e"; }
.flaticon1-rain:before { content: "\f19f"; }
.flaticon1-apple:before { content: "\f1a0"; }
.flaticon1-pear:before { content: "\f1a1"; }
.flaticon1-boot:before { content: "\f1a2"; }
.flaticon1-wellington-boots:before { content: "\f1a3"; }
.flaticon1-sunflower:before { content: "\f1a4"; }
.flaticon1-acorn:before { content: "\f1a5"; }
.flaticon1-storm:before { content: "\f1a6"; }
.flaticon1-mushroom:before { content: "\f1a7"; }
.flaticon1-wool:before { content: "\f1a8"; }
.flaticon1-broom:before { content: "\f1a9"; }
.flaticon1-apple-1:before { content: "\f1aa"; }
.flaticon1-tree:before { content: "\f1ab"; }
.flaticon1-hive:before { content: "\f1ac"; }
.flaticon1-umbrella-1:before { content: "\f1ad"; }
.flaticon1-umbrella-2:before { content: "\f1ae"; }
.flaticon1-pumpkin-1:before { content: "\f1af"; }
.flaticon1-mushroom-1:before { content: "\f1b0"; }
.flaticon1-mushroom-2:before { content: "\f1b1"; }
.flaticon1-corn:before { content: "\f1b2"; }
.flaticon1-bird-migration:before { content: "\f1b3"; }
.flaticon1-ice-skating:before { content: "\f1b4"; }
.flaticon1-pie:before { content: "\f1b5"; }
.flaticon1-sunflower-1:before { content: "\f1b6"; }
.flaticon1-goggles:before { content: "\f1b7"; }
.flaticon1-mountain:before { content: "\f1b8"; }
.flaticon1-watering-can:before { content: "\f1b9"; }
.flaticon1-mill:before { content: "\f1ba"; }
.flaticon1-ladybug:before { content: "\f1bb"; }
.flaticon1-luggage:before { content: "\f1bc"; }
.flaticon1-photo-camera-1:before { content: "\f1bd"; }
.flaticon1-pineapple:before { content: "\f1be"; }
.flaticon1-beach-ball-1:before { content: "\f1bf"; }
.flaticon1-clover:before { content: "\f1c0"; }
.flaticon1-grapes-1:before { content: "\f1c1"; }
.flaticon1-tulip:before { content: "\f1c2"; }
.flaticon1-beach-chair:before { content: "\f1c3"; }
.flaticon1-sun-2:before { content: "\f1c4"; }
.flaticon1-christmas-tree:before { content: "\f1c5"; }
.flaticon1-snowflake-1:before { content: "\f1c6"; }
.flaticon1-gift-1:before { content: "\f1c7"; }
.flaticon1-mistletoe:before { content: "\f1c8"; }
.flaticon1-lights:before { content: "\f1c9"; }
.flaticon1-candy-cane:before { content: "\f1ca"; }
.flaticon1-cabin:before { content: "\f1cb"; }
.flaticon1-bauble:before { content: "\f1cc"; }
.flaticon1-gingerbread-man:before { content: "\f1cd"; }
.flaticon1-plant:before { content: "\f1ce"; }
.flaticon1-animal-kingdom:before { content: "\f1cf"; }
.flaticon1-bee-1:before { content: "\f1d0"; }
.flaticon1-blossom:before { content: "\f1d1"; }
.flaticon1-watering-can-1:before { content: "\f1d2"; }
.flaticon1-bloom:before { content: "\f1d3"; }
.flaticon1-sweater:before { content: "\f1d4"; }
.flaticon1-botanical:before { content: "\f1d5"; }
.flaticon1-animals:before { content: "\f1d6"; }
.flaticon1-bbq:before { content: "\f1d7"; }
.flaticon1-ecology-and-environment:before { content: "\f1d8"; }
.flaticon1-drink:before { content: "\f1d9"; }
.flaticon1-cloud-1:before { content: "\f1da"; }
.flaticon1-animals-1:before { content: "\f1db"; }
.flaticon1-bicycle:before { content: "\f1dc"; }
.flaticon1-basket:before { content: "\f1dd"; }
.flaticon1-beverage:before { content: "\f1de"; }
.flaticon1-animal:before { content: "\f1df"; }
.flaticon1-house:before { content: "\f1e0"; }
.flaticon1-sleep:before { content: "\f1e1"; }
.flaticon1-book-1:before { content: "\f1e2"; }
.flaticon1-bed:before { content: "\f1e3"; }
.flaticon1-chat-6:before { content: "\f1e4"; }
.flaticon1-group:before { content: "\f1e5"; }
.flaticon1-clean:before { content: "\f1e6"; }
.flaticon1-book-2:before { content: "\f1e7"; }
.flaticon1-newspaper:before { content: "\f1e8"; }
.flaticon1-wallet:before { content: "\f1e9"; }
.flaticon1-chat-7:before { content: "\f1ea"; }
.flaticon1-computer-1:before { content: "\f1eb"; }
.flaticon1-online-learning:before { content: "\f1ec"; }
.flaticon1-learning:before { content: "\f1ed"; }
.flaticon1-elearning:before { content: "\f1ee"; }
.flaticon1-music-and-multimedia:before { content: "\f1ef"; }
.flaticon1-music-and-multimedia-1:before { content: "\f1f0"; }
.flaticon1-article:before { content: "\f1f1"; }
.flaticon1-group-1:before { content: "\f1f2"; }
.flaticon1-earth-globe:before { content: "\f1f3"; }
.flaticon1-internet-2:before { content: "\f1f4"; }
.flaticon1-new:before { content: "\f1f5"; }
.flaticon1-blog:before { content: "\f1f6"; }
.flaticon1-theme:before { content: "\f1f7"; }
.flaticon1-cosmetics:before { content: "\f1f8"; }
    
    $font-flaticon1-sun: "\f100";
    $font-flaticon1-warm: "\f101";
    $font-flaticon1-heart: "\f102";
    $font-flaticon1-search: "\f103";
    $font-flaticon1-love: "\f104";
    $font-flaticon1-letter: "\f105";
    $font-flaticon1-smartphone: "\f106";
    $font-flaticon1-book: "\f107";
    $font-flaticon1-romantic-music: "\f108";
    $font-flaticon1-gift: "\f109";
    $font-flaticon1-love-1: "\f10a";
    $font-flaticon1-chat-bubble: "\f10b";
    $font-flaticon1-signal: "\f10c";
    $font-flaticon1-love-message: "\f10d";
    $font-flaticon1-rainy: "\f10e";
    $font-flaticon1-night: "\f10f";
    $font-flaticon1-warm-1: "\f110";
    $font-flaticon1-cloudy: "\f111";
    $font-flaticon1-drop: "\f112";
    $font-flaticon1-snowflake: "\f113";
    $font-flaticon1-cold: "\f114";
    $font-flaticon1-cloud: "\f115";
    $font-flaticon1-cloudy-1: "\f116";
    $font-flaticon1-snowy: "\f117";
    $font-flaticon1-rainbow: "\f118";
    $font-flaticon1-night-1: "\f119";
    $font-flaticon1-day: "\f11a";
    $font-flaticon1-shooting-star: "\f11b";
    $font-flaticon1-facebook: "\f11c";
    $font-flaticon1-youtube: "\f11d";
    $font-flaticon1-linkedin: "\f11e";
    $font-flaticon1-instagram: "\f11f";
    $font-flaticon1-messenger: "\f120";
    $font-flaticon1-twitter: "\f121";
    $font-flaticon1-snapchat: "\f122";
    $font-flaticon1-computer: "\f123";
    $font-flaticon1-iphone: "\f124";
    $font-flaticon1-ipad: "\f125";
    $font-flaticon1-devices: "\f126";
    $font-flaticon1-email: "\f127";
    $font-flaticon1-paper-plane: "\f128";
    $font-flaticon1-email-1: "\f129";
    $font-flaticon1-mailbox: "\f12a";
    $font-flaticon1-chat: "\f12b";
    $font-flaticon1-email-2: "\f12c";
    $font-flaticon1-chat-1: "\f12d";
    $font-flaticon1-chat-2: "\f12e";
    $font-flaticon1-chat-3: "\f12f";
    $font-flaticon1-switch: "\f130";
    $font-flaticon1-star: "\f131";
    $font-flaticon1-heart-1: "\f132";
    $font-flaticon1-loupe: "\f133";
    $font-flaticon1-placeholder: "\f134";
    $font-flaticon1-cogwheel: "\f135";
    $font-flaticon1-color-palette: "\f136";
    $font-flaticon1-slider: "\f137";
    $font-flaticon1-albums: "\f138";
    $font-flaticon1-creative: "\f139";
    $font-flaticon1-toolbox: "\f13a";
    $font-flaticon1-sun-1: "\f13b";
    $font-flaticon1-toolbox-1: "\f13c";
    $font-flaticon1-internet: "\f13d";
    $font-flaticon1-internet-1: "\f13e";
    $font-flaticon1-at: "\f13f";
    $font-flaticon1-wifi: "\f140";
    $font-flaticon1-star-1: "\f141";
    $font-flaticon1-phone-call: "\f142";
    $font-flaticon1-link: "\f143";
    $font-flaticon1-settings: "\f144";
    $font-flaticon1-photo-camera: "\f145";
    $font-flaticon1-qr-code: "\f146";
    $font-flaticon1-skype: "\f147";
    $font-flaticon1-instagram-1: "\f148";
    $font-flaticon1-twitter-1: "\f149";
    $font-flaticon1-facebook-1: "\f14a";
    $font-flaticon1-youtube-1: "\f14b";
    $font-flaticon1-whatsapp: "\f14c";
    $font-flaticon1-telegram: "\f14d";
    $font-flaticon1-google-plus: "\f14e";
    $font-flaticon1-dropbox: "\f14f";
    $font-flaticon1-folder: "\f150";
    $font-flaticon1-calendar: "\f151";
    $font-flaticon1-server: "\f152";
    $font-flaticon1-save: "\f153";
    $font-flaticon1-news: "\f154";
    $font-flaticon1-bell: "\f155";
    $font-flaticon1-contract: "\f156";
    $font-flaticon1-multimedia: "\f157";
    $font-flaticon1-notebook: "\f158";
    $font-flaticon1-photo: "\f159";
    $font-flaticon1-sound: "\f15a";
    $font-flaticon1-attach: "\f15b";
    $font-flaticon1-calculator: "\f15c";
    $font-flaticon1-global: "\f15d";
    $font-flaticon1-download: "\f15e";
    $font-flaticon1-edit: "\f15f";
    $font-flaticon1-smartphone-1: "\f160";
    $font-flaticon1-note: "\f161";
    $font-flaticon1-note-1: "\f162";
    $font-flaticon1-vision: "\f163";
    $font-flaticon1-calculator-1: "\f164";
    $font-flaticon1-sign: "\f165";
    $font-flaticon1-folder-1: "\f166";
    $font-flaticon1-notebook-1: "\f167";
    $font-flaticon1-music: "\f168";
    $font-flaticon1-pass: "\f169";
    $font-flaticon1-smartphone-2: "\f16a";
    $font-flaticon1-switch-1: "\f16b";
    $font-flaticon1-email-3: "\f16c";
    $font-flaticon1-globe: "\f16d";
    $font-flaticon1-chat-4: "\f16e";
    $font-flaticon1-template: "\f16f";
    $font-flaticon1-chat-5: "\f170";
    $font-flaticon1-message: "\f171";
    $font-flaticon1-mail: "\f172";
    $font-flaticon1-globe-1: "\f173";
    $font-flaticon1-error-404: "\f174";
    $font-flaticon1-servers: "\f175";
    $font-flaticon1-bug: "\f176";
    $font-flaticon1-browser: "\f177";
    $font-flaticon1-shield: "\f178";
    $font-flaticon1-hosting: "\f179";
    $font-flaticon1-notes: "\f17a";
    $font-flaticon1-piggy-bank: "\f17b";
    $font-flaticon1-flying-money: "\f17c";
    $font-flaticon1-dollar: "\f17d";
    $font-flaticon1-insurance: "\f17e";
    $font-flaticon1-piggy-bank-1: "\f17f";
    $font-flaticon1-candles: "\f180";
    $font-flaticon1-fitness: "\f181";
    $font-flaticon1-yin-yang: "\f182";
    $font-flaticon1-crescent-moon: "\f183";
    $font-flaticon1-star-of-david: "\f184";
    $font-flaticon1-ichthys: "\f185";
    $font-flaticon1-holi: "\f186";
    $font-flaticon1-cross: "\f187";
    $font-flaticon1-hotel: "\f188";
    $font-flaticon1-swimming-pool: "\f189";
    $font-flaticon1-sunset: "\f18a";
    $font-flaticon1-beach: "\f18b";
    $font-flaticon1-ice-cream: "\f18c";
    $font-flaticon1-beach-ball: "\f18d";
    $font-flaticon1-calendar-1: "\f18e";
    $font-flaticon1-airplane: "\f18f";
    $font-flaticon1-googles: "\f190";
    $font-flaticon1-summer: "\f191";
    $font-flaticon1-mortarboard: "\f192";
    $font-flaticon1-leaf: "\f193";
    $font-flaticon1-grapes: "\f194";
    $font-flaticon1-log: "\f195";
    $font-flaticon1-pumpkin: "\f196";
    $font-flaticon1-squirrel: "\f197";
    $font-flaticon1-leaf-1: "\f198";
    $font-flaticon1-leaf-2: "\f199";
    $font-flaticon1-wind: "\f19a";
    $font-flaticon1-bee: "\f19b";
    $font-flaticon1-coat: "\f19c";
    $font-flaticon1-umbrella: "\f19d";
    $font-flaticon1-hazelnut: "\f19e";
    $font-flaticon1-rain: "\f19f";
    $font-flaticon1-apple: "\f1a0";
    $font-flaticon1-pear: "\f1a1";
    $font-flaticon1-boot: "\f1a2";
    $font-flaticon1-wellington-boots: "\f1a3";
    $font-flaticon1-sunflower: "\f1a4";
    $font-flaticon1-acorn: "\f1a5";
    $font-flaticon1-storm: "\f1a6";
    $font-flaticon1-mushroom: "\f1a7";
    $font-flaticon1-wool: "\f1a8";
    $font-flaticon1-broom: "\f1a9";
    $font-flaticon1-apple-1: "\f1aa";
    $font-flaticon1-tree: "\f1ab";
    $font-flaticon1-hive: "\f1ac";
    $font-flaticon1-umbrella-1: "\f1ad";
    $font-flaticon1-umbrella-2: "\f1ae";
    $font-flaticon1-pumpkin-1: "\f1af";
    $font-flaticon1-mushroom-1: "\f1b0";
    $font-flaticon1-mushroom-2: "\f1b1";
    $font-flaticon1-corn: "\f1b2";
    $font-flaticon1-bird-migration: "\f1b3";
    $font-flaticon1-ice-skating: "\f1b4";
    $font-flaticon1-pie: "\f1b5";
    $font-flaticon1-sunflower-1: "\f1b6";
    $font-flaticon1-goggles: "\f1b7";
    $font-flaticon1-mountain: "\f1b8";
    $font-flaticon1-watering-can: "\f1b9";
    $font-flaticon1-mill: "\f1ba";
    $font-flaticon1-ladybug: "\f1bb";
    $font-flaticon1-luggage: "\f1bc";
    $font-flaticon1-photo-camera-1: "\f1bd";
    $font-flaticon1-pineapple: "\f1be";
    $font-flaticon1-beach-ball-1: "\f1bf";
    $font-flaticon1-clover: "\f1c0";
    $font-flaticon1-grapes-1: "\f1c1";
    $font-flaticon1-tulip: "\f1c2";
    $font-flaticon1-beach-chair: "\f1c3";
    $font-flaticon1-sun-2: "\f1c4";
    $font-flaticon1-christmas-tree: "\f1c5";
    $font-flaticon1-snowflake-1: "\f1c6";
    $font-flaticon1-gift-1: "\f1c7";
    $font-flaticon1-mistletoe: "\f1c8";
    $font-flaticon1-lights: "\f1c9";
    $font-flaticon1-candy-cane: "\f1ca";
    $font-flaticon1-cabin: "\f1cb";
    $font-flaticon1-bauble: "\f1cc";
    $font-flaticon1-gingerbread-man: "\f1cd";
    $font-flaticon1-plant: "\f1ce";
    $font-flaticon1-animal-kingdom: "\f1cf";
    $font-flaticon1-bee-1: "\f1d0";
    $font-flaticon1-blossom: "\f1d1";
    $font-flaticon1-watering-can-1: "\f1d2";
    $font-flaticon1-bloom: "\f1d3";
    $font-flaticon1-sweater: "\f1d4";
    $font-flaticon1-botanical: "\f1d5";
    $font-flaticon1-animals: "\f1d6";
    $font-flaticon1-bbq: "\f1d7";
    $font-flaticon1-ecology-and-environment: "\f1d8";
    $font-flaticon1-drink: "\f1d9";
    $font-flaticon1-cloud-1: "\f1da";
    $font-flaticon1-animals-1: "\f1db";
    $font-flaticon1-bicycle: "\f1dc";
    $font-flaticon1-basket: "\f1dd";
    $font-flaticon1-beverage: "\f1de";
    $font-flaticon1-animal: "\f1df";
    $font-flaticon1-house: "\f1e0";
    $font-flaticon1-sleep: "\f1e1";
    $font-flaticon1-book-1: "\f1e2";
    $font-flaticon1-bed: "\f1e3";
    $font-flaticon1-chat-6: "\f1e4";
    $font-flaticon1-group: "\f1e5";
    $font-flaticon1-clean: "\f1e6";
    $font-flaticon1-book-2: "\f1e7";
    $font-flaticon1-newspaper: "\f1e8";
    $font-flaticon1-wallet: "\f1e9";
    $font-flaticon1-chat-7: "\f1ea";
    $font-flaticon1-computer-1: "\f1eb";
    $font-flaticon1-online-learning: "\f1ec";
    $font-flaticon1-learning: "\f1ed";
    $font-flaticon1-elearning: "\f1ee";
    $font-flaticon1-music-and-multimedia: "\f1ef";
    $font-flaticon1-music-and-multimedia-1: "\f1f0";
    $font-flaticon1-article: "\f1f1";
    $font-flaticon1-group-1: "\f1f2";
    $font-flaticon1-earth-globe: "\f1f3";
    $font-flaticon1-internet-2: "\f1f4";
    $font-flaticon1-new: "\f1f5";
    $font-flaticon1-blog: "\f1f6";
    $font-flaticon1-theme: "\f1f7";
    $font-flaticon1-cosmetics: "\f1f8";