	/*
    *Font 1
    flaticon1 icon font: flaticon1
  	Creation date: 08/06/2019 08:52
  	*/

    @font-face {
      font-family: "flaticon1";
      src: url("./flaticon1.eot");
      src: url("./flaticon1.eot?#iefix") format("embedded-opentype"),
           url("./flaticon1.woff2") format("woff2"),
           url("./flaticon1.woff") format("woff"),
           url("./flaticon1.ttf") format("truetype"),
           url("./flaticon1.svg#flaticon1") format("svg");
      font-weight: normal;
      font-style: normal;
    }
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
        font-family: "flaticon1";
        src: url("./flaticon1.svg#flaticon1") format("svg");
      }
    }
    
    [class^="flaticon1-"]:before, [class*=" flaticon1-"]:before,
    [class^="flaticon1-"]:after, [class*=" flaticon1-"]:after {   
      font-family: flaticon1;
            font-size: 20px;
    font-style: normal;
    margin-left: 20px;
    }
    
    .flaticon1-sun:before { content: "\f100"; }
    .flaticon1-warm:before { content: "\f101"; }
    .flaticon1-heart:before { content: "\f102"; }
    .flaticon1-search:before { content: "\f103"; }
    .flaticon1-love:before { content: "\f104"; }
    .flaticon1-letter:before { content: "\f105"; }
    .flaticon1-smartphone:before { content: "\f106"; }
    .flaticon1-book:before { content: "\f107"; }
    .flaticon1-romantic-music:before { content: "\f108"; }
    .flaticon1-gift:before { content: "\f109"; }
    .flaticon1-love-1:before { content: "\f10a"; }
    .flaticon1-chat-bubble:before { content: "\f10b"; }
    .flaticon1-signal:before { content: "\f10c"; }
    .flaticon1-love-message:before { content: "\f10d"; }
    .flaticon1-rainy:before { content: "\f10e"; }
    .flaticon1-night:before { content: "\f10f"; }
    .flaticon1-warm-1:before { content: "\f110"; }
    .flaticon1-cloudy:before { content: "\f111"; }
    .flaticon1-drop:before { content: "\f112"; }
    .flaticon1-snowflake:before { content: "\f113"; }
    .flaticon1-cold:before { content: "\f114"; }
    .flaticon1-cloud:before { content: "\f115"; }
    .flaticon1-cloudy-1:before { content: "\f116"; }
    .flaticon1-snowy:before { content: "\f117"; }
    .flaticon1-rainbow:before { content: "\f118"; }
    .flaticon1-night-1:before { content: "\f119"; }
    .flaticon1-day:before { content: "\f11a"; }
    .flaticon1-shooting-star:before { content: "\f11b"; }
    .flaticon1-facebook:before { content: "\f11c"; }
    .flaticon1-youtube:before { content: "\f11d"; }
    .flaticon1-linkedin:before { content: "\f11e"; }
    .flaticon1-instagram:before { content: "\f11f"; }
    .flaticon1-messenger:before { content: "\f120"; }
    .flaticon1-twitter:before { content: "\f121"; }
    .flaticon1-snapchat:before { content: "\f122"; }
    .flaticon1-computer:before { content: "\f123"; }
    .flaticon1-iphone:before { content: "\f124"; }
    .flaticon1-ipad:before { content: "\f125"; }
    .flaticon1-devices:before { content: "\f126"; }
    .flaticon1-email:before { content: "\f127"; }
    .flaticon1-paper-plane:before { content: "\f128"; }
    .flaticon1-email-1:before { content: "\f129"; }
    .flaticon1-mailbox:before { content: "\f12a"; }
    .flaticon1-chat:before { content: "\f12b"; }
    .flaticon1-email-2:before { content: "\f12c"; }
    .flaticon1-chat-1:before { content: "\f12d"; }
    .flaticon1-chat-2:before { content: "\f12e"; }
    .flaticon1-chat-3:before { content: "\f12f"; }
    .flaticon1-switch:before { content: "\f130"; }
    .flaticon1-star:before { content: "\f131"; }
    .flaticon1-heart-1:before { content: "\f132"; }
    .flaticon1-loupe:before { content: "\f133"; }
    .flaticon1-placeholder:before { content: "\f134"; }
    .flaticon1-cogwheel:before { content: "\f135"; }
    .flaticon1-color-palette:before { content: "\f136"; }
    .flaticon1-slider:before { content: "\f137"; }
    .flaticon1-albums:before { content: "\f138"; }
    .flaticon1-creative:before { content: "\f139"; }
    .flaticon1-toolbox:before { content: "\f13a"; }
    .flaticon1-sun-1:before { content: "\f13b"; }
    .flaticon1-toolbox-1:before { content: "\f13c"; }
    .flaticon1-internet:before { content: "\f13d"; }
    .flaticon1-internet-1:before { content: "\f13e"; }
    .flaticon1-at:before { content: "\f13f"; }
    .flaticon1-wifi:before { content: "\f140"; }
    .flaticon1-star-1:before { content: "\f141"; }
    .flaticon1-phone-call:before { content: "\f142"; }
    .flaticon1-link:before { content: "\f143"; }
    .flaticon1-settings:before { content: "\f144"; }
    .flaticon1-photo-camera:before { content: "\f145"; }
    .flaticon1-qr-code:before { content: "\f146"; }
    .flaticon1-skype:before { content: "\f147"; }
    .flaticon1-instagram-1:before { content: "\f148"; }
    .flaticon1-twitter-1:before { content: "\f149"; }
    .flaticon1-facebook-1:before { content: "\f14a"; }
    .flaticon1-youtube-1:before { content: "\f14b"; }
    .flaticon1-whatsapp:before { content: "\f14c"; }
    .flaticon1-telegram:before { content: "\f14d"; }
    .flaticon1-google-plus:before { content: "\f14e"; }
    .flaticon1-dropbox:before { content: "\f14f"; }
    .flaticon1-folder:before { content: "\f150"; }
    .flaticon1-calendar:before { content: "\f151"; }
    .flaticon1-server:before { content: "\f152"; }
    .flaticon1-save:before { content: "\f153"; }
    .flaticon1-news:before { content: "\f154"; }
    .flaticon1-bell:before { content: "\f155"; }
    .flaticon1-contract:before { content: "\f156"; }
    .flaticon1-multimedia:before { content: "\f157"; }
    .flaticon1-notebook:before { content: "\f158"; }
    .flaticon1-photo:before { content: "\f159"; }
    .flaticon1-sound:before { content: "\f15a"; }
    .flaticon1-attach:before { content: "\f15b"; }
    .flaticon1-calculator:before { content: "\f15c"; }
    .flaticon1-global:before { content: "\f15d"; }
    .flaticon1-download:before { content: "\f15e"; }
    .flaticon1-edit:before { content: "\f15f"; }
    .flaticon1-smartphone-1:before { content: "\f160"; }
    .flaticon1-note:before { content: "\f161"; }
    .flaticon1-note-1:before { content: "\f162"; }
    .flaticon1-vision:before { content: "\f163"; }
    .flaticon1-calculator-1:before { content: "\f164"; }
    .flaticon1-sign:before { content: "\f165"; }
    .flaticon1-folder-1:before { content: "\f166"; }
    .flaticon1-notebook-1:before { content: "\f167"; }
    .flaticon1-music:before { content: "\f168"; }
    .flaticon1-pass:before { content: "\f169"; }
    .flaticon1-smartphone-2:before { content: "\f16a"; }
    .flaticon1-switch-1:before { content: "\f16b"; }
    .flaticon1-email-3:before { content: "\f16c"; }
    .flaticon1-globe:before { content: "\f16d"; }
    .flaticon1-chat-4:before { content: "\f16e"; }
    .flaticon1-template:before { content: "\f16f"; }
    .flaticon1-chat-5:before { content: "\f170"; }
    .flaticon1-message:before { content: "\f171"; }
    .flaticon1-mail:before { content: "\f172"; }
    .flaticon1-globe-1:before { content: "\f173"; }
    .flaticon1-error-404:before { content: "\f174"; }
    .flaticon1-servers:before { content: "\f175"; }
    .flaticon1-bug:before { content: "\f176"; }
    .flaticon1-browser:before { content: "\f177"; }
    .flaticon1-shield:before { content: "\f178"; }
    .flaticon1-hosting:before { content: "\f179"; }
    .flaticon1-notes:before { content: "\f17a"; }
    .flaticon1-piggy-bank:before { content: "\f17b"; }
    .flaticon1-flying-money:before { content: "\f17c"; }
    .flaticon1-dollar:before { content: "\f17d"; }
    .flaticon1-insurance:before { content: "\f17e"; }
    .flaticon1-piggy-bank-1:before { content: "\f17f"; }
    .flaticon1-candles:before { content: "\f180"; }
    .flaticon1-fitness:before { content: "\f181"; }
    .flaticon1-yin-yang:before { content: "\f182"; }
    .flaticon1-crescent-moon:before { content: "\f183"; }
    .flaticon1-star-of-david:before { content: "\f184"; }
    .flaticon1-ichthys:before { content: "\f185"; }
    .flaticon1-holi:before { content: "\f186"; }
    .flaticon1-cross:before { content: "\f187"; }
    .flaticon1-hotel:before { content: "\f188"; }
    .flaticon1-swimming-pool:before { content: "\f189"; }
    .flaticon1-sunset:before { content: "\f18a"; }
    .flaticon1-beach:before { content: "\f18b"; }
    .flaticon1-ice-cream:before { content: "\f18c"; }
    .flaticon1-beach-ball:before { content: "\f18d"; }
    .flaticon1-calendar-1:before { content: "\f18e"; }
    .flaticon1-airplane:before { content: "\f18f"; }
    .flaticon1-googles:before { content: "\f190"; }
    .flaticon1-summer:before { content: "\f191"; }
    .flaticon1-mortarboard:before { content: "\f192"; }
    .flaticon1-leaf:before { content: "\f193"; }
    .flaticon1-grapes:before { content: "\f194"; }
    .flaticon1-log:before { content: "\f195"; }
    .flaticon1-pumpkin:before { content: "\f196"; }
    .flaticon1-squirrel:before { content: "\f197"; }
    .flaticon1-leaf-1:before { content: "\f198"; }
    .flaticon1-leaf-2:before { content: "\f199"; }
    .flaticon1-wind:before { content: "\f19a"; }
    .flaticon1-bee:before { content: "\f19b"; }
    .flaticon1-coat:before { content: "\f19c"; }
    .flaticon1-umbrella:before { content: "\f19d"; }
    .flaticon1-hazelnut:before { content: "\f19e"; }
    .flaticon1-rain:before { content: "\f19f"; }
    .flaticon1-apple:before { content: "\f1a0"; }
    .flaticon1-pear:before { content: "\f1a1"; }
    .flaticon1-boot:before { content: "\f1a2"; }
    .flaticon1-wellington-boots:before { content: "\f1a3"; }
    .flaticon1-sunflower:before { content: "\f1a4"; }
    .flaticon1-acorn:before { content: "\f1a5"; }
    .flaticon1-storm:before { content: "\f1a6"; }
    .flaticon1-mushroom:before { content: "\f1a7"; }
    .flaticon1-wool:before { content: "\f1a8"; }
    .flaticon1-broom:before { content: "\f1a9"; }
    .flaticon1-apple-1:before { content: "\f1aa"; }
    .flaticon1-tree:before { content: "\f1ab"; }
    .flaticon1-hive:before { content: "\f1ac"; }
    .flaticon1-umbrella-1:before { content: "\f1ad"; }
    .flaticon1-umbrella-2:before { content: "\f1ae"; }
    .flaticon1-pumpkin-1:before { content: "\f1af"; }
    .flaticon1-mushroom-1:before { content: "\f1b0"; }
    .flaticon1-mushroom-2:before { content: "\f1b1"; }
    .flaticon1-corn:before { content: "\f1b2"; }
    .flaticon1-bird-migration:before { content: "\f1b3"; }
    .flaticon1-ice-skating:before { content: "\f1b4"; }
    .flaticon1-pie:before { content: "\f1b5"; }
    .flaticon1-sunflower-1:before { content: "\f1b6"; }
    .flaticon1-goggles:before { content: "\f1b7"; }
    .flaticon1-mountain:before { content: "\f1b8"; }
    .flaticon1-watering-can:before { content: "\f1b9"; }
    .flaticon1-mill:before { content: "\f1ba"; }
    .flaticon1-ladybug:before { content: "\f1bb"; }
    .flaticon1-luggage:before { content: "\f1bc"; }
    .flaticon1-photo-camera-1:before { content: "\f1bd"; }
    .flaticon1-pineapple:before { content: "\f1be"; }
    .flaticon1-beach-ball-1:before { content: "\f1bf"; }
    .flaticon1-clover:before { content: "\f1c0"; }
    .flaticon1-grapes-1:before { content: "\f1c1"; }
    .flaticon1-tulip:before { content: "\f1c2"; }
    .flaticon1-beach-chair:before { content: "\f1c3"; }
    .flaticon1-sun-2:before { content: "\f1c4"; }
    .flaticon1-christmas-tree:before { content: "\f1c5"; }
    .flaticon1-snowflake-1:before { content: "\f1c6"; }
    .flaticon1-gift-1:before { content: "\f1c7"; }
    .flaticon1-mistletoe:before { content: "\f1c8"; }
    .flaticon1-lights:before { content: "\f1c9"; }
    .flaticon1-candy-cane:before { content: "\f1ca"; }
    .flaticon1-cabin:before { content: "\f1cb"; }
    .flaticon1-bauble:before { content: "\f1cc"; }
    .flaticon1-gingerbread-man:before { content: "\f1cd"; }
    .flaticon1-plant:before { content: "\f1ce"; }
    .flaticon1-animal-kingdom:before { content: "\f1cf"; }
    .flaticon1-bee-1:before { content: "\f1d0"; }
    .flaticon1-blossom:before { content: "\f1d1"; }
    .flaticon1-watering-can-1:before { content: "\f1d2"; }
    .flaticon1-bloom:before { content: "\f1d3"; }
    .flaticon1-sweater:before { content: "\f1d4"; }
    .flaticon1-botanical:before { content: "\f1d5"; }
    .flaticon1-animals:before { content: "\f1d6"; }
    .flaticon1-bbq:before { content: "\f1d7"; }
    .flaticon1-ecology-and-environment:before { content: "\f1d8"; }
    .flaticon1-drink:before { content: "\f1d9"; }
    .flaticon1-cloud-1:before { content: "\f1da"; }
    .flaticon1-animals-1:before { content: "\f1db"; }
    .flaticon1-bicycle:before { content: "\f1dc"; }
    .flaticon1-basket:before { content: "\f1dd"; }
    .flaticon1-beverage:before { content: "\f1de"; }
    .flaticon1-animal:before { content: "\f1df"; }
    .flaticon1-house:before { content: "\f1e0"; }
    .flaticon1-sleep:before { content: "\f1e1"; }
    .flaticon1-book-1:before { content: "\f1e2"; }
    .flaticon1-bed:before { content: "\f1e3"; }
    .flaticon1-chat-6:before { content: "\f1e4"; }
    .flaticon1-group:before { content: "\f1e5"; }
    .flaticon1-clean:before { content: "\f1e6"; }
    .flaticon1-book-2:before { content: "\f1e7"; }
    .flaticon1-newspaper:before { content: "\f1e8"; }
    .flaticon1-wallet:before { content: "\f1e9"; }
    .flaticon1-chat-7:before { content: "\f1ea"; }
    .flaticon1-computer-1:before { content: "\f1eb"; }
    .flaticon1-online-learning:before { content: "\f1ec"; }
    .flaticon1-learning:before { content: "\f1ed"; }
    .flaticon1-elearning:before { content: "\f1ee"; }
    .flaticon1-music-and-multimedia:before { content: "\f1ef"; }
    .flaticon1-music-and-multimedia-1:before { content: "\f1f0"; }
    .flaticon1-article:before { content: "\f1f1"; }
    .flaticon1-group-1:before { content: "\f1f2"; }
    .flaticon1-earth-globe:before { content: "\f1f3"; }
    .flaticon1-internet-2:before { content: "\f1f4"; }
    .flaticon1-new:before { content: "\f1f5"; }
    .flaticon1-blog:before { content: "\f1f6"; }
    .flaticon1-theme:before { content: "\f1f7"; }
    .flaticon1-cosmetics:before { content: "\f1f8"; }

    	/*
    *Font 2
    flaticon2 icon font: flaticon2
  	Creation date: 08/06/2019 08:53
  	*/

@font-face {
  font-family: "flaticon2";
  src: url("./flaticon2.eot");
  src: url("./flaticon2.eot?#iefix") format("embedded-opentype"),
       url("./flaticon2.woff2") format("woff2"),
       url("./flaticon2.woff") format("woff"),
       url("./flaticon2.ttf") format("truetype"),
       url("./flaticon2.svg#flaticon2") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "flaticon2";
    src: url("./flaticon2.svg#flaticon2") format("svg");
  }
}

[class^="flaticon2-"]:before, [class*=" flaticon2-"]:before,
[class^="flaticon2-"]:after, [class*=" flaticon2-"]:after {   
  font-family: flaticon2;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon2-lipstick:before { content: "\f100"; }
.flaticon2-mask:before { content: "\f101"; }
.flaticon2-umbrella:before { content: "\f102"; }
.flaticon2-eyelashes:before { content: "\f103"; }
.flaticon2-sunscreen:before { content: "\f104"; }
.flaticon2-mascara:before { content: "\f105"; }
.flaticon2-make-up:before { content: "\f106"; }
.flaticon2-make-up-kit:before { content: "\f107"; }
.flaticon2-cream:before { content: "\f108"; }
.flaticon2-brush:before { content: "\f109"; }
.flaticon2-eyeshadow:before { content: "\f10a"; }
.flaticon2-gloss:before { content: "\f10b"; }
.flaticon2-liner:before { content: "\f10c"; }
.flaticon2-cotton-buds:before { content: "\f10d"; }
.flaticon2-eyeliner:before { content: "\f10e"; }
.flaticon2-concealer:before { content: "\f10f"; }
.flaticon2-palettes:before { content: "\f110"; }
.flaticon2-make-up-1:before { content: "\f111"; }
.flaticon2-make-up-2:before { content: "\f112"; }
.flaticon2-bronzer:before { content: "\f113"; }
.flaticon2-curler:before { content: "\f114"; }
.flaticon2-make-up-3:before { content: "\f115"; }
.flaticon2-roll-on:before { content: "\f116"; }
.flaticon2-bag:before { content: "\f117"; }
.flaticon2-eyelash:before { content: "\f118"; }
.flaticon2-mirror:before { content: "\f119"; }
.flaticon2-razor:before { content: "\f11a"; }
.flaticon2-bag-1:before { content: "\f11b"; }
.flaticon2-mirror-1:before { content: "\f11c"; }
.flaticon2-skincare:before { content: "\f11d"; }
.flaticon2-hair-dryer:before { content: "\f11e"; }
.flaticon2-moisturizer:before { content: "\f11f"; }
.flaticon2-eye:before { content: "\f120"; }
.flaticon2-kiss:before { content: "\f121"; }
.flaticon2-heart-glasses:before { content: "\f122"; }
.flaticon2-balloon:before { content: "\f123"; }
.flaticon2-diary:before { content: "\f124"; }
.flaticon2-home:before { content: "\f125"; }
.flaticon2-woman:before { content: "\f126"; }
.flaticon2-chocolate:before { content: "\f127"; }
.flaticon2-jar:before { content: "\f128"; }
.flaticon2-key:before { content: "\f129"; }
.flaticon2-hourglass:before { content: "\f12a"; }
.flaticon2-woman-lips:before { content: "\f12b"; }
.flaticon2-tongue:before { content: "\f12c"; }
.flaticon2-nose:before { content: "\f12d"; }
.flaticon2-human-eye:before { content: "\f12e"; }
.flaticon2-eyebrow:before { content: "\f12f"; }
.flaticon2-medicine:before { content: "\f130"; }
.flaticon2-pill:before { content: "\f131"; }
.flaticon2-dna:before { content: "\f132"; }
.flaticon2-paint-brush:before { content: "\f133"; }
.flaticon2-canvas:before { content: "\f134"; }
.flaticon2-bucket:before { content: "\f135"; }
.flaticon2-pantone:before { content: "\f136"; }
.flaticon2-paint:before { content: "\f137"; }
.flaticon2-airbrush:before { content: "\f138"; }
.flaticon2-vector:before { content: "\f139"; }
.flaticon2-magic-wand:before { content: "\f13a"; }
.flaticon2-unicorn:before { content: "\f13b"; }
.flaticon2-rainbow:before { content: "\f13c"; }
.flaticon2-fairy:before { content: "\f13d"; }
.flaticon2-witch:before { content: "\f13e"; }
.flaticon2-lipstick-1:before { content: "\f13f"; }
.flaticon2-cosmetics:before { content: "\f140"; }
.flaticon2-makeup:before { content: "\f141"; }
.flaticon2-face:before { content: "\f142"; }
.flaticon2-moisturizer-1:before { content: "\f143"; }
.flaticon2-make-up-4:before { content: "\f144"; }
.flaticon2-legs:before { content: "\f145"; }
.flaticon2-face-cleanser:before { content: "\f146"; }
.flaticon2-wax:before { content: "\f147"; }
.flaticon2-face-mask:before { content: "\f148"; }
.flaticon2-curler-1:before { content: "\f149"; }
.flaticon2-concealer-1:before { content: "\f14a"; }
.flaticon2-eye-1:before { content: "\f14b"; }
.flaticon2-cream-1:before { content: "\f14c"; }
.flaticon2-cream-2:before { content: "\f14d"; }
.flaticon2-oil:before { content: "\f14e"; }
.flaticon2-moisturizer-2:before { content: "\f14f"; }
.flaticon2-make-up-5:before { content: "\f150"; }
.flaticon2-nail-polish:before { content: "\f151"; }
.flaticon2-barber:before { content: "\f152"; }
.flaticon2-manicure:before { content: "\f153"; }
.flaticon2-eye-shadow:before { content: "\f154"; }
.flaticon2-massage:before { content: "\f155"; }
.flaticon2-lips:before { content: "\f156"; }
.flaticon2-wax-1:before { content: "\f157"; }
.flaticon2-oil-1:before { content: "\f158"; }
.flaticon2-cream-3:before { content: "\f159"; }
.flaticon2-razor-1:before { content: "\f15a"; }
.flaticon2-eye-patch:before { content: "\f15b"; }
.flaticon2-spa:before { content: "\f15c"; }
.flaticon2-fitness:before { content: "\f15d"; }
.flaticon2-mascara-1:before { content: "\f15e"; }
.flaticon2-hair-dryer-1:before { content: "\f15f"; }
.flaticon2-polish:before { content: "\f160"; }
.flaticon2-bath:before { content: "\f161"; }
.flaticon2-cream-4:before { content: "\f162"; }
.flaticon2-hair-straightener:before { content: "\f163"; }
.flaticon2-hair:before { content: "\f164"; }
.flaticon2-eyebrow-1:before { content: "\f165"; }
.flaticon2-oil-2:before { content: "\f166"; }
.flaticon2-cream-5:before { content: "\f167"; }
.flaticon2-cream-6:before { content: "\f168"; }
.flaticon2-candle:before { content: "\f169"; }
.flaticon2-mascara-2:before { content: "\f16a"; }
.flaticon2-comb:before { content: "\f16b"; }
.flaticon2-spray:before { content: "\f16c"; }
.flaticon2-lipstick-2:before { content: "\f16d"; }
.flaticon2-cream-7:before { content: "\f16e"; }
.flaticon2-aroma:before { content: "\f16f"; }
.flaticon2-soap:before { content: "\f170"; }
.flaticon2-mortar:before { content: "\f171"; }
.flaticon2-eye-shadow-1:before { content: "\f172"; }
.flaticon2-powder:before { content: "\f173"; }
.flaticon2-lotion:before { content: "\f174"; }
.flaticon2-pedicure:before { content: "\f175"; }
.flaticon2-skincare-1:before { content: "\f176"; }
.flaticon2-makeup-1:before { content: "\f177"; }
.flaticon2-makeup-2:before { content: "\f178"; }
.flaticon2-hair-1:before { content: "\f179"; }
.flaticon2-makeup-3:before { content: "\f17a"; }
.flaticon2-beauty-salon:before { content: "\f17b"; }
.flaticon2-make-up-6:before { content: "\f17c"; }
.flaticon2-make-up-7:before { content: "\f17d"; }
.flaticon2-skincare-2:before { content: "\f17e"; }
.flaticon2-makeup-4:before { content: "\f17f"; }
.flaticon2-dye:before { content: "\f180"; }
.flaticon2-make-up-8:before { content: "\f181"; }
.flaticon2-healthcare-and-medical:before { content: "\f182"; }
.flaticon2-makeup-5:before { content: "\f183"; }
.flaticon2-make-up-9:before { content: "\f184"; }
.flaticon2-face-cleanser-1:before { content: "\f185"; }
.flaticon2-makeup-6:before { content: "\f186"; }
.flaticon2-organic:before { content: "\f187"; }
.flaticon2-heel:before { content: "\f188"; }
.flaticon2-makeup-7:before { content: "\f189"; }
.flaticon2-healthcare-and-medical-1:before { content: "\f18a"; }
.flaticon2-makeup-8:before { content: "\f18b"; }
.flaticon2-pedicure-1:before { content: "\f18c"; }
.flaticon2-sprayer:before { content: "\f18d"; }
.flaticon2-eyeliner-1:before { content: "\f18e"; }
.flaticon2-sauna:before { content: "\f18f"; }
.flaticon2-brush-1:before { content: "\f190"; }
.flaticon2-kid-and-baby:before { content: "\f191"; }
.flaticon2-lipstick-3:before { content: "\f192"; }
.flaticon2-pencil:before { content: "\f193"; }
.flaticon2-food-and-restaurant:before { content: "\f194"; }
.flaticon2-wipes:before { content: "\f195"; }
.flaticon2-makeup-9:before { content: "\f196"; }
.flaticon2-perfume:before { content: "\f197"; }
.flaticon2-makeup-10:before { content: "\f198"; }
.flaticon2-makeup-11:before { content: "\f199"; }
.flaticon2-razor-2:before { content: "\f19a"; }
.flaticon2-lipstick-4:before { content: "\f19b"; }
.flaticon2-eyelashes-curler:before { content: "\f19c"; }
.flaticon2-face-1:before { content: "\f19d"; }
.flaticon2-sports-and-competition:before { content: "\f19e"; }
.flaticon2-moisturizer-3:before { content: "\f19f"; }
.flaticon2-nail-polish-1:before { content: "\f1a0"; }
.flaticon2-cologne:before { content: "\f1a1"; }
.flaticon2-organic-oil:before { content: "\f1a2"; }
.flaticon2-soap-1:before { content: "\f1a3"; }
.flaticon2-comb-1:before { content: "\f1a4"; }
.flaticon2-spray-1:before { content: "\f1a5"; }
.flaticon2-foundation:before { content: "\f1a6"; }
.flaticon2-cream-8:before { content: "\f1a7"; }
.flaticon2-toner:before { content: "\f1a8"; }
.flaticon2-egg:before { content: "\f1a9"; }
.flaticon2-scissors:before { content: "\f1aa"; }
.flaticon2-primer:before { content: "\f1ab"; }
.flaticon2-brush-2:before { content: "\f1ac"; }
.flaticon2-cotton:before { content: "\f1ad"; }
.flaticon2-foundation-1:before { content: "\f1ae"; }
.flaticon2-razor-3:before { content: "\f1af"; }
.flaticon2-heels:before { content: "\f1b0"; }
.flaticon2-camera-and-photo-album:before { content: "\f1b1"; }
.flaticon2-album:before { content: "\f1b2"; }
.flaticon2-magic-wand-1:before { content: "\f1b3"; }
.flaticon2-beach:before { content: "\f1b4"; }
.flaticon2-body:before { content: "\f1b5"; }
.flaticon2-fruits:before { content: "\f1b6"; }
.flaticon2-sugar:before { content: "\f1b7"; }
.flaticon2-vitamins:before { content: "\f1b8"; }
.flaticon2-healthy:before { content: "\f1b9"; }
.flaticon2-sauna-1:before { content: "\f1ba"; }
.flaticon2-nail:before { content: "\f1bb"; }
.flaticon2-polish-1:before { content: "\f1bc"; }
.flaticon2-beauty:before { content: "\f1bd"; }
.flaticon2-oil-3:before { content: "\f1be"; }
.flaticon2-spray-2:before { content: "\f1bf"; }
.flaticon2-brush-3:before { content: "\f1c0"; }
.flaticon2-barber-1:before { content: "\f1c1"; }
.flaticon2-facial-mask:before { content: "\f1c2"; }
.flaticon2-orange:before { content: "\f1c3"; }
.flaticon2-makeup-12:before { content: "\f1c4"; }
.flaticon2-toothbrush:before { content: "\f1c5"; }
.flaticon2-tea:before { content: "\f1c6"; }
.flaticon2-mirror-2:before { content: "\f1c7"; }
.flaticon2-serum:before { content: "\f1c8"; }
.flaticon2-beauty-1:before { content: "\f1c9"; }
.flaticon2-spray-3:before { content: "\f1ca"; }
.flaticon2-relax:before { content: "\f1cb"; }
.flaticon2-sun-cream:before { content: "\f1cc"; }
.flaticon2-makeup-13:before { content: "\f1cd"; }
.flaticon2-eyeshadow-1:before { content: "\f1ce"; }
.flaticon2-shower:before { content: "\f1cf"; }
.flaticon2-mascara-3:before { content: "\f1d0"; }
.flaticon2-comb-2:before { content: "\f1d1"; }
.flaticon2-lotion-1:before { content: "\f1d2"; }
.flaticon2-shower-1:before { content: "\f1d3"; }
.flaticon2-shower-2:before { content: "\f1d4"; }
.flaticon2-soap-2:before { content: "\f1d5"; }
.flaticon2-hair-treatment:before { content: "\f1d6"; }
.flaticon2-beauty-2:before { content: "\f1d7"; }
.flaticon2-dress:before { content: "\f1d8"; }
.flaticon2-curl:before { content: "\f1d9"; }
.flaticon2-comb-3:before { content: "\f1da"; }
.flaticon2-necklace:before { content: "\f1db"; }
.flaticon2-scissors-1:before { content: "\f1dc"; }
.flaticon2-perfume-1:before { content: "\f1dd"; }
.flaticon2-shampoo:before { content: "\f1de"; }
.flaticon2-tea-pot:before { content: "\f1df"; }
.flaticon2-aloe-vera:before { content: "\f1e0"; }
.flaticon2-spa-1:before { content: "\f1e1"; }
.flaticon2-sponges:before { content: "\f1e2"; }
.flaticon2-shampoo-1:before { content: "\f1e3"; }
.flaticon2-foot:before { content: "\f1e4"; }
.flaticon2-ipad:before { content: "\f1e5"; }
.flaticon2-chat:before { content: "\f1e6"; }
.flaticon2-note:before { content: "\f1e7"; }
.flaticon2-moon:before { content: "\f1e8"; }
.flaticon2-sleep:before { content: "\f1e9"; }
.flaticon2-lamp:before { content: "\f1ea"; }
.flaticon2-video-tutorial:before { content: "\f1eb"; }
.flaticon2-webinar:before { content: "\f1ec"; }
.flaticon2-education:before { content: "\f1ed"; }
.flaticon2-tutorial:before { content: "\f1ee"; }
.flaticon2-laptop:before { content: "\f1ef"; }
.flaticon2-video-lesson:before { content: "\f1f0"; }
.flaticon2-learning:before { content: "\f1f1"; }
.flaticon2-video-tutorial-1:before { content: "\f1f2"; }
.flaticon2-woman-1:before { content: "\f1f3"; }
.flaticon2-kiss-1:before { content: "\f1f4"; }
.flaticon2-trustworthy:before { content: "\f1f5"; }
.flaticon2-kiss-2:before { content: "\f1f6"; }
.flaticon2-lipstick-5:before { content: "\f1f7"; }
.flaticon2-disco:before { content: "\f1f8"; }
.flaticon2-makeup-14:before { content: "\f1f9"; }
.flaticon2-mirror-3:before { content: "\f1fa"; }
.flaticon2-mirror-4:before { content: "\f1fb"; }
.flaticon2-makeup-15:before { content: "\f1fc"; }
.flaticon2-lipstick-6:before { content: "\f1fd"; }
.flaticon2-mirror-5:before { content: "\f1fe"; }
.flaticon2-makeup-16:before { content: "\f1ff"; }