@charset "utf-8";

@import url('static.css');
@import url('elements.css');
@import url('preloader.css');

/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Contact
7. Footer


******************************/

/***********
1. Fonts
***********/


/*  Serif 	font-family: 'Flamenco', 'Goudy Old Style', 'Palatino', serif; */


/* Sans Serif */

@font-face {
	font-family: 'AMCCD normal';
	font-style: normal;
	font-weight: normal;
	src: local('AMCCD normal'), url('https://bibar7.github.io/styles/fonts/Mukesh_Creative_Designs_V2.woff') format('woff');
	}


/* Display */

@font-face {
	font-family: 'Rome Regular';
	src: url('https://bibar7.github.io/styles/fonts/Rome-Regular.woff') format('woff2'),
			url('https://bibar7.github.io/styles/fonts/Rome-Regular.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* Cursive */


@font-face {
	font-family: 'corinthiaregular';
	src: url('https://bibar7.github.io/styles/fonts/corinthia-webfont.woff2') format('woff2'),
			 url('https://bibar7.github.io/styles/fonts/corinthia-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'capistranobfw01-regularRg';
	src: url('https://bibar7.github.io/styles/fonts/CapistranoBFW01-Regular.woff2') format('woff2'),
			 url('https://bibar7.github.io/styles/fonts/CapistranoBFW01-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}






/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Flamenco', 'Goudy Old Style', 'Palatino', serif;
	font-size: 20px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-size: 18px;
	line-height: 2.145;
	font-weight: 400;
	color: #909090;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
}
p a:hover::after
{
	opacity: 0.2;
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 22px;}
h5{font-size: 14px;}

h1 {
	font-family: 'capistranobfw01-regularRg', 'Brush Script MT', cursive;
}

h2, h3
{
	font-family: 'corinthiaregular', 'Papyrus', fantasy;
}

h4, h5, h6 {
	font-family: 'Rome Regular', 'Century Gothic', 'Optima', sans-serif;

}

h1, h2, h3, h4, h5, h6
{
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	margin-bottom: 0;
	color: #2c2c2c;
	font-weight: 700;
}
img
{
	max-width: 100%;
}
button:active
{
	outline: none;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item
{
	height: 100%;
}
.slide
{
	height: 100%;
}
.button
{
	width: 186px;
	height: 65px;
	background: transparent;
	text-align: center;
	border: solid 2px #F53B9A;
	overflow: hidden;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button::before
{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	-moz-transform: translate(-50%, -50%) rotate(-45deg);
	-ms-transform: translate(-50%, -50%) rotate(-45deg);
	-o-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg);
	-webkit-transform-origin: center center;
	transform-origin: center center;
	width: 130%;
	height: 320%;
	background: #F53B9A;
	content: '';
	z-index: 0;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.button::after
{
	display: block;
	position: absolute;
	right: -15px;
	bottom: -15px;
	width: 30px;
	height: 30px;
	background: #F53B9A;
	content: '';
	transform: rotate(-45deg);
}
.button a
{
	font-family: 'Rome', 'Century Gothic', 'Optima', sans-serif;
	display: block;
	position: relative;
	height: 100%;
	font-size: 14px;
	font-weight: 300;
	color: #ffffff;
	letter-spacing: 0.075em;
	line-height: 61px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.button:hover::before
{
	top: 160%;
	left: 160%;
}
.button:hover a
{
	color: #F53B9A;
}
.button_2
{
	width: 186px;
	height: 65px;
	background: transparent;
	text-align: center;
	border: solid 2px #F53B9A;
	overflow: hidden;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button_2 a
{
	font-family: 'Rome', 'Century Gothic', 'Optima', sans-serif;
	display: block;
	position: relative;
	height: 100%;
	font-size: 14px;
	font-weight: 300;
	color: #ffffff;
	letter-spacing: 0.075em;
	line-height: 61px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.button_2:hover
{
	background: #F53B9A;
}
.section_subtitle
{
	font-size: 14px;
	font-weight: 300;
	color: #909090;
	letter-spacing: 0.2em;
	line-height: 1.2;
}
.section_title
{
	margin-top: 8px;
}

/*********************************
3. Header
*********************************/


.header
{
	position: absolute;
	left: 157px;
	top: 61px;
	width: calc(100%);
	height: 96px;
	background: #1C205F;
	z-index: 100;
	border-bottom: solid 2px #F53B9A;
}
.header_wrap
{
	width: 100%;
	height: 100%;
	padding-top: 12px;
}
.logo
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 60px;
}

.main_nav
{
	margin-left: 30px;
	letter-spacing: .1em;
	font-family: 'AMCCD normal', 'Optima', 'Segoe UI', sans-serif;
	font-weight: 100;

}
.main_nav ul li
{
	position: relative;
	white-space: nowrap;
}
.main_nav > ul > li.has_children > a
{
	padding-right: 5px;
}

.main_nav > ul > li.active.has_children > a::after
{
	color: #40c9ce;
}
.main_nav > ul > li:not(:last-of-type)
{
	margin-left: -5px;
}

.main_nav > ul > li:last-of-type
{
	margin-right: -80px;
}
.main_nav ul li a
{
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	border:  none;
font-variant: small-caps;
}

.flaticon2-lipstick{
	font-weight: 500;

}
.main_nav ul li ul li i
{
	font-weight: 500;
	color: #ffffff;
font-variant: small-caps;
}

.main_nav > ul > li.active a
{
	color: #F53B9A;
}

.main_nav > ul > li a:hover,
.main_nav > ul > li > a:hover::after
{
	color: #000000;
}

.main_nav ul li > ul
{
	position: absolute;
	left: 0;
	top: 100%;
	width: 21vw;
	background: #4d0e94ef;
	padding-top: 20px;
	padding-bottom: 25px;
	display: none; 	
	opacity: 0;
}


.main_nav ul > li.has_children:hover > ul
{
	display:block;
	opacity: 1;
}

.main_nav ul li > ul:last-of-type{
	left: -1.5vw;
	}

	
.main_nav ul li > ul > li
{
	margin-right: 20px;
}
.main_nav ul li > ul > li > a
{
	position: relative;
	padding-right: 5px;
}
.main_nav ul li
{
	margin-right: 2px;
}
.main_nav ul li > ul > li a
{
	color: #ffffff;
}
.main_nav ul li > ul > li a:hover
{
	color: #000000;
	font-weight: 600;
}
.main_nav > ul li > ul li.has_children > ul
{
	position: absolute;
	width: 24vw;
	top: 9vh;
	left: 10vw;
	border-left: solid 3px #F53B9A;
	background: rgba(0%,0%,0%,0.7);

}

.main_nav > ul li > ul li.has_children > ul li {
	max-width: 80%;
}

.main_nav > ul li > ul li.has_children > a::after
{
	position: absolute;
	top: 0px;
	right: 16px;
	height: 100%;
	font-size: 14px;
	color: #928d92;
	line-height: 1.4;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav > ul > li.has_children > ul li.has_children > a:hover::after
{
	color: #000000;
}

.main_nav ul li > ul > li > ul {
	position: relative;
  top: 30px;
  left: 30px;
	display: none; 	
	opacity: 0;
}

.main_nav ul li > ul li > ul li > a,
.main_nav ul li > ul li > ul li > p a {
font-variant: normal;
font-size: 12px;
font-weight: 100;
}

.main_nav ul li ul li.has_children:hover > ul
{
	display:block;
	opacity: 1;
}


.header_social
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 40px;
	padding-top: 8px;
}
.social ul li
{
	position: relative;
}
.social ul li
{
	margin-right: 14px;
}
.social ul li a
{
	display: block;
	position: relative;
	height: 100%;
	padding: 5px;
}
.social ul li a i
{
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.social ul li a:hover i
{
	color: #F53B9A;
}

.btn-f {
	  /* background: linear-gradient(#5e7fc1, #2d4373); */
	  background: linear-gradient(#F53B9A, #5b44c4);
		border: 0.2em ridge white;
	  border-width: 03px 03px 03px 03px;
	color: white;
    backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  width: 2.65em;
  height: 2.5em;
  border-radius: 50%;
  /* padding: 15px 15px 15px 15px; */
  box-shadow: 2px 05px 03px 02px #010101,0px 1px 3px rgba(0%,0%,0%,0.3);
    color: #fff;
  font-size: 16px;
 
  }

 
	.btn-f > i {
	  font-size: 1em;
	border-radius: 0px;
	border: 0.5px solid black;
	border-width: 0px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
	position: static;
	text-shadow: 3px 5px 2px rgba(0,0,0,0.75);

		}

		.btn-i {
			/* background:    linear-gradient(#405de6, #e1306c, #FCAF45); */
			background: linear-gradient(#F53B9A, #5b44c4);
			border: 0.2em ridge white;
			border-width: 03px 03px 03px 03px;
		  color: white;
		  backface-visibility: hidden;
		position: relative;
		cursor: pointer;
		white-space: nowrap;
		width: 2.65em;
		height: 2.5em;
		border-radius: 50%;
		/* padding: 15px 20px 15px 20px; */
		box-shadow: 2px 05px 03px 02px #010101,0px 1px 3px rgba(0%,0%,0%,0.3);
		  color: #fff;
		font-size: 16px;
	
		}

		.btn-i > i {
			font-size: 1em;
			border-radius: 0px;
			border: 0.5px solid black;
			border-width: 0px 0px 0px 0px;
			padding: 0px 10px 0px 10px;
			position: static;
			text-shadow: 3px 5px 2px rgba(0,0,0,0.75);
			  }

			  .btn-s {
				/* background:    linear-gradient(#fedd61, #dfb001); */
				background: linear-gradient(#F53B9A, #5b44c4);
				border: 0.2em ridge white;
				border-width: 03px 03px 03px 03px;
				border-radius: 50%;
			  color: white;
			  backface-visibility: hidden;
			position: relative;
			cursor: pointer;
			white-space: nowrap;
			width: 2.65em;
			height: 2.5em;
			/* padding: 15px 20px 15px 20px; */
			box-shadow: 2px 05px 03px 02px #010101,0px 1px 3px rgba(0%,0%,0%,0.3);
			  color: #fff;
			font-size: 16px;
			}

			  .btn-s > i {
				font-size: 1em;
				border-radius: 0px;
				border: 0.5px solid black;
				border-width: 0px 0px 0px 0px;
				padding: 0px 10px 0px 10px;
				position: static;
				text-shadow: 3px 5px 2px rgba(0,0,0,0.75);
				  }

				  .btn-e {
					/* background: linear-gradient(#c8cddc, #4f537d); */
					background: linear-gradient(#F53B9A, #5b44c4);
					border: 0.2em ridge white;
					border-width: 03px 03px 03px 03px;
					border-radius: 50%;
				  color: white;
				  backface-visibility: hidden;
				position: relative;
				cursor: pointer;
				white-space: nowrap;
				width: 2.65em;
				height: 2.5em;
				/* padding: 15px 20px 15px 20px; */
				box-shadow: 2px 05px 03px 02px #010101,0px 1px 3px rgba(0%,0%,0%,0.3);
				  color: #fff;
				font-size: 16px;
				}
	
				  .btn-e > i {
					font-size: 1em;
					border-radius: 0px;
					border: 0.5px solid black;
					border-width: 0px 0px 0px 0px;
					padding: 0px 10px 0px 10px;
					position: static;
					text-shadow: 3px 5px 2px rgba(0,0,0,0.75);
					  }

.fixed_header
{
	position: fixed;
	top: -70px;
	left: 0;
	width: 100%;
	height: 85px;
	background: #1C205F;
	border-bottom: solid 2px #F53B9A;
	z-index: 100;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.fixed_header.scrolled
{
	top: 0;
}

[class^="flaticon2-"]:before, 
[class*=" flaticon2-"]:before, 
[class^="flaticon2-"]:after, 
[class*=" flaticon2-"]:after {
		font-family: flaticon2;
		font-size: 2.05em !important;
}

[class^="flaticon1-"]:before, 
[class*=" flaticon1-"]:before, 
[class^="flaticon1-"]:after, 
[class*=" flaticon1-"]:after {
		font-family: flaticon1;
		font-size: 2.05em !important;
}

.hamburger
{
	display: none;
	padding: 5px;
	cursor: pointer;
}
.hamburger i
{
	font-size: 22px;
	color: #ffffff;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover i
{
	color: #F53B9A;
}

br.tab {
	text-indent: 40px;
}
/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	visibility: hidden;
	opacity: 0;
	z-index: 101;
}
.menu_door
{
	position: absolute;
	top: 0;
	width: 0;
	height: 100%;
	background: rgba(25,10,73,0.9);
}
.door_left
{
	right: 50%;
}
.door_right
{
	left: 50%;
}
.menu_content
{
	width: 100%;
	height: 100%;
	opacity: 0;
}
.menu_close
{
	position: absolute;
	top: 60px;
	right: 60px;
	font-size: 12px;
	font-weight: 100;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close:hover
{
	color: #F53B9A;
}
.menu_nav ul li:not(:last-of-type)
{
	margin-bottom: 5px;
}
.menu_nav ul li a
{
	font-family: 'capistranobfw01-regularRg', 'Brush Script MT', cursive;
	font-size: 30px;
	font-weight: 100;
	color: #ffffff;
}
.menu_nav ul li a:hover
{
	color: #F53B9A;
}
.menu_social
{
	position: absolute;
	bottom: 30px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 371px;
}
.home_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #7800ff;
	background-image: linear-gradient(to right, rgba(120,0,255,0.34), rgba(255,14,59,0.34));
	background: #7800ff;
	background: linear-gradient(to right, rgba(120,0,255,0.34), rgba(255,14,59,0.34));
}
.home_container
{
	height: 100%;
	padding-top: 162px;
}
.home_title h1
{
	font-size: 60px;
	font-weight: 700;
	color: #ffffff;
}

/*********************************
6. Contact
*********************************/

.contact
{
	background: #ffffff;
}
.custom_container_wrap > .container
{
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
}
.custom_container_wrap > .container > .row
{
	margin-left: 0;
	margin-right: 0;
}
.custom_container_wrap > .container > .row > div[class^='col']
{
	padding-left: 0;
	padding-right: 0;
}
.contact_row
{
	margin-top: 30px;
}
.contact_content
{
	padding-left: 183px;
	padding-right: 30px;
	padding-top: 100px;
	padding-bottom: 100px;
}
.contact_title
{
	font-size: 24px;
	font-weight: 700;
	color: #2c2c2c;
	margin-top: 36px;
}
.contact_info_list ul li
{
	position: relative;
	padding-left: 27px;
	font-size: 15px;
	font-weight: 400;
	color: #2c2c2c;
}
.contact_info_list ul li:not(:last-of-type)
{
	margin-bottom: 22px;
}
.contact_info_list ul li::before
{
	display: block;
	position: absolute;
	top: 6px;
	left: 0;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: #ff0e3b;
	content: '';
}
.contact_form_container
{
	margin-top: 76px;
}
.contact_input
{
	height: 62px;
	width: 100%;
	background: #f2f2f9;
	padding-left: 34px;
	border: none;
	outline: none;
	font-size: 15px;
	font-weight: 600;
	color: #2c2c2c;
}
.contact_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #2c2c2c !important;
}
.contact_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #2c2c2c !important;
}
.contact_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #2c2c2c !important;
} 
.contact_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #2c2c2c !important;
}
.contact_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #2c2c2c !important;
}
.contact_form_row > div:not(:last-of-type)
{
	margin-bottom: 25px;
}
.contact_textarea
{
	height: 223px;
	padding-top: 20px;
}
.contact_button
{
	width: 216px;
	height: 65px;
	background: #ff0e3b;
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
font-variant: small-caps;
	letter-spacing: 0.075em;
	border: none;
	outline: none;
	cursor: pointer;
	border: solid 2px #ff0e3b;
	margin-top: 25px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.contact_button:hover
{
	background: transparent;
	color: #ff0e3b;
}
.contact_map_container
{
	height: 100%;
	padding-left: 110px;
}
.map
{
	height: 100%;
}
.google_map
{
	width: 100%;
	height: 100%;
	min-height: 600px;
}
.map_container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#map
{
	width: 100%;
	height: calc(100% + 30px);
}

/*********************************
7. Footer
*********************************/

.footer
{
	background: #190a49;
}
.footer_content
{
	padding-top: 99px;
	padding-bottom: 30px;
}
.footer_logo a
{
	display: inline-block;
	position: relative;
}
.footer_bar
{
	height: 56px;
}
.copyright
{
	font-size: 11px;
	font-weight: 700;
	color: #443586;
}
.footer_row
{
	margin-top: 59px;
}
.footer_icon
{
	width: 95px;
	height: 95px;
	border-radius: 50%;
	background: #0f0432;
}
.footer_icon > div
{
	width: 42px;
	height: 42px;
}
.footer_icon > div img
{
	max-width: 100%;
	max-height: 100%;
}
.footer_title
{
	margin-top: 33px;
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
font-variant: small-caps;
	letter-spacing: 0.2em;
	line-height: 1.2;
}
.footer_list
{
	margin-top: 25px;
}
.footer_list ul li:not(:last-of-type)
{
	margin-bottom: 15px;
}
.footer_list ul li
{
	font-size: 14px;
	font-weight: 700;
	color: rgba(255,255,255,0.38);
	font-variant: small-caps;
}


#fb5-container {
	margin-top: 50px;
    padding: 0;
}
#fb5{
	font-family: 'AMCCD normal', 'Optima', 'Segoe UI', sans-serif;
   font-size:18px;	
   position:relative;
   overflow:hidden;
   margin:0;
   display:block;
   width:100%;
   height:250px;
   opacity:0;
   margin-bottom:30px;
}

#fb5.fullScreen,#fb5-ajax[data-template="true"] #fb5{
   margin-bottom:0;	
}


#fb5 #fb5-container-book {
	position: absolute;
	z-index: 5;
	display: none;
	width: 1100px; height: 715px;
}


#fb5 fieldset{
	
	
}


#fb5 #fb5-deeplinking{
  display:none;	
}


#fb5 .fb5-bcg-book{
	background-color: #5b44c4;
	width:100%;
	height:100%;
    /* background: none no-repeat center center;
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
     */
}

#test{
   margin:0 auto;
   width:100%;
}

#fb5 #page.mobile {
		width: 550px; height: 358px;
		margin: -210px 0 0 -275px;
	}
	
#fb5 #page .padding { /*padding: 0 34px;*/ }



#fb5 .cursor-grab {
	cursor: -webkit-grab;
	cursor: -moz-grab;
}


#fb5 .fb5-overlay {
	position: absolute; left: -10000px; top: 0; z-index: 20;
	
	/*background: url(../img/bg-overlay.png);/*/
	background:rgba(0,0,0,0);
	
	width: 100%; height: 100%;
	display:none;
}

#fb5 .fb5-overlay.active { left: 0; display:block; }


/* = Back button
-------------------------------------------------------------- */
   #fb5 #fb5-button-back{
	color:#FFFFFF;
	position:absolute;
	left:-5px;
	top:45px;
	background-color:#F53B9A;
	border-radius: 4px 4px 4px 4px;
	padding:5px;
	padding-left:15px;
	padding-right:10px;
	font-size:12px;
	font-weight:bold;
	margin-top:-45px;
  }
  #fb5 #fb5-button-back:hover{
	color:#F53B9A;  
	background-color:#FFFFFF
  }


/* = About
-------------------------------------------------------------- */

	#fb5 #fb5-about {
		position: absolute; z-index: 5;
		width: 45%; display: none;
		/*padding-top: 6%;/*/
	}

	#fb5 #fb5-about h1,
	#fb5 #fb5-about h2,
	#fb5 #fb5-about h3,
	#fb5 #fb5-about h4,
	#fb5 #fb5-about h5,
	#fb5 #fb5-about h6 {
		margin: 0 0 0 0;
		padding:0px;
		font-size: 18px;
		color: #1C205F;
		-webkit-font-smoothing: antialiased;
		text-transform:none;
	}
	
	#fb5 #fb5-about h3{
		background: url(../img/arrow-right.png) no-repeat 0 50%;	
		padding: 0 0 0 25px;	
	}
	
	#fb5 #fb5-about ul,#fb5-about ol {
		list-style:disc;
		margin: 0;
		padding-left:10px;
		padding-top:0%;
		padding-bottom:2%;
	}
	
	#fb5 #fb5-about li {
		color: #cfeaee;
		margin-bottom:4px;
	}
		
	
	#fb5 #fb5-about p {
		/*font-size: 0.688em;/*/
		color: #cfeaee;
		margin-bottom:4%;
	}
	
	#fb5 #fb5-about a {
		color:#ffffff;	
		text-decoration:underline;
	}
	
	#fb5 #fb5-about a:hover {
		/*color:#ffffff;/*/	
		text-decoration:none;
	}



/* = Book
-------------------------------------------------------------- */

#fb5 #fb5-book {
	position: relative; z-index: 10;
	width: 100%; height:100%;
}

#fb5 #fb5-book .turn-page {
	background-color:#FFF;
	background-size: 100% 100%;
}

#fb5 .fb5-double {
	background-size: 200% 100% !important;
}

#fb5 .fb5-double.fb5-first {
	background-position: 0% 0%;
}

#fb5 .fb5-double.fb5-second {
	background-position: -100% 0%;
}







	/* = Nav Arrows
	---------------------------------------- */
	
	#fb5 .fb5-nav-arrow {
		position: absolute; top: 50%; z-index: 15;
		background: url(../img/arrow-navpage.png);
		width: 34px; 
		height: 136px;
		margin-top: -68px;
	}
		
	#fb5 .fb5-nav-arrow.next			{ right: -34px; background-position: 0 0; }
	#fb5 .fb5-nav-arrow.next:hover	{ background-position: 0 -186px; }
	
	#fb5 .fb5-nav-arrow.prev			{ left: -34px; background-position: 0 -372px; display: none; }
	#fb5 .fb5-nav-arrow.prev:hover	{ background-position: 0 -558px; }
	
	#fb5 .fb5-nav-arrow.next{
		transform-origin:0 center;
		-ms-transform-origin:0 center;
		-webkit-transform-origin:0 center;		 
    }
	
	#fb5 .fb5-nav-arrow.prev{
		transform-origin:right center;
		-ms-transform-origin:right center;
		-webkit-transform-origin:right center;		 
    }
	
		/*#page.mobile .fb5-nav-arrow.next { right: -24px; }*/



	/* = Cover
	---------------------------------------- */

	#fb5 #fb5-logo-cover {
		position: absolute; right: 10px; bottom: 10px; z-index: 5;
	}	

	#fb5 #fb5-cover ul {
		position:absolute;
		top:50%;
		-webkit-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
		-moz-transform: translate(0,-50%);
		-o-transform: translate(0,-50%);
        transform: translate(0,-50%);
		clear: both;
		width: 100%;
		list-style: none;
		padding: 20px 0;
		border-top: 1px solid #e2e2e2;
		border-bottom: 1px solid #e2e2e2;
	}
	
	#fb5 #fb5-cover ul:after { clear: both; content: ''; display: block; }
	
	#fb5 #fb5-cover li {
		float: left;
		width: 28.3%;
		margin: 0 2.5%;
		list-style:none;
	}
		
	#fb5 #fb5-cover li,
	#fb5 #fb5-cover img {
		-moz-user-select: -moz-none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		user-select: none;
		box-shadow:none;
	}
		
	#fb5 #fb5-cover li:last-child {
		margin-right: 0;
	}

	#fb5 #fb5-cover li img {
		float: left;
		width: 100%;
	}
			
	#fb5 #fb5-cover li a:hover img {
		/*opacity: .8;/*/
	}
			


	/* = End
	---------------------------------------- */

	#fb5 #end { text-align: center; }
	
	#fb5 #end p { padding-top: 60%; }



	/* = Meta data
	---------------------------------------- */

	#fb5 #fb5-book .fb5-meta {
		position: absolute; bottom: 1%;
	}

	#fb5 .fb5-meta .fb5-num {
			font-weight: bold;
			font-size: 18px;
			color: #666;
	}
		
	#fb5 .fb5-meta .fb5-description {
			font-size: 16px;
			color: #666;
			font-family: 'AMCCD normal', 'Optima', 'Segoe UI', sans-serif;
		}

	#fb5 .fb5-meta.fb5-left { 
			left:3%;
	}
	
	#fb5 .fb5-meta.fb5-left .fb5-num {
		    padding-right: 10px;
	}
		
	#fb5 .fb5-meta.fb5-right {
			right:3%;
			text-align: right;
	}
		
	#fb5 .fb5-meta.fb5-right .fb5-num {
				padding-left: 10px;
	}
			
			
			
			
	/*= Video in lightbox
	----------------------------*/

	#v5_lightbox {
		width:100%;
		height:100%;
		z-index:555789;
		position:fixed;	
		display:block;	
		top:0px;
	}

	#v5_lightbox .bcg{
		width:100%;
		height:100%;
		background-color:#000;
		opacity:.7;	
		position:absolute;	
		cursor:pointer;
	}
    
	
	/* --------------------------*/
	
	.fb5-cont-page-book{
		position:absolute;		
	}
	
	#fb5 .fb5-page-book {
		
		position:absolute;
	    -webkit-hyphens:none;
        -moz-hyphens:none;
        -ms-hyphens:none;
        hyphens:none;	
		overflow:hidden;
	}
	
	
	#fb5 .fb5-page-book .center {
		/*text-align:center;
		padding-top:65%;/*/
	}
	
	#fb5 .fb5-page-book img {
		border:none;
		padding:0;
	}
	
	#fb5 .fb5-page-book p {
		-webkit-text-size-adjust:none;
		margin-bottom:20px;
		line-height:1.5;
	}
	
	#fb5 .fb5-page-book a {
		text-decoration:underline;
		color:#5b44c4;
		font-weight:bold;
	}
	
	#fb5 .fb5-page-book p a:hover {
		text-decoration:none;
	}
	
	#fb5 .fb5-page-book h1
	{
		font-family: 'capistranobfw01-regularRg', 'Brush Script MT', cursive;
		
		
	 }

	#fb5 .fb5-page-book h2,
	#fb5 .fb5-page-book h3
{
	font-family: 'corinthiaregular', 'Papyrus', fantasy;

	
 }

	#fb5 .fb5-page-book h4,
	#fb5 .fb5-page-book h5,
	#fb5 .fb5-page-book h6 {
	font-family: 'Rome Regular', 'Century Gothic', 'Optima', sans-serif;
	 } 
	
	 #fb5 .fb5-page-book h1,
	 #fb5 .fb5-page-book h2,
	#fb5 .fb5-page-book h3,
	#fb5 .fb5-page-book h4,
	#fb5 .fb5-page-book h5,
	#fb5 .fb5-page-book h6 {
	 text-transform:none;
	   margin:0px;
	   
	}
	
	#fb5 .fb5-page-book h1 {
	   	-webkit-text-size-adjust:none;
		
	}
	
	#fb5 .fb5-page-book h2 {
	   -webkit-text-size-adjust:none;
		
	}
	
	#fb5 .fb5-page-book h3 {
	   	-webkit-text-size-adjust:none;
		
	}
	
	#fb5 .fb5-page-book h4 {
	   	-webkit-text-size-adjust:none;
		
	}
	
	#fb5 .fb5-page-book h5 {
	   	-webkit-text-size-adjust:none;
		
	}
	
	#fb5 .fb5-page-book h6 {
	   	-webkit-text-size-adjust:none;
		
	}
	
	#fb5 .fb5-page-book ul,.fb5-page-book ol {
	    list-style: disc inside;
		margin-bottom:3% !important;
	}
	
	#fb5 .fb5-page-book ul li {
	   margin-bottom:2px;
	   list-style: disc inside;
	}
	
	#fb5 .fb5-page-book ul li a {
	   color:#77797F;
	   font-weight:normal;	
	   text-decoration:none;
	}
	
	#fb5 .fb5-page-book ul li a:hover {
	   text-decoration:underline;
	}
	
	#fb5 .fb5-page-book a:hover img {
       opacity:0.8;	   	  
	}
	
	
	/* =WordPress Core
-------------------------------------------------------------- */
#fb5 .fb5-page-book .alignnone,.#fb5-about .alignnone {
    margin: 5px 20px 20px 0;
}

#fb5 .fb5-page-book.aligncenter,.fb5-page-book div.aligncenter,#fb5-about.aligncenter,#fb5-about div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

#fb5 .fb5-page-book .alignright,#fb5-about .alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

#fb5 .fb5-page-book .alignleft,#fb5-about .alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

#fb5 .fb5-page-book .aligncenter,#fb5-about .aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

#fb5 .fb5-page-book a img.alignright,#fb5-about a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

#fb5 #fb5 .fb5-page-book a img.alignnone,#fb5-about a img.alignnone {
    margin: 5px 20px 20px 0;
}

#fb5 .fb5-page-book a img.alignleft,#fb5-about a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

#fb5 .fb5-page-book a img.aligncenter,#fb5-about a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#fb5 .fb5-page-book .wp-caption,#fb5-about .wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

#fb5 .fb5-page-book .wp-caption.alignnone,#fb5-about .wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

#fb5 .fb5-page-book .wp-caption.alignleft,#fb5-about .wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

#fb5 .fb5-page-book .wp-caption.alignright,#fb5-about .wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.fb5-page-book .wp-caption img,#fb5-about .wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

#fb5 .fb5-page-book .wp-caption p.wp-caption-text,#fb5-about .wp-caption p.wp-caption-text {
    font-size: 16px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}



/* = Media queries
-------------------------------------------------------------- */

@media screen and (max-width: 768px) { 
      /*
    .fb5-nav-arrow.next{
		transform-origin:0 center;
		-ms-transform-origin:0 center;
		-webkit-transform-origin:0 center;		 
    }
	
	 .fb5-nav-arrow.prev{
		transform-origin:right center;
		-ms-transform-origin:right center;
		-webkit-transform-origin:right center;		 
    }

	.fb5-nav-arrow{
		transform:scale(2);
		ms-transform:scale(2);
		-webkit-transform:scale(2);
	}
	/*/
}


  

  /* tools bar*/
	    #fb5 .fb5-bcg-book{
			background-image:url(../img/bg.jpg);
		}
		
		#fb5 .fb5-tooltip{
			 background:#1C205F !important; 
			 color:#FFFFFF;
		}
		#fb5 .fb5-tooltip b { border-top: 10px solid #5b44c4 }
		#fb5 #fb5-footer .bcg { 
		  background-color: #000000;
		  opacity: 0.55;
		}
		#fb5 nav li.fb5-goto #fb5-label-page-number {
    		color: #5F6F7B;
		}
		#fb5 nav li.fb5-goto button {
   		    color: #5F6F7B;
			background: linear-gradient(to bottom, #2B3E4D 0px, #1F303D 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
   		}
		#fb5 nav li.fb5-goto input[type="text"] {
   			 background: none repeat scroll 0 0 #141F28 ;
			 border: 1px solid #1E2F3C;
		}	
		
		/* book /*/
		
		#fb5 #fb5-book .turn-page {
	       background-color:#FFFFFF;
        }
		#fb5 .fb5-meta .fb5-num {
		    color: #666666;
		}
		#fb5 .fb5-meta .fb5-description {
    		color: #666666;
		}		
		
		/* list thumbs /*/
		#fb5 #fb5-all-pages .fb5-container-pages {
		    background: none repeat scroll 0 0 #000000;
						box-shadow: 0 0 40px rgba(100,200, 211, 0.8);
		}
		
		/* form /*/
		#fb5 #fb5-contact form {
   			 background: none repeat scroll 0 0 #161616;
			 			 box-shadow: 0 0 60px rgba(100,200,211, 0.7);
		}
		#fb5 #fb5-contact form h3 {
		    color: #FFFFFF;
		}
		#fb5 #fb5-contact button {
			    background: none repeat scroll 0 0 #F53B9A;
				color: #FFFFFF;
		}
		#fb5 #fb5-contact form input, #fb5-contact form textarea {
           color: #737373;
		}
		#fb5 #fb5-contact .fb5-close {
		  color: #000000;	
          background: none repeat scroll 0 0 #F53B9A;
		}
		
		#fb5 #fb5-contact .fb5-thanks p{
		  color:#444444			
		}
		#fb5 #fb5-contact .fb5-thanks h1{
		  color:#FFFFFF			
		}				
		
		/* preloader /*/
		#fb5 .fb5-preloader .wBall .wInnerBall{
            background:#F53B9A;
		}	
		
		/* arrow gif /*/
		#fb5 .fb5-nav-arrow {
   			 background: url("../img/arrow-navpage.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
		}		
		
		/* formatt page for flipbook  /*/
		#fb5 .fb5-page-book p {
		   color:#77797F;
		   font-family: 'AMCCD normal', 'Optima', 'Segoe UI', sans-serif;
		   font-size:16px;
	    }
		#fb5 .fb5-page-book a {
		   color:#F53B9A;
		 }
		#fb5 .fb5-page-book h1 {
	   	   color:#77797F;
			  font-family: 'capistranobfw01-regularRg', 'Brush Script MT', cursive;
			  font-size:28px;
	    }
		#fb5 .fb5-page-book h2 {
	   	   color:#77797F;
			  font-family: 'corinthiaregular', 'Papyrus', fantasy;
			  font-size:26px;
	    }
		#fb5 .fb5-page-book h3 {
	   	   color:#77797F;
			  font-family: 'corinthiaregular', 'Papyrus', fantasy;
			  font-size:24px;
	    }
		#fb5 .fb5-page-book h4 {
	   	   color:#77797F;
			  font-family: 'Rome Regular', 'Century Gothic', 'Optima', sans-serif;
			  font-size:22px;
	    }
		#fb5 .fb5-page-book h5 {
	   	   color:#77797F;
			  font-family: 'Rome Regular', 'Century Gothic', 'Optima', sans-serif;
			  font-size:20px;
	    }
		#fb5 .fb5-page-book h6 {
	   	   color:#77797F;
			  font-family: 'Rome Regular', 'Century Gothic', 'Optima', sans-serif;
			  font-size:18px;
	    }
		#fb5 .fb5-page-book li {
           color:#77797F;	
		   font-family: 'AMCCD normal', 'Optima', 'Segoe UI', sans-serif;
		   font-size:14px;		
		}
		#fb5 .fb5-page-book ul li a {
	        color:#77797F;
		}

        
		/*  about style  /*/
		#fb5 #fb5-about p,#fb5 #fb5-about li {
		   color: #CFEAEE;
		   font-family: 'AMCCD normal', 'Optima', 'Segoe UI', sans-serif;
		   font-size:16px;
	    }  
		#fb5 #fb5-about a {
		  color:#FFFFFF	
		}
		#fb5 #fb5-about h1 {
		   color: #F53B9A;
		   font-family: 'capistranobfw01-regularRg', 'Brush Script MT', cursive;
		   font-size:26px;
	    }  
		#fb5 #fb5-about h2 {
		   color: #F53B9A;
		   font-family: 'corinthiaregular', 'Papyrus', fantasy;
		   font-size:24px;
	    }  
		#fb5-about h3 {
		   color: #F53B9A;
		   font-family: 'corinthiaregular', 'Papyrus', fantasy;
		   font-size:22px;
	    }  
		#fb5 #fb5-about h4 {
		   color: #F53B9A;
		   font-family: 'Rome Regular', 'Century Gothic', 'Optima', sans-serif;
	    }  
		#fb5 #fb5-about h5 {
		   color: #F53B9A;
		   font-family: 'Rome Regular', 'Century Gothic', 'Optima', sans-serif;
		   font-size:18px;
	    }  
		#fb5 #fb5-about h6 {
		   color: #F53B9A;
		   font-family: 'Rome Regular', 'Century Gothic', 'Optima', sans-serif;
		   font-size:16px;
	    }  
		/* back  button  /*/
		#fb5 #fb5-button-back {
    		background-color: #5b44c4;
   			color: #FFFFFF;
		}
		#fb5 #fb5-button-back:hover{
			color:#1C205F;  
			background-color:#FFFFFF 		}
		
		/*  Other style   /*/
		#fb5 .fb5-overlay {
			background:rgba(0,0,0,0.6);
        }