@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Contact
7. Footer


******************************/

/***********
1. Fonts
***********/


/*  Serif 	font-family: 'Glass Antiqua', 'Goudy Old Style', 'Palatino', serif; */


/* Sans Serif */

@font-face {
	font-family: 'AMCCD normal';
	font-style: normal;
	font-weight: normal;
	src: local('AMCCD normal'), url('https://bibar7.github.io/styles/fonts/Mukesh_Creative_Designs_V2.woff') format('woff');
	}


/* Display */

@font-face {
	font-family: 'Rome Regular';
	src: url('https://bibar7.github.io/styles/fonts/Rome-Regular.woff') format('woff2'),
			url('https://bibar7.github.io/styles/fonts/Rome-Regular.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* Cursive */


@font-face {
	font-family: 'corinthiaregular';
	src: url('https://bibar7.github.io/styles/fonts/corinthia-webfont.woff2') format('woff2'),
			 url('https://bibar7.github.io/styles/fonts/corinthia-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'capistranobfw01-regularRg';
	src: url('https://bibar7.github.io/styles/fonts/CapistranoBFW01-Regular.woff2') format('woff2'),
			 url('https://bibar7.github.io/styles/fonts/CapistranoBFW01-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}






/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Glass Antiqua', 'Goudy Old Style', 'Palatino', serif;
	font-size: 20px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-size: 18px;
	line-height: 2.145;
	font-weight: 400;
	color: #909090;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
}
p a:hover::after
{
	opacity: 0.2;
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 22px;}
h5{font-size: 14px;}

h1 {
	font-family: 'capistranobfw01-regularRg', 'Brush Script MT', cursive;
}

h2, h3
{
	font-family: 'corinthiaregular', 'Papyrus', fantasy;
}

h4, h5, h6 {
	font-family: 'Rome Regular', 'Century Gothic', 'Optima', sans-serif;

}

h1, h2, h3, h4, h5, h6
{
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	margin-bottom: 0;
	color: #2c2c2c;
	font-weight: 700;
}
img
{
	max-width: 100%;
}
button:active
{
	outline: none;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item
{
	height: 100%;
}
.slide
{
	height: 100%;
}
.button
{
	width: 186px;
	height: 65px;
	background: transparent;
	text-align: center;
	border: solid 2px #F53B9A;
	overflow: hidden;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button::before
{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	-moz-transform: translate(-50%, -50%) rotate(-45deg);
	-ms-transform: translate(-50%, -50%) rotate(-45deg);
	-o-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg);
	-webkit-transform-origin: center center;
	transform-origin: center center;
	width: 130%;
	height: 320%;
	background: #F53B9A;
	content: '';
	z-index: 0;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.button::after
{
	display: block;
	position: absolute;
	right: -15px;
	bottom: -15px;
	width: 30px;
	height: 30px;
	background: #F53B9A;
	content: '';
	transform: rotate(-45deg);
}
.button a
{
	font-family: 'Rome', 'Century Gothic', 'Optima', sans-serif;
	display: block;
	position: relative;
	height: 100%;
	font-size: 14px;
	font-weight: 300;
	color: #ffffff;
	letter-spacing: 0.075em;
	line-height: 61px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.button:hover::before
{
	top: 160%;
	left: 160%;
}
.button:hover a
{
	color: #F53B9A;
}
.button_2
{
	width: 186px;
	height: 65px;
	background: transparent;
	text-align: center;
	border: solid 2px #F53B9A;
	overflow: hidden;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button_2 a
{
	font-family: 'Rome', 'Century Gothic', 'Optima', sans-serif;
	display: block;
	position: relative;
	height: 100%;
	font-size: 14px;
	font-weight: 300;
	color: #ffffff;
	letter-spacing: 0.075em;
	line-height: 61px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.button_2:hover
{
	background: #F53B9A;
}
.section_subtitle
{
	font-size: 14px;
	font-weight: 300;
	color: #909090;
	letter-spacing: 0.2em;
	line-height: 1.2;
}
.section_title
{
	margin-top: 8px;
}

/*********************************
3. Header
*********************************/



.header
{
	position: absolute;
	left: 157px;
	top: 61px;
	width: calc(100%);
	height: 96px;
	background: #1C205F;
	z-index: 100;
	border-bottom: solid 2px #F53B9A;
}
.header_wrap
{
	width: 100%;
	height: 100%;
	padding-top: 12px;
}
.logo
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 60px;
}

.main_nav
{
	margin-left: 30px;
	letter-spacing: .1em;
	font-family: 'AMCCD normal', 'Optima', 'Segoe UI', sans-serif;
	font-weight: 100;

}
.main_nav ul li
{
	position: relative;
	white-space: nowrap;
}
.main_nav > ul > li.has_children > a
{
	padding-right: 5px;
}

.main_nav > ul > li.active.has_children > a::after
{
	color: #40c9ce;
}
.main_nav > ul > li:not(:last-of-type)
{
	margin-left: -5px;
}

.main_nav > ul > li:last-of-type
{
	margin-right: -80px;
}
.main_nav ul li a
{
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	border:  none;
font-variant: small-caps;
}

.flaticon2-lipstick{
	font-weight: 500;

}
.main_nav ul li ul li i
{
	font-weight: 500;
	color: #ffffff;
font-variant: small-caps;
}

.main_nav > ul > li a:hover,
.main_nav > ul > li.active a,
.main_nav > ul > li > a:hover::after
{
	color: #F53B9A;
}
.main_nav ul li > ul
{
	position: absolute;
	left: 0;
	top: 100%;
	width: 21vw;
	background: #4d0e94ef;
	padding-top: 20px;
	padding-bottom: 25px;
	display: none; 	
	opacity: 0;
}


.main_nav ul > li.has_children:hover > ul
{
	display:block;
	opacity: 1;
}

.main_nav ul li > ul:last-of-type{
	left: -1.5vw;
	}

	
.main_nav ul li > ul > li
{
	margin-right: 20px;
}
.main_nav ul li > ul > li > a
{
	position: relative;
	padding-right: 5px;
}
.main_nav ul li
{
	margin-right: 2px;
}
.main_nav ul li > ul > li a
{
	color: #ffffff;
}
.main_nav ul li > ul > li a:hover
{
	color: #000000;
}
.main_nav > ul li > ul li.has_children > ul
{
	position: absolute;
	width: 24vw;
	top: 9vh;
	left: 10vw;
	border-left: solid 3px #F53B9A;
	background: rgba(0%,0%,0%,0.7);

}

.main_nav > ul li > ul li.has_children > ul li {
	max-width: 80%;
}

.main_nav > ul li > ul li.has_children > a::after
{
	position: absolute;
	top: 0px;
	right: 16px;
	height: 100%;
	font-size: 14px;
	color: #928d92;
	line-height: 1.4;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav > ul > li.has_children > ul li.has_children > a:hover::after
{
	color: #000000;
}

.main_nav ul li > ul > li > ul {
	position: relative;
  top: 30px;
  left: 30px;
	display: none; 	
	opacity: 0;
}

.main_nav ul li > ul li > ul li > a,
.main_nav ul li > ul li > ul li > p a {
font-variant: normal;
font-size: 12px;
font-weight: 100;
}

.main_nav ul li ul li.has_children:hover > ul
{
	display:block;
	opacity: 1;
}

.header_social
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 40px;
	padding-top: 8px;
}
.social ul li
{
	position: relative;
}
.social ul li
{
	margin-right: 14px;
}
.social ul li a
{
	display: block;
	position: relative;
	height: 100%;
	padding: 5px;
}
.social ul li a i
{
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.social ul li a:hover i
{
	color: #F53B9A;
}

.btn-f {
	  /* background: linear-gradient(#5e7fc1, #2d4373); */
	  background: linear-gradient(#F53B9A, #5b44c4);
		border: 0.2em ridge white;
	  border-width: 03px 03px 03px 03px;
	color: white;
    backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  width: 2.65em;
  height: 2.5em;
  border-radius: 50%;
  /* padding: 15px 15px 15px 15px; */
  box-shadow: 2px 05px 03px 02px #010101,0px 1px 3px rgba(0%,0%,0%,0.3);
    color: #fff;
  font-size: 16px;
 
  }

 
	.btn-f > i {
	  font-size: 1em;
	border-radius: 0px;
	border: 0.5px solid black;
	border-width: 0px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
	position: static;
	text-shadow: 3px 5px 2px rgba(0,0,0,0.75);

		}

		.btn-i {
			/* background:    linear-gradient(#405de6, #e1306c, #FCAF45); */
			background: linear-gradient(#F53B9A, #5b44c4);
			border: 0.2em ridge white;
			border-width: 03px 03px 03px 03px;
		  color: white;
		  backface-visibility: hidden;
		position: relative;
		cursor: pointer;
		white-space: nowrap;
		width: 2.65em;
		height: 2.5em;
		border-radius: 50%;
		/* padding: 15px 20px 15px 20px; */
		box-shadow: 2px 05px 03px 02px #010101,0px 1px 3px rgba(0%,0%,0%,0.3);
		  color: #fff;
		font-size: 16px;
	
		}

		.btn-i > i {
			font-size: 1em;
			border-radius: 0px;
			border: 0.5px solid black;
			border-width: 0px 0px 0px 0px;
			padding: 0px 10px 0px 10px;
			position: static;
			text-shadow: 3px 5px 2px rgba(0,0,0,0.75);
			  }

			  .btn-s {
				/* background:    linear-gradient(#fedd61, #dfb001); */
				background: linear-gradient(#F53B9A, #5b44c4);
				border: 0.2em ridge white;
				border-width: 03px 03px 03px 03px;
				border-radius: 50%;
			  color: white;
			  backface-visibility: hidden;
			position: relative;
			cursor: pointer;
			white-space: nowrap;
			width: 2.65em;
			height: 2.5em;
			/* padding: 15px 20px 15px 20px; */
			box-shadow: 2px 05px 03px 02px #010101,0px 1px 3px rgba(0%,0%,0%,0.3);
			  color: #fff;
			font-size: 16px;
			}

			  .btn-s > i {
				font-size: 1em;
				border-radius: 0px;
				border: 0.5px solid black;
				border-width: 0px 0px 0px 0px;
				padding: 0px 10px 0px 10px;
				position: static;
				text-shadow: 3px 5px 2px rgba(0,0,0,0.75);
				  }

				  .btn-e {
					/* background: linear-gradient(#c8cddc, #4f537d); */
					background: linear-gradient(#F53B9A, #5b44c4);
					border: 0.2em ridge white;
					border-width: 03px 03px 03px 03px;
					border-radius: 50%;
				  color: white;
				  backface-visibility: hidden;
				position: relative;
				cursor: pointer;
				white-space: nowrap;
				width: 2.65em;
				height: 2.5em;
				/* padding: 15px 20px 15px 20px; */
				box-shadow: 2px 05px 03px 02px #010101,0px 1px 3px rgba(0%,0%,0%,0.3);
				  color: #fff;
				font-size: 16px;
				}
	
				  .btn-e > i {
					font-size: 1em;
					border-radius: 0px;
					border: 0.5px solid black;
					border-width: 0px 0px 0px 0px;
					padding: 0px 10px 0px 10px;
					position: static;
					text-shadow: 3px 5px 2px rgba(0,0,0,0.75);
					  }

.fixed_header
{
	position: fixed;
	top: -70px;
	left: 0;
	width: 100%;
	height: 85px;
	background: #1C205F;
	border-bottom: solid 2px #F53B9A;
	z-index: 100;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.fixed_header.scrolled
{
	top: 0;
}

[class^="flaticon2-"]:before, 
[class*=" flaticon2-"]:before, 
[class^="flaticon2-"]:after, 
[class*=" flaticon2-"]:after {
		font-family: flaticon2;
		font-size: 2.05em !important;
}

[class^="flaticon1-"]:before, 
[class*=" flaticon1-"]:before, 
[class^="flaticon1-"]:after, 
[class*=" flaticon1-"]:after {
		font-family: flaticon1;
		font-size: 2.05em !important;
}

.hamburger
{
	display: none;
	padding: 5px;
	cursor: pointer;
}
.hamburger i
{
	font-size: 22px;
	color: #ffffff;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover i
{
	color: #F53B9A;
}

br.tab {
	margin-left: 10px;
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	visibility: hidden;
	opacity: 0;
	z-index: 101;
}
.menu_door
{
	position: absolute;
	top: 0;
	width: 0;
	height: 100%;
	background: rgba(25,10,73,0.9);
}
.door_left
{
	right: 50%;
}
.door_right
{
	left: 50%;
}
.menu_content
{
	width: 100%;
	height: 100%;
	opacity: 0;
}
.menu_close
{
	position: absolute;
	top: 60px;
	right: 60px;
	font-size: 12px;
	font-weight: 100;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close:hover
{
	color: #F53B9A;
}
.menu_nav ul li:not(:last-of-type)
{
	margin-bottom: 5px;
}
.menu_nav ul li a
{

	font-family: 'capistranobfw01-regularRg', 'Brush Script MT', cursive;
	font-size: 30px;
	font-weight: 100;
	color: #ffffff;

}
.menu_nav ul li a:hover
{
	color: #F53B9A;
}
.menu_social
{
	position: absolute;
	bottom: 30px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 371px;
}
.home_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #7800ff;
	background-image: linear-gradient(to right, rgba(120,0,255,0.34), rgba(255,14,59,0.34));
	background: #7800ff;
	background: linear-gradient(to right, rgba(120,0,255,0.34), rgba(255,14,59,0.34));
}
.home_container
{
	height: 100%;
	padding-top: 162px;
}
.home_title h1
{
	font-size: 60px;
	font-weight: 700;
	color: #ffffff;
}

/*********************************
6. Contact
*********************************/

.contact
{
	background: #ffffff;
}
.custom_container_wrap > .container
{
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
}
.custom_container_wrap > .container > .row
{
	margin-left: 0;
	margin-right: 0;
}
.custom_container_wrap > .container > .row > div[class^='col']
{
	padding-left: 0;
	padding-right: 0;
}
.contact_row
{
	margin-top: 30px;
}
.contact_content
{
	padding-left: 183px;
	padding-right: 30px;
	padding-top: 100px;
	padding-bottom: 100px;
}
.contact_title
{
	font-size: 24px;
	font-weight: 700;
	color: #2c2c2c;
	margin-top: 36px;
}
.contact_info_list ul li
{
	position: relative;
	padding-left: 27px;
	font-size: 15px;
	font-weight: 400;
	color: #2c2c2c;
}
.contact_info_list ul li:not(:last-of-type)
{
	margin-bottom: 22px;
}
.contact_info_list ul li::before
{
	display: block;
	position: absolute;
	top: 6px;
	left: 0;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: #ff0e3b;
	content: '';
}
.contact_form_container
{
	margin-top: 76px;
}
.contact_input
{
	height: 62px;
	width: 100%;
	background: #f2f2f9;
	padding-left: 34px;
	border: none;
	outline: none;
	font-size: 15px;
	font-weight: 600;
	color: #2c2c2c;
}
.contact_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #2c2c2c !important;
}
.contact_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #2c2c2c !important;
}
.contact_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #2c2c2c !important;
} 
.contact_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #2c2c2c !important;
}
.contact_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #2c2c2c !important;
}
.contact_form_row > div:not(:last-of-type)
{
	margin-bottom: 25px;
}
.contact_textarea
{
	height: 223px;
	padding-top: 20px;
}
.contact_button
{
	width: 216px;
	height: 65px;
	background: #ff0e3b;
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.075em;
	border: none;
	outline: none;
	cursor: pointer;
	border: solid 2px #ff0e3b;
	margin-top: 25px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.contact_button:hover
{
	background: transparent;
	color: #ff0e3b;
}
.contact_map_container
{
	height: 100%;
	padding-left: 110px;
}
.map
{
	height: 100%;
}
.google_map
{
	width: 100%;
	height: 100%;
	min-height: 600px;
}
.map_container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#map
{
	width: 100%;
	height: calc(100% + 30px);
}

/*********************************
7. Footer
*********************************/

.footer
{
	background: #190a49;
}
.footer_content
{
	padding-top: 99px;
	padding-bottom: 30px;
}
.footer_logo a
{
	display: inline-block;
	position: relative;
}
.footer_bar
{
	height: 56px;
}
.copyright
{
	font-size: 11px;
	font-weight: 700;
	color: #443586;
}
.footer_row
{
	margin-top: 59px;
}
.footer_icon
{
	width: 95px;
	height: 95px;
	border-radius: 50%;
	background: #0f0432;
}
.footer_icon > div
{
	width: 42px;
	height: 42px;
}
.footer_icon > div img
{
	max-width: 100%;
	max-height: 100%;
}
.footer_title
{
	margin-top: 33px;
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	line-height: 1.2;
}
.footer_list
{
	margin-top: 25px;
}
.footer_list ul li:not(:last-of-type)
{
	margin-bottom: 15px;
}
.footer_list ul li
{
	font-size: 14px;
	font-weight: 700;
	color: rgba(255,255,255,0.38);
	text-transform: uppercase;
}